[2022-04-28 15:59] #451 closed, assigned to ChrisCummins

[2022-04-28 17:47] ChrisCummins commented on #667
Hi @uduse,

Yes, it is safe to delete `$COMPILER_GYM_CACHE` between runs. Aside from the `benchmark-scrtach-*` directories, the cache is used to cache downloads like dataset and runtime files. The next time you run CompilerGym those files will be re-downloaded.

Cheers,
Chris

[2022-04-28 17:47] #667 closed, assigned to ChrisCummins

[2022-04-28 17:57] sogartar opened #669 "Split the compiler_gym package into multiple packages"
## 🚀 Feature

It would be beneficial to split the `compiler_gym` package into multiple packages. Currently, everything is built and installed together with the core runtime stuff + the environments. The environments should be installed separately per user's choice.

## Motivation

I don't know if there is a goal for proliferation of environments and where they will be hosted, but the facilities fo

[2022-04-28 18:31] ChrisCummins opened #671 "[llvm] Remove benchmark scratch directory"
## 🚀 Feature

Remove the concept of per-benchmark "scratch" directories. This adds start up overhead and causes problems with missing cleanup logic when environments crash.

[2022-04-29 19:56] uduse commented on #667
Re-downloading things sounds very undesirable for me. Downloading those files could take hours (have to go through a bunch of our company's firewalls and proxies) and wouldn't that dramatically slows down the process?

[2022-05-02 22:43] ChrisCummins commented on #667
Ah okay. If you want to see how much stuff would be re-downloaded, see `/path/to/compiler_gym/cache/downloads`.

[2022-05-06 22:35] ChrisCummins commented on #669
I think splitting the cmake build into separate packages is great for solving the problem of conflicting version of LLVM, and for making it possible to develop a new environment without needing to fork the main CompilerGym repo.

One clarification is that I think this split should only apply to the build system. The Python wheel (as installed by `pip install compiler_gym`) should include all of th

[2022-05-09 14:41] sogartar commented on #669
Do you think we should add the C++ development library for the gRPC service to the python package?
The other option is the user to build it from source and install it through CMake directly.

[2022-05-09 17:09] ChrisCummins commented on #669
If I understand the question properly, I think the C++ development libraries should be kept separate from the python wheel. So in C++ / CMake land you can do:

[code]

and that would provide everything needed to build a new compiled service. For the python runtime you would install that independently using:

[code]

Cheers,
Chris

[2022-05-09 18:19] #636 closed, assigned to sogartar

[2022-05-09 22:09] uduse commented on #667
What if under my cache directory there's no such `downloads` sub-directory?

[2022-05-09 22:31] uduse commented on #326
<img width="937" alt="Capture" src="https://user-images.githubusercontent.com/4717005/167509045-efaa73ea-d7fc-4a09-b91b-9c3b099ff14b.PNG">

How about the orphan executables like these? Should we also kill them manually (using grep, xargs, kill command)?

[2022-05-10 14:34] ChrisCummins commented on #326
Yes, those are safe to kill. Those processes are cBench binaries which are used to compute `runtime`. If they refuse to complete within a specified timeout (default 5 min), the process will be abandoned. Adding proper subprocess timeout would be a nice feature. The code is here:

https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/util/Subprocess.cc#L62-L66

Cheers,
Chris

[2022-05-10 15:44] ChrisCummins opened #677 "compiler_gym::util::LocalShellCommand::checkCall() does not kill process on timeout"
## 🐛 Bug

If the process fails to terminate within the specified timeout period, it is abandoned:

https://github.com/facebookresearch/CompilerGym/blob/63dbfac72d9f888adf8332a73fefa34faae9b2f0/compiler_gym/util/Subprocess.cc#L62-L66

Instead, the

## To Reproduce

This unit test covers the timeout case:

https://github.com/facebookresearch/CompilerGym/blob/63dbfac72d9f888adf8332a73fefa34faae9b2f0/

[2022-05-12 12:35] vladaindjic opened #678 "Implementation of State Transition Dataset Wrapper"
## ❓ Questions and Help

Hi, @ChrisCummins ,

Sorry to interrupt. While reading [the CompilerGym paper](https://arxiv.org/pdf/2109.08267.pdf), I encountered on the State Transition Dataset Wrapper "_that asynchronously populates the Steps and Observations tables of a state transition database upon every step of an environment_." The populated dataset is then used for [offline training](https://git

[2022-05-12 17:54] #671 closed, assigned to ChrisCummins

[2022-05-12 18:33] ChrisCummins commented on #678
Hey @vladaindjic, good question. I haven't get got around to open sourcing it. Let me copy over the version from my internal repo now

[2022-05-12 18:48] ChrisCummins commented on #678
Okay, I filed #679. It's the wrapper I used to generate the dataset we released, and isn't super extensible. If you want to change what is recorded, you would need to hack on the source. One caveat - this is a *synchronous* implementation - so the overhead of storing entries is added to compiler interactions. The async implementation still needs more work and tweaking.

Cheers,
Chris

[2022-05-12 19:48] mostafaelhoushi opened #680 "Create PyTorch Dataset(s)"
Here I will track progress of creating PyTorch dataset.
The .bc files I have so far come from the main PyTorch as well as its third-party projects. So actually we can create multiple datasets out of it.

You can look at the .bc files [here](https://drive.google.com/drive/folders/1Udh8jc01NpBwYEsScK1dXovUU_VAdoX0?usp=sharing) [UPDATE: this [directory](https://drive.google.com/drive/folders/1z6Dueoc

[2022-05-13 07:12] vladaindjic commented on #678
Hi, @ChrisCummins ,

Thanks a lot for your prompt response. :) No problem if some hack needs to be applied in order to adapt the wrapper.

Cheers,
Vladimir

[2022-05-14 01:13] mostafaelhoushi commented on #680
The previous build was not complete, so I re-ran it and created another Google Drive that has around ~1000 more bitcode files:
https://drive.google.com/drive/folders/1z6DueocWlfxG2ckftGrcgLoyZLOELkuQ?usp=sharing

[2022-05-16 15:28] ChrisCummins commented on #667
Ah, slight correction on my previous comment. `~/.local/cache/compiler_gym/downloads` is used to cache downloaded files. In the case of the datasets, they are downloaded as tarballs and then unpacked to `~/.local/share/compiler_gym` (see [here](https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/util/runfiles_path.py#L58)). So if you delete `~/.local/cache/compiler_gym`,

[2022-05-16 20:44] #678 closed, assigned to ChrisCummins

[2022-05-16 20:53] ChrisCummins opened #681 "🏆🥇 CompilerGym Code Optimization Competition finishes June 5! 🥇🏆"
**tldr;** We are running the first code optimization competition at [MLArchSys'22](https://sites.google.com/view/mlarchsys/isca-2022/compiler-optimization-competition)! All are welcome to participate. Details [here](https://sites.google.com/view/mlarchsys/isca-2022/compiler-optimization-competition).

# Important Dates
- Competition Starts: ~~March 21, 2022~~
- Test Set Release: ~~May 17th, 2022~~

[2022-05-17 21:29] ChrisCummins commented on #681
The evaluation script has been released and we are now open for your submissions! The deadline to submit is ~~May 31st~~ **June 5th, Midnight Anywhere on Earth**. Good luck!

[2022-05-18 01:48] mostafaelhoushi commented on #680
The steps below only work for Linux:
1. Get the PyTorch Source
[code]
2. Build PyTorch Source Code (as is)
[code]
3. You have to options to create `~/torch.build.sh`:
- Option 1: Download this [~/torch.build.sh](https://drive.google.com/file/d/1t6JD4WVAzO3Yz7kaiaC2xlqfWPimGq0r/view?usp=sharing) to your Linux home directory
- Option 2: Download and run [build-pytorch-bc.sh](https://gist.github.com/

[2022-05-18 01:54] mostafaelhoushi commented on #680
Chris already created a [script](https://dl.fbaipublicfiles.com/compiler_gym/mlarchsys2022/mlarchsys2022.py) to do that

[2022-05-18 01:57] mostafaelhoushi commented on #680
We do have an issue that the bitcode files throw an error when we process them with the [script](https://dl.fbaipublicfiles.com/compiler_gym/mlarchsys2022/mlarchsys2022.py) on Mac.

One solution might be to build the bitcode files on Mac, but that would mean we have different .bitcode files for different platforms.

Another solution might be to debug the bitcode files and/or the PyTorch build scri

[2022-05-18 02:18] mostafaelhoushi commented on #680
I have just updated the description with an extensive list of third-party libraries that were included in the generated bitcodes. So we can create a separate dataset for each benchmark. Also, hopeully some of those benchmarks can run on both Mac and Linux and won't get the error we have observed.

[2022-05-19 13:43] biandangan opened #685 "[MLArchSys2022] Error "MachO doesn't support COMDATs" for mlarchsys2022.py"
HI,
I downloaded the script and run it with "python mlarchsys2022.py".
% python mlarchsys2022.py
This script version: 0.0.1
Logging results to: /Users/xxx/logs/compiler_gym/mlarchsys-competition-2022/2022-05-19/21-01-07/results.csv
Using agent budget: short
Agent is deterministic? False
Number of bitcodes to optimize: 1

Evaluating benchmark 1 of 1 ...
Traceback (most recent call last):
  File "/p

[2022-05-19 20:13] ChrisCummins commented on #685
Hi @valuenumbering, unfortunately our test set only supports Linux. Do you have access to a Linux environment? If not, there is a docker container for CompilerGym, though I haven't updated it to v0.2.3. Let me know if you would like this.

Apologies for omitting this constraint from the instructions, I'll update the site.

Cheers,
Chris

[2022-05-19 20:13] #685 closed, assigned to ChrisCummins

[2022-05-24 17:10] ChrisCummins opened #688 "[docs] Cannot generate MlirEnv class documentation because it is not defined"
## 🐛 Bug

The `MlirEnv` class is only conditionally included in the compiler_gym package when built from source by CMake with the appropriate config option set. This means that `make docs` fails for MlirEnv.

## To Reproduce

Steps to reproduce the behavior:

1. `make docs`
2. Observer `AttributeError: MlirEnv` error:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: v0.2.3
-

[2022-05-27 17:21] mostafaelhoushi opened #690 "Make `runfiles_path` Use the Path of Caller Function as a Fallback"
`runfiles_path` has been causing me issues when trying to get the same program working on:
- bazel build
- CMake build
- running an out-of-tree Python script
- running an in-of-tree Python script that is not installed when using pip install

I suggest to:
- make `runfiles_path` check if the path exist for each of its options, and if not, try some fallbacks
- use the method proposed [here](https://

[2022-05-27 21:09] mostafaelhoushi opened #691 "Avoid Duplicating Environment Setup Code"
When extending CompilerGym with an environment, currently, we are duplicating the same code in [__init__.py](https://github.com/mostafaelhoushi/CompilerGym/blob/enable-examples-tests-in-ci/examples/example_compiler_gym_service/__init__.py) that is required by bazel, into the [demo_without_bazel.py](https://github.com/mostafaelhoushi/CompilerGym/blob/enable-examples-tests-in-ci/examples/example_com

[2022-05-30 00:58] mostafaelhoushi opened #693 "Run all bazel tests in CI?"
Can we add to the CI:
- `bazel test //examples/...` to run all bazel tests in the `examples` directory
- or even `bazel test ...` to run all bazel tests in the repo

[2022-05-31 15:49] dejangrubisic opened #694 "Adding parametric actions"
## 🚀 Feature

Is it possible to add parametric actions to the user-defined action space? This would enable the user to specify say actions like loop unroll X, copy input X, and many more.

## Motivation

This feature is necessary for 2 kinds of actions I want to implement for LoopTool. One is split loop by X and another is copy input X (X here is the id of variable we want to copy). For split acti

[2022-05-31 17:47] mostafaelhoushi commented on #693
@ChrisCummins can we do that? Do you know where in the ci.yaml file or Makefile we can add the `bazel test` command?

This will make it easier to enable example tests in CI.... then in the future we can enable examples tests without bazel in CI

[2022-05-31 18:43] ChrisCummins commented on #693
Yes, it is totally do-able. I removed `bazel test` jobs in https://github.com/facebookresearch/CompilerGym/pull/392. It would be worth reading through the PR message and https://github.com/facebookresearch/CompilerGym/issues/385 for the rationale.

Would it be possible to use the [build-linux-cmake](https://github.com/facebookresearch/CompilerGym/blob/development/.github/workflows/ci.yaml#L43) job

[2022-05-31 21:36] ChrisCummins commented on #694
I believe so, thanks to some recent improvements by @sogartar. An action space contains a `Space`:

https://github.com/facebookresearch/CompilerGym/blob/d5e1dc11b036ecc48c0ae85e90fc52fd5d10a5a4/compiler_gym/service/proto/compiler_gym_service.proto#L360-L363

And a `Space` can be an arbitrarily nested set of dicts/lists/floats/categoricals etc:

https://github.com/facebookresearch/CompilerGym/blob/

[2022-05-31 21:44] ChrisCummins opened #696 "Protobuf >= 4.21.0 is incompatible with CompilerGym wheel"
## 🐛 Bug

Protobuf has released a new major version with breaking changes. CompilerGym requires protobuf>=3.13.0, which means that a fresh install grabs protobuf 4.21. The problem only

## To Reproduce

Steps to reproduce the behavior:

1. Install CompilerGym:
[code]
2. Bump your protobuf version:
[code]
3. Try and use CompilerGym:
[code]

## Expected behavior

[code]

## Environment

Please fill

[2022-05-31 21:45] ChrisCummins commented on #696
# Workaround

After installing CompilerGym, downgrade your version of protobuf:

[code]

[2022-05-31 22:05] #696 closed, assigned to ChrisCummins

[2022-05-31 22:13] ChrisCummins commented on #691
SGTM!

[2022-05-31 22:16] ChrisCummins commented on #690
I think that runfiles_path() is fine for these two cases:

(If not, lemme know!)

For these two cases:

Do you want `runfiles_path()`? Or could you just use `os.path.dirname(__file__)` to get the directory of the current script, and use a relpath from that?

Cheers,
Chris

[2022-06-01 00:37] dejangrubisic commented on #694
Thanks, Chris, I will take a look and come back to you if I have a question.

Cheers,
Dejan

[2022-06-01 14:26] mar-galho commented on #283
Hi @ChrisCummins, I'd like to work on this.

[2022-06-01 14:58] ChrisCummins commented on #283
Great, thanks @ricardoprins!

[2022-06-06 14:45] nluu175 commented on #148
Hi @ChrisCummins , I would like to work on this feature!

[2022-06-06 19:22] #694 closed, assigned to ChrisCummins

[2022-06-06 19:23] #638 closed, assigned to ChrisCummins

[2022-06-06 19:24] #639 closed, assigned to ChrisCummins

[2022-06-07 16:52] #681 closed, assigned to ChrisCummins

[2022-06-07 16:54] ChrisCummins commented on #148
Hi @nluu175, @thecoblack wrote a PR to address this #692

[2022-06-09 05:22] mostafaelhoushi commented on #566
According to this, the frequency of hanging might reduce tenfold by upgrading to bazel 5.1.0:
https://github.com/bazelbuild/bazel/issues/15094

[2022-06-09 15:14] ChrisCummins commented on #566
Maybe, but that bug doesn't look like its quite the same symptoms. In our case, bazel reports that everything has finished building.

Cheers,
Chris

[2022-06-09 18:05] mar-galho commented on #283
Hi,

In defining the kwarg will we want to preserve a timeout default of 300, as it is here?

https://github.com/facebookresearch/CompilerGym/blob/641e8cf6e3199b1bb7202415e02e78bf9e654f93/compiler_gym/service/connection.py#L46-L49

[2022-06-09 18:41] ChrisCummins commented on #283
Yep, that's right!

Cheers,
Chris

[2022-06-09 19:25] mostafaelhoushi commented on #566
_Continuing the discussion from the PR: https://github.com/facebookresearch/CompilerGym/pull/697#issuecomment-1151248771_

Yes, I can easily reproduce the problem on my Linux VM. I am trying to get a more verbose log or debug CMake but without success.

I tried:
- `--log-level=VERBOSE`
- `-DCMAKE_VERBOSE_MAKEFILE=ON`
- `--debug-output`
- `--trace`
but didn't really get much information.

[2022-06-09 19:25] mostafaelhoushi commented on #566
`--log-level=VERBOSE` does indicate that the hang seems to happen during (or after?) running this step:
[code]
then I tried to look at the CMake generated files in `~/cmake_build/external/programl` but I am not sure what to make out of them.

[2022-06-09 19:29] mostafaelhoushi opened #702 "Replace `compute_programl` with `compute_observation Programl /path/to/bitcode.bc`"
I need to remove `compute_programl` that was created for the `opt_loops` environment and use `compute_observation Programl` instead.

[2022-06-09 21:58] mostafaelhoushi commented on #566
In this PR #703, I removed the `USES_TERMINAL TRUE` option from the bazel build command in line 47, and `linux-cmake-build` job took 34 minutes!
https://github.com/facebookresearch/CompilerGym/blob/45fb0a098261cf9d52ca2ad4222cfad65263847e/external/programl/CMakeLists.txt#L31-L48

[2022-06-09 22:17] ChrisCummins commented on #566
Ah amazing, well done!!

[2022-06-09 23:51] #566 closed, assigned to ChrisCummins

[2022-06-10 00:13] #148 closed, assigned to ChrisCummins

[2022-06-13 16:55] mostafaelhoushi opened #706 "`test-linux-cmake` takes >60 minutes"
## 🐛 Bug

Although `build-linux-cmake` is now taking <30 minutes, `test-linux-cmake` takes >60 minutes

## To Reproduce

Steps to reproduce the behavior:

1. Create a PR
2. Watch the CI

We can take a look at the build log here: https://github.com/facebookresearch/CompilerGym/runs/6864888281?check_suite_focus=true

## Expected behavior

Looking at the other tests and examples CI jobs of other plat

[2022-06-13 17:12] mostafaelhoushi opened #707 "How to build and access with `loop_unroller` and `opt_loops` binaries in CI"
I think that we should do the following:
- The `loop_optimizations_service` example environment should hopefully become a full environment. So I think we can add `opt_loops` binary to the .whl file. If that's the case, should we move `loop_optimizations_service` from `examples` directory to `envs` directory?
- The `example_unrolling_service` is meant to be a small example to guide users on how to

[2022-06-13 17:51] ChrisCummins commented on #706
Thanks for uncovering this. If you look at the end of the build report, the slowest 5 tests are printed:

[code]

I'm not sure why the loop_tool test should be taking so long (@bwasti?).

For the validation tests, the problem is it's compiling each benchmark and running it 20+ times (using different datasets and different combinations of asan/tsan/msan etc). I have some ideas on how we could speed

[2022-06-13 18:16] ChrisCummins commented on #707
I agree. It'll need a reference page, like [this](https://compilergym.com/llvm/index.html)

[2022-06-13 18:28] ChrisCummins opened #709 "🔥 CI/www-build is on fire"
Issue to track the build failure of the CI/www-build job. Example error:

[code]

@sahirgomez1 agreed to take a look at this later this week.

[2022-06-13 22:22] #631 closed, assigned to ChrisCummins

[2022-06-14 17:31] nluu175 commented on #648
Hi. I tried to reproduce the behavior but it did not work. I found that there are something wrong in the code snippets that @JD-ETH provided.

For `env.step(0)`, `done` should be the third variable (currently second one in the provided code). Also, `done` is automatically assigned `True` as the beginning so the loop will not execute.

The way I reproduced the code is as follows:
[code]
This code s

[2022-06-14 18:10] nluu175 opened #714 "Failed installing the required toolchain on Ubuntu 20.04"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Building the project from source following the guide at https://github.com/facebookresearch/CompilerGym/blob/development/INSTALL.md
2. Got the error when trying to install the required toolchain.

## Expected behavior

I got the error `E: Package 'clang-9' has no installation candidate` when installing the toolchain using the provided

[2022-06-14 20:37] ChrisCummins commented on #714
Hi @nluu175, if you remove the version suffix from `clang-9` to instead install `clang`, does that work? That would make the command from the INSTALL instructions:

[code]

[2022-06-14 22:43] nluu175 commented on #714
Hi Chris! After removing the version from clang, it worked for me. However, `make install`, after running for awhile, stills said that the `Build did Not complete succesfully`.

[2022-06-14 23:05] ChrisCummins commented on #714
Can you provide the full output?

[2022-06-15 17:09] nluu175 commented on #714
Hi Chris! This is the output I got from running `make test` https://pastebin.com/sQGxWZvk.

[2022-06-16 02:09] ChrisCummins commented on #714
Hi @nluu175, hmm, that's an interesting one! I haven't seen that error before.

Could you try making sure that the standard library is installed?

[code]

Try that, and then run `make distclean` followed by `make test`. If it fails again, please attach the full output again.

Cheers,
Chris

[2022-06-16 18:54] nluu175 commented on #714
Hi @ChrisCummins . Thank you for your response. I tried the command you suggested but still got the errors for `make test`. Here is the output I got https://pastebin.com/iRJHtVbE

Update: I got some helps from a friend and my `make test` seems to work now. It was a problem with conda missing `ibstdc++.so.6`. Thank you so much for your help!

[2022-06-20 21:07] ChrisCummins commented on #714
Hmm, I've not seen this error before, so I'm not sure what to suggest. The problem is caused by the underlying grpc dependency. A quick google unearthed a similar problem reported not too long ago, you could try the proposed solution: https://github.com/BVLC/caffe/issues/4953#issuecomment-258749007

Cheers,
Chris

[2022-06-20 22:57] uduse commented on #614
Hi @ChrisCummins sorry I'm still not sure how this is computed.

Say we have initial state cost 100, baseline cost 50, and new state cost 20, then the improvement is (100 - 20) / (100 - 50) = 1.6, right?

What is the "scaling factor" you are talking about? Is it the denominator of the previous formula? So if the initial state cost 100, baseline cost 200, and new state cost 20, does this makes the

[2022-06-20 23:02] ChrisCummins commented on #614
Yes, I believe those calculations are correct.

You could instantiate a `BaselineImprovementNormalizedReward` (you may have to mock the inputs) and call `update()` on it to verify.

Cheers,
Chris

[2022-06-20 23:03] ChrisCummins commented on #614
Closing this as having answered the original question, but happy to continue the discussion

[2022-06-20 23:03] #614 closed, assigned to ChrisCummins

[2022-06-20 23:03] #714 closed, assigned to ChrisCummins

[2022-06-20 23:03] uduse opened #718 ""Code Size" means different things in the paper vs in the documentation?"
Doc says "code size" is text size
![image](https://user-images.githubusercontent.com/4717005/174687035-e43e07d5-0e15-4379-808b-9b50883fc81d.png)

Paper says "code size" is IR size, "binary size" is text size
![image](https://user-images.githubusercontent.com/4717005/174687068-0ca985a4-7018-48e3-8c60-288fada3c104.png)

[2022-06-20 23:06] ChrisCummins commented on #718
Good catch. I'd suggest renaming the header in the documentation site to `Object File Size`, which is less ambiguous than "codesize".

Cheers,
Chris

[2022-06-20 23:39] uduse opened #719 "Binary size baseline policy almost always do worse"
It seems that for object text size optimization target, the baseline policy almost always do worse than the initial state. Based on the discussion from #614, this lead to absurdly high value for improvements if we use BaselineImprovementNormalizedReward as the metric. In my latest experiments for this target on cBench, the geomean improvements of my algorithm is `1417x`, so much more that the repo

[2022-06-21 21:00] uduse commented on #719
Just a little bit more context:

[In the auto-tuner example](https://github.com/facebookresearch/CompilerGym/blob/d22fd363845b9f1958d7904b911516470f8d1b55/examples/llvm_autotuning/optimization_target.py), the metric is computed based on observation. [In the leaderboard example](https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/leaderboard/llvm_instcount.py), the metric

[2022-06-24 18:24] #283 closed, assigned to ChrisCummins

[2022-06-24 18:46] ChrisCummins commented on #719
Interesting! I think this is worth digging into more. A couple of prelim questions:

1. Is it just cBench or are other datasets affected?
2. Does your finding hold if you produce an executable rather than an object file?

The easiest way to test the second question would be to hack the code that compiles the IR to an object file to instead generate an exe. To do this, change this line:

https://gi

[2022-06-24 18:51] ChrisCummins commented on #719
Yes, that's right

[2022-06-28 20:19] mar-galho opened #721 "Implement async wrapper for SQLite operations"
The current SQLite wrapper is implemented synchronously, which might yield inefficient results. (this is the targeted class)

https://github.com/facebookresearch/CompilerGym/blob/3a5e439daa5ab0d18ad014cd7e766360ca92263c/compiler_gym/wrappers/sqlite_logger.py#L48

The idea is to implement independence between the two tasks, allowing for more efficient output of the obtained data.

[2022-07-12 15:23] sahirgomez1 commented on #709
Closing this issue with #729

[2022-07-12 15:23] #709 closed, assigned to ChrisCummins

[2022-07-19 03:59] dcy11011 opened #733 "Reproduce baseline in llvm enviornment"
## ❓ Questions and Help

I'm trying to do some imitation learning with CompilerGym's llvm envornment. I want to get the passes taken by optlevel -Oz in llvm, then input them to CompilerGym, and hopefully on all benchmarks this can always produce 1.0 reward on reward space ```IrInstructionCountOz```  so that my RL algorithm can learn from this action sequence. I try to get the passes of -Oz level b

[2022-07-19 17:52] lqwk opened #734 "Running autotuning fails with `Primary config directory not found.`"
## 🐛 Bug

When I tried running the auto tuning script, I get an error saying `Primary config directory not found`. See details below.

## To Reproduce

Steps to reproduce the behavior:

1. Run `make install` from base directory to install from source
2. Run `python setup.py install` from `examples/` to install scripts.
3. Run the following command to run the script

[code]

The full error message

[2022-07-19 18:20] ChrisCummins commented on #734
Thanks for the detailed report. I repro'd the problem on my end and pushed a fix in #735.

I've added a new test to cover this case and catch repressions.

Small thing - step (2) isn't needed (it's run by `make install`).

BTW, I see that you are on macOS. Is this an intel Mac or one of the new Apple M-series chips? We don't yet have a build for the Apple M, though you could use docker

Cheers,
Ch

[2022-07-19 18:42] lqwk commented on #734
Thanks for the fix!
I'm on an intel mac.

[2022-07-19 20:07] #734 closed, assigned to ChrisCummins

[2022-07-25 18:18] jaopaulolc opened #737 "Characterization of benchmarks for the LLVM enviroment"
## 📚 Documentation

At this [link](https://compilergym.com/llvm/index.html#datasets), the documentation mentions that the radial plots show (in clockwise order starting from the top):

- Average number of instructions (top);
- Density of branches (right);
- Density of **arithmetic instructions** (bottom);
- and Density of **memory operations** (left).

However, the correct order seems to be:

- Av

[2022-07-25 21:03] #654 closed, assigned to ChrisCummins

[2022-07-25 21:08] ChrisCummins commented on #737
Hi @jaopaulolc, you're correct, the documentation is wrong! Good catch. Please submit a patch 🙂

Cheers,
Chris

[2022-07-25 21:13] ChrisCummins commented on #733
Hi @dcy11011, this is a good question. Unfortunately there isn't a way to directly convert what the `InstructionCountOz` observation does to a list of actions that your agent can perform, and it may deviate slightly from the `opt` tool. The best thing would be to step through this code:

https://github.com/facebookresearch/CompilerGym/blob/edcf57c2c207ff8556c60de42dea1e2fb639b08c/compiler_gym/envs

[2022-07-26 17:16] #737 closed, assigned to ChrisCummins

[2022-08-01 21:50] #648 closed, assigned to ChrisCummins

[2022-08-04 14:25] lxw-1006 opened #743 "How to add additional optimization options to the action space of llvm?"
The action space of llvm used has 124 optimization options.However, additional options are required in our research,so how should we add these optimization options to the behavior space?
Is it necessary to modify the source code of compiler-gym in order to add additional optimization options?

[2022-08-04 20:48] mar-galho opened #744 "[Bug] NotImplementedError when using env.fork() with SynchronousSqliteLogger"
The code below was executed from a Google Colab Notebook:

[code]

and here's the traceback:

[code]

[2022-08-04 22:36] ChrisCummins commented on #744
Thanks for the report @ricardoprins. I can see that the problem is the SqliteLogger does not yet support `fork()`:

https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/wrappers/sqlite_logger.py#L273-L274

Would you like to have a go at implementing it?

Cheers,
Chris

[2022-08-04 22:40] ChrisCummins commented on #743
Hi @lxw-1006, good question. It depends on what you want the extra actions to do. Are the extra actions implemented in LLVM, or are they separate tools?

If the extra action you want to add can be implemented in Python, then you could consider using a [wrapper class](https://compilergym.com/_modules/compiler_gym/wrappers/core.html#CompilerEnvWrapper) to extend the action space and handle the extra

[2022-08-04 22:43] ChrisCummins commented on #743
Closing this as I have answered the question but please feel free to continue the discussion if you have follow up questions 🙂

[2022-08-04 22:43] #743 closed, assigned to ChrisCummins

[2022-08-05 01:51] lxw-1006 commented on #743
First of all, thank you very much for your response. Secondly, the additional options we want to add can be regarded as a pass of llvm, such as different options of ollvm. Because our goal is to get the optimization sequence with the largest code difference compared with the o0 optimization sequence through compiler gym. So we think we need to modify the source code of compiler gym. Not only do we

[2022-08-05 15:48] mar-galho commented on #744
Sure, I'll try!

[2022-08-05 16:32] mar-galho commented on #744
Would simply doing this work, or are there any problems I'm unaware of?

The `fork()` method is already implemented in the `CompilerEnvWrapper` class, which the logger inherits from.

[code]

[2022-08-06 17:35] paulocoutinhox commented on #598
Why replace Bazel?

[2022-08-06 19:07] ChrisCummins commented on #598
CMake provides simpler integration with other projects. For example, the new MLIR environment requires building LLVM from source using some custom configuration options. We know that other users want to build CompilerGym environments using their own forked version of LLVM. With bazel, this process is quite complex. With CMake, it is simpler.

Cheers,
Chris

[2022-08-06 19:27] paulocoutinhox commented on #598
Thanks.

[2022-08-09 10:26] dcy11011 commented on #733
Thanks a lot for your advice! I checked the code you mentioned and made a pass list to immitate what these llvm functions do. It performs much better that the one i get from `opt --debug-pass=Arguments` but still can't produce exactly 1.0 reward.

 I noticed that many passes need parameters and they are given different parameters in different places in `populateFunctionPassManager` and `populateMo

[2022-08-09 10:42] dcy11011 opened #745 "llvm-stress-v0/173 cause backend crash"
## 🐛 Bug

CompilerGym backend crashed when llvm-v0 enviornment try to load benchmark `generator://llvm-stress-v0/173`

## To Reproduce

[code]
The traceback is:
[code]
(This was followed by a long period of clang's error message)

## Environment

- CompilerGym: 0.2.4
- How you installed CompilerGym (pip, source): pip
- OS: Ubuntu 20.04.4 LTS (x86_64)
- Python version: 3.9.1

[2022-08-09 17:54] #677 closed, assigned to ChrisCummins

[2022-08-09 18:01] ChrisCummins commented on #745
Hi @dcy11011, thanks for the report. Since [llvm-stress](https://llvm.org/docs/CommandGuide/llvm-stress.html) is a tool used to generate random IRs for testing LLVM, it is "normal" behavior for it to occasionally break the compiler 🙂 The workaround is to simply catch `compiler_gym.errors.BenchmarkInitError` errors and skip it to try a different program:

[code]

You can expect this error to be tri

[2022-08-09 18:01] #745 closed, assigned to ChrisCummins

[2022-08-09 18:40] ChrisCummins commented on #733
That's great! Could you share the list of actions here?

Yes we do not yet support parameterizing passes. That would be an interesting extension, though would require some thought as to how to best expose that through the action space.

Keep us posted 🙂

Cheers,
Chris

[2022-08-09 18:42] ChrisCummins commented on #744
Not quite. You would need to make sure to construct a new `SliteLoggerWrapper` class and pass in the right [constructor arguments](https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/wrappers/sqlite_logger.py#L102-L108) so that the forked environment writes to the same database.

Cheers,
Chris

[2022-08-09 18:45] ChrisCummins commented on #743
That sounds really interesting. In that case, take a look at the code pointers above for expanding the action space.

To add a new reward space you expose this through observations (i.e. the instruction count reward is just the change in instruction count observation from one step to the next). Here's your starting point for adding a new observation space:

https://github.com/facebookresearch/Comp

[2022-08-09 21:00] nluu175 opened #747 "episode_reward does not work properly when env wrapped in SynchronousSqliteLogger"
## 🐛 Bug

Here is the code I ran on Google Colab to create the environment.

[code]

and to produce the steps:

[code]

Following the above code snippets will always return `episode_reward` equals to `0` for every step.
However, the environment works normally when removing `SynchronousSqliteLogger` wrapper.

[2022-08-10 04:45] dcy11011 commented on #733
Sure, but I'm sorry that I found I mistakenly took the result of my experimental removal of `loop-rotate` as the result of the original list of actions. I tested the new action list (which obtained by reading the code) again and found it is actually very similar to the previous one (which obtained by `opt` tool in my first post). Its optimization effect is also similar to previous one (I tested it

[2022-08-10 04:58] dcy11011 commented on #745
Many thanks! It dose raised `BenchmarkInitError`. I missed it as it is surrounded by a bunch of clang errors. I noticed there're benchmarks causing errors in Anghabench, too. I'll just skip all  these benchmarks as you suggested :)

[2022-08-11 18:40] youweiliang opened #749 "Unexpected behaviors of env.fork()"
## 🐛 Bug

Expect the observations and rewards of the forked environment the same as those of the original environment when the same action is applied, but they could be different.

## To Reproduce
Run the tests below to reproduce

[code]

## Expected behavior

The forked environment should produce the same observations/rewards as the original environment when the same action is applied.

## Enviro

[2022-08-11 21:35] ChrisCummins opened #750 "RL examples test is broken on CI"
## 🐛 Bug

Looks like a breaking change in a dependency. CI logs:

[code]

[2022-08-11 23:23] youweiliang commented on #749
Created PR to reproduce the issues.
https://github.com/facebookresearch/CompilerGym/pull/751#issue-1336588351

[2022-08-15 15:24] lqwk opened #756 "Issue with `runtime_observation_count`"
## ❓ Questions and Help

As mentioned in our previous communications, I tried adding debugging logs into the code to print out the `runtime_observation_count` and corresponding callstacks to debug why we are seeing only 1 observation for starting runtimes.

See the debug logs in this [branch](https://github.com/lqwk/CompilerGym/tree/debug).

## Repro

The command I tested this with is:

[code]

an

[2022-08-16 08:57] thecoblack commented on #721
Hi @ricardoprins @ChrisCummins, I was checking this issue and I would like to try. Can I take it?

[2022-08-16 18:00] ChrisCummins commented on #721
@ricardoprins, are you taking a look at this or are you happy for @thecoblack to?

Cheers,
Chris

[2022-08-16 18:01] mar-galho commented on #721
He can tackle it, no prob

[2022-08-16 18:05] ChrisCummins commented on #756
Hey, I'm going to need your help debugging this, as logs and stacktraceds aren't useful to me without knowing the details of your code, and the repro command requires changes that aren't in upstream CompilerGym.

Could you please reduce your repro example to a standalone snippet of code that runs against an unmodified CompilerGym package and demonstrates the issue? Then I can run it on my end and

[2022-08-16 21:22] #750 closed, assigned to ChrisCummins

[2022-08-31 23:16] Simarkohli24 opened #764 "Extending Compilergym for WASM (WebAssembly) Compiler"
## ❓ Questions and Help

I'm attempting to extend CompilerGym's functionality to another compiler (WASM compiler), in order to run machine learning optimization tasks. I'm genuinely unsure where to begin after reading the python, C++ examples in example_compiler_gym_service.

Would really love some help or guidance about how to accomplish this.

[2022-09-18 00:23] ChrisCummins commented on #764
Hi @Simarkohli24! I'm very sorry for the slow response, I was on vacation.

For starters, what language are you going to implement your new compiler environment in? Does the code in the example service make sense or is the problem something else?

Cheers,
Chris

[2022-10-05 21:52] ChrisCummins opened #768 "env.fork() raises TypeError: "cannot convert dictionary update sequence element #0 to a sequence""
## 🐛 Bug

`env.reward.spaces` is not deep copy-able. To reproduce:

[code]

[2022-10-10 23:17] chunhualiao commented on #481
I encountered the same problem. My solution was to just upgrade my pip to its latest version:
  python3 -m pip install --upgrade pip

[2022-10-11 15:27] chunhualiao opened #770 "env.observation_space.dytpe AttributeError: 'Box' object has no attribute 'dytpe'"
## 📚 Documentation
https://compilergym.com/getting_started.html#key-concepts

It reads:
[code]
But I got the following:
[code]
Full dump of observation space is:
[code]

[2022-10-11 18:47] ChrisCummins commented on #770
Hi @chunhualiao, can you confirm the version you are using, and installation method?

I couldn't reproduce this problem using the Getting Started colab notebook (which uses the latest stable version from pip):

<img width="1642" alt="cummins-mbp 2022-10-11 at 11 45 52" src="https://user-images.githubusercontent.com/1636663/195174210-af65410d-7283-4c8d-bfa3-ab6d08d14303.png">

Cheers,
Chris

[2022-10-11 21:03] chunhualiao commented on #770
Chris, I tried to reproduce it moments ago also but failed. Not sure what went wrong. I will close this.  Thanks for your attention.

[2022-10-11 21:03] #770 closed, assigned to ChrisCummins

[2022-10-11 21:55] ChrisCummins commented on #770
No worries, thanks for the update!

[2022-10-11 23:52] chunhualiao opened #771 "ERROR: Cannot install -r requirements.txt (line 18), -r requirements.txt (line 2) and numpy<1.20.0 and >=1.19.3 because these package versions have conflicting dependencies."
## 🐛 Bug

## To Reproduce
I am sharing a Collab with all details:
 https://colab.research.google.com/drive/1jv981UXSBLi5LnEyG_zGUeFsb7FXQBTA?usp=sharing

Steps to reproduce the behavior:
- pip install -U compiler_gym
- sudo apt install -y clang clang-format golang libjpeg-dev libtinfo5 m4 make patch zlib1g-dev tar bzip2 wget
- git clone https://github.com/facebookresearch/CompilerGym.git
- cd Comp

[2022-10-12 07:28] ChrisCummins commented on #771
Hi @chunhualiao, thanks for the detailed bug report. The easiest workaround is to remove the `numpy` line from `examples/requirements.txt`. This will fix the dependency resolution error.

I'm working on a better fix in #767 but it's not ready to merge just yet.

Cheers,
Chris

[2022-10-25 21:57] chunhualiao commented on #771
Your workaround works for me. Thanks.

[2022-10-25 21:57] #771 closed, assigned to ChrisCummins

[2022-11-02 04:26] #756 closed, assigned to ChrisCummins

[2022-11-02 04:26] #768 closed, assigned to ChrisCummins

[2022-11-02 06:18] ChrisCummins commented on #706
As of v0.2.5 the `test-linux-cmake` job takes 27min. Most of this time is spent in the `loop_tool` tests, but I don't think we can avoid that. Closing.

[2022-11-02 06:18] #706 closed, assigned to ChrisCummins

[2022-11-02 06:30] ChrisCummins commented on #429
Haven't seen this in a while, closing.

[2022-11-02 06:30] #429 closed, assigned to ChrisCummins

[2022-11-09 03:28] #487 closed, assigned to ChrisCummins

[2022-11-11 13:41] anthony0727 opened #776 "Discussion about future plans after deprecation of OpenAI Gym"
## ❓ Questions and Help

Should we decouple CompilerGym from (past) openai/gym?

https://github.com/openai/gym#important-notice

## Additional Context

I assume you are already aware of it, gym's maintainer has been making breaking API changes.
[code]
https://github.com/Farama-Foundation/Gymnasium/blob/1956e648f951eb64c45440997f8fe484ef3c7138/gymnasium/core.py#L71

I reckon the changes are quite r

[2022-11-11 22:30] ChrisCummins commented on #776
Hi @anthony0727, thanks for starting the discussion on this! The main value we get from gym (<=v0.21) is the familiar API for users, and the type inheritance for plugging in libraries like rllib. We already have a bunch of extensions on top of the base API (e.g. the datasets API, custom spaces, the extra args to `env.step()` and `env.reset()`) which makes the coupling quite loose.

I think we have

[2022-11-13 11:26] RAJULDEV commented on #576
Hey @ChrisCummins I am new to open source.
Can you help me how to get started?
If no one is assigned you can assign me.

[2022-11-21 18:47] ChrisCummins commented on #576
Hey Rajuldev, sure, happy for you to take this!

Here is where the `Command` protocol buffer is defined:

https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/service/proto/compiler_gym_service.proto#L462-L476

For tips on getting started have a read through this document:

https://github.com/facebookresearch/CompilerGym/blob/development/CONTRIBUTING.md

Cheers,
Chris

[2022-11-29 11:43] anthony0727 commented on #776
I agree with the adaptor pattern! discussed with rllib authors and they would likely go with **(3)** too!

We would just need to implement adaptor whenever API changes.

I'll leave this thread open until Nov. and close if it's okay!

Thanks,
Anthony

[2022-11-29 17:45] ChrisCummins commented on #776
Hi @anthony0727, okay that sounds good, thanks for getting back to me. Is there an issue on the rllib repo to track their migration? I may follow their lead.

No need to close this. I'll use it to track the changes and continue discussion 🙂

Cheers,
Chris

[2022-11-30 01:29] anthony0727 commented on #776
There's no specific issue thread for this, but

Looking at commit history from
https://github.com/ray-project/ray/commits/releases/2.2.0/rllib

seems like it would take some time

This is chat from @sven1977

Additionally, I'm getting back to compiler optimization with Programl,
and I remember async env worked seamlessly,
(though I encountered some _unable to pickle lock object_ issue with `cbench

[2022-11-30 18:10] ChrisCummins commented on #776
Hi Anthony,

Thanks for the extra pointers. I'm in no rush to make preemptive changes, especially if those are compatibility breaking, so I'll keep an eye on rllib developments.

No, you'll be fine with the code snipped you posted. What I meant was that for things like vectorized environments or async environments, we may be able to more efficiently implement them as extensions to the C++ layer an