[2020-11-30 23:53] ChrisCummins opened #1 "Make isort order consistent between development environments"
As a workaround we have disabled isort on GitHub Actions.

[2020-11-30 23:56] ChrisCummins opened #2 "Use URIs for benchmarks and {action,observation,reward} spaces"
The RPC interface currently uses a mixture of list indices and names for specifying action/observation/reward spaces. Unify all of those to instead use [URIs](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Definition).

- [ ] Make observation space selector a URI. Suggested URI format:
 * `observation-v0://llvm-v0/static/autophase`, where `llvm-v0/` specifies the service, `static` means

[2020-11-30 23:58] ChrisCummins opened #3 "Re-enable compiler errors promotions once gRPC dependency builds"
I find that promoting unused variable and return warnings to errors very helpful for catching silly mistakes during development:

[code]

However, the new gRPC dependency version triggers these warnings, so I've had to remove them from the `.bazelrc`. Next time we bump this dependency, let's see if we can re-enable them.

[2020-12-01 00:01] ChrisCummins opened #4 "Add LLVM Service API Reference"

[2020-12-15 19:11] odelalleau opened #5 "The documentation link in the README doesn't work"
## 📚 Documentation

The link to the doc in the README (http://facebookresearch.github.io/CompilerGym/) redirects to https://engineering.fb.com/

[2020-12-22 03:40] ChrisCummins commented on #5
Done.

[2020-12-22 03:40] #5 closed

[2020-12-22 04:27] ChrisCummins opened #10 ""UnsupportedOperation: fileno" in Colaboratory"
## 🐛 Bug

`UnsupportedOperation: fileno` error is raised on environment creation in Google Colaboratory.

## To Reproduce

![image](https://user-images.githubusercontent.com/1636663/102848878-cd9fd600-440d-11eb-9f87-fd0cddf66e67.png)

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.0
- How you installed CompilerGym (conda, pip, source): pip
- OS: Colab hosted runtime

[2020-12-22 14:52] gfursin opened #12 "Got the following error: ValueError: Unknown benchmark "file:////home/gfursin/work/susan.bc""
Hi,

Thank you for the project - looks very interesting!

I got stuck with the following example (https://github.com/ctuning/reproduce-milepost-project/issues/11):

[code]

I generated susan.bc but I get the following error:
[code]

Any suggestions how to fix that, please?

Thanks again for your project,
Grigori

[2020-12-22 16:22] ChrisCummins commented on #12
Hi @gfursin,

Woops! sorry about that, I wrote that comment late last night and forgot the API :)

To load the file `~/work/susan.bc` you first need to define a `Benchmark` object:
[code]

You can then start a compiler session for that benchmark:

[code]

And then query the various [program representations](https://facebookresearch.github.io/CompilerGym/llvm/index.html#observation-spaces) using:

[2020-12-22 16:28] ChrisCummins commented on #12
One wrinkle is that CompilerGym is built against LLVM-10, and backwards compatibility of bitcodes is not guaranteed. If you encounter errors on `env.reset(benchmark)`, it may a compatibility issue. If possible, compile the bitcode using clang-10:

[code]

Or in the case of the `susan` benchmark, we have builtin support for the [cBench suite](https://github.com/facebookresearch/CompilerGym/tree/dev

[2020-12-23 01:57] ChrisCummins commented on #10
Unable to reproduce locally in ipython:

[code]

Cheers,
Chris

[2020-12-23 11:43] gfursin commented on #12
Nice!
Thanks a lot @ChrisCummins - it worked fine now!!!
Cool to see the cBench suite there too ;) !
I will continue playing with the framework ...

[2020-12-23 11:43] #12 closed, assigned to ChrisCummins

[2020-12-28 16:14] ChrisCummins commented on #10
Also unable to reproduce locally using jupyterlab:

[code]

![image](https://user-images.githubusercontent.com/1636663/103228017-c0ac4680-4927-11eb-9d73-3bf04fe86f26.png)

[2020-12-28 16:17] ChrisCummins commented on #10
I found that the error is caused by attempting to pipe `subprocess.Popen()` output to `sys.stderr`:

![image](https://user-images.githubusercontent.com/1636663/103228223-27316480-4928-11eb-9195-5431a8f7da48.png)

In colab, `sys.stderr` is a `ipykernel.iostream.OutStream` (same in Jupter lab).

[2020-12-28 17:45] #10 closed, assigned to ChrisCummins

[2020-12-28 17:55] ChrisCummins opened #22 "Github CI actions are flaky because of network errors during bazel fetch"
## 🐛 Bug

When running bazel on GitHub, the repository fetch stage occasionally fails with error `Tried to reconnect at offset xxx but server didn't support it`. Example failure:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Trigger a [CI](https://github.com/facebookresearch/CompilerGym/actions?query=workflow%3ACI) github action.

[2020-12-28 22:30] ChrisCummins commented on #12
Just a follow up on this, I have added a [env.make_benchmark()](https://facebookresearch.github.io/CompilerGym/llvm/api.html#compiler_gym.envs.llvm.make_benchmark) API to the [v0.1.1 release](https://github.com/facebookresearch/CompilerGym/releases/tag/v0.1.1) so that it is easier to create benchmarks now. You can just pass in a list of .c/.cc/.bc files and they will be compiled and linked into an

[2020-12-29 20:22] gfursin commented on #12
Cool!
I tried the new version and it works.
I just had to change ```make_dataset``` to ```make_benchmark``` in your example above - I think there is a typo ;) ...
Thanks, Chris!

[2021-01-04 14:54] ChrisCummins opened #31 "macOS: Homebrew packages can interfere with C++ compilation"
## 🐛 Bug

When boost or protobuf packages are installed via homebrew they can interfere with the CompilerGym build, causing compile-time or load-time errors.

## To Reproduce

Steps to reproduce the behavior:

1. `brew install boost`
1. `make distclean`
1. `bazel run //compiler_gym/envs/llvm/service`

Error message along the lines of:

[code]

## Workaround

Uninstall boost prior to building Compi

[2021-01-04 16:36] hughleat opened #32 "Manual env fails without helpful error when no benchmarks are loaded."
## 🐛 Bug

compiler_gym.bin.manual_env fails with stacktrace if no benchmarks are loaded.

## To Reproduce
[code]
## Expected behavior
Something like:
[code]

## Environment

Please fill in this checklist:

- CompilerGym:
- How you installed CompilerGym (conda, pip, source): source
- OS: MacOs 10.15.7
- Python version: 3.8.4
- Build command you used (if compiling from source): make install
- GCC/cl

[2021-01-13 10:14] #32 closed, assigned to hughleat

[2021-01-15 18:13] farhaninfinitybits commented on #12
Hi @ChrisCummins,
make_benchmark() is not working on a C program.
It's throwing some runtime error.
Any suggestions how to fix it, please?

[2021-01-15 19:28] ChrisCummins commented on #12
Hi @farhaninfinitybits,

could you please post the code snippet you used, and the error that was produced? On my system, the following works:

[code]

Cheers,
Chris

[2021-01-18 00:22] farhaninfinitybits commented on #12
Hi @ChrisCummins,

I was getting this `RuntimeError: freeze_support()` error.
I have looked into this error and found that it was due to multithreading. So I have to guard code by
`if __name__ == "__main__":`
And it worked
Thanks

[2021-01-20 11:15] ChrisCummins commented on #22
A second error type that is possibly related is a failure to load `@local_config_cc`:

[code]

Cheers,
Chris

[2021-01-21 01:00] ChrisCummins commented on #12
Interesting, thanks for following up!

Cheers,
Chris

[2021-01-26 16:22] hughleat opened #45 "Redesign of DataSet API"
Redesign the Dataset class to not depend on tar balls and particular data structures.

Currently the datasets are hard coded as tarballs - https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/envs/llvm/datasets.py
these later get unpacked into a particular format where the directory structure is very important.

This means that we have to curate them. E.g. we can't pull be

[2021-01-26 16:39] ChrisCummins commented on #45
Thanks @hughleat, I think that a python-side dataset API makes a lot of sense, and I like the class hierarchy you're proposing. I think a prerequisite for this is to figure out the role of the backend service in managing datasets as at the moment, the frontend python code and backend service have slightly jumbled and overlapping roles. We could shift the responsibility of managing benchmarks from

[2021-01-28 13:57] ChrisCummins opened #46 "[llvm] -gvn-sink action produces nondeterministic states"
## 🐛 Bug

The `-gvn-sink` action has been found to produce different states when run multiple times on the same input.

## To Reproduce

Steps to reproduce the behavior:

1. Create an episode that runs `-gvn-sink`:
[code]
2. Run the episode:
[code]
3. Check the output reported by the validation script. Sometimes it succeeds:

[code]

Sometimes it fails:
[code]

## Expected behavior

The `-gvn-acti

[2021-02-03 01:13] ChrisCummins opened #49 "Add support for LLVM sanitizers during semantics validation"
## 🚀 Feature

For benchmarks which support semantics validation (added #43), we should use asan/tsan/msan sanitizers to further check for faults introduced by optimizations.

Thanks @broune for the suggestions.

[2021-02-03 01:19] ChrisCummins commented on #22
0c8fe650eff91ecf0ce00ab116fe3354763359b1 mitigates flaky failures from a sourceforge download by adding a second URL as a mirror.

[2021-02-04 14:46] ChrisCummins opened #52 "Add support for discrete and continuous action spaces"
## 🚀 Feature

Add the ability to describe discrete and continuous action spaces, with optional bounds.

## Motivation

Currently, the [ActionSpace](https://github.com/facebookresearch/CompilerGym/blob/93ae6ce44b0a8d5a1c46de4dbee5fd591fb699c7/compiler_gym/service/proto/compiler_gym_service.proto#L94-L103) specification supports only categorical spaces. This is fine for some problems, such as [LLVM

[2021-02-04 15:25] #46 closed, assigned to ChrisCummins

[2021-02-08 21:41] ChrisCummins commented on #31
This issue has been replicated using the homebrew `protobuf` package, although with different symptoms. The workaround is the same:

[code]

[2021-02-09 00:56] ChrisCummins opened #55 "Polybench dataset has optnone attribute set"
## 🐛 Bug

The polybench-v0 dataset has been compiled with `-O0` and all optimizations suppressed. You can see this by inspecting the IR for the benchmarks, noticing the `optnone` attribute on the IR functions:

[code]

This means that no optimization will ever have an effect on the polybench benchmarks, rendering them unsuitable for use.

## Environment

Please fill in this checklist:

- CompilerG

[2021-02-09 14:10] sparkingdark opened #59 "Getting error while Build from source in Ubuntu 20.04"
## ❓ Questions and Help

I just forked the repo, try to install the package using `pip3 install -e .` but got this weird error:

[code]
Now my question is **how to install it locally in edit mode or it's an error of the package?**
I think the contributing guide also needs a section for developers with the instructions of building from source.

[2021-02-09 14:49] ChrisCummins commented on #59
Hi @sparkingdark, apologies for the confusion. Instructions for building from source are in the [readme](https://github.com/facebookresearch/CompilerGym#building-from-source).

Cheers,
Chris

[2021-02-10 19:43] #59 closed, assigned to ChrisCummins

[2021-02-12 13:53] hughleat opened #71 "Remove redundant envs"
## 🚀 Feature

Currently there are environments that pick out particular observation and reward spaces. To be consistent this should have the Cartesian product of them. This isn't very scalable.
Since there are easy ways to specify them on the command line, we should get rid of everything but the base environment - e.g. llvm-v0

## Motivation

There are 17 observation spaces and 8 reward spaces. If

[2021-02-12 14:00] hughleat opened #72 "Make all strings accessible from objects."
## 🚀 Feature

String use is error prone and has little support from IDEs.
Instead of writing:
`    env.observation_space = "IRInstructionCountOs"`
which has an error that an IDE can't help me with because that space does not exist,
Write:
`    env.observation_space = compiler_gym.llvm.observation_spaces.IrInstructionCountOz`
Or something like that.
This way the IDE or debugger will auto complete f

[2021-02-12 14:06] ChrisCummins commented on #72
This will be a definite quality-of-life improvement.

The script [compiler_gym.bin.service](https://facebookresearch.github.io/CompilerGym/cli.html#module-compiler_gym.bin.service) produces a human-readable description of the support observations/actions for a service. I'd suggest adding something like a `--output_format=py` flag that would spit out enum consts instead of markdown tables and hook

[2021-02-14 12:53] ChrisCummins commented on #45
I think it would be a good idea also to wrap the [Benchmark](https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/service/proto/compiler_gym_service.proto#L291-L303) proto with a python class that can add extra functionality like the ability to validate benchmark behavior etc. To begin with, something simple like:

[code]

[2021-02-16 16:02] hughleat opened #75 "Shell improvements"
Really just a place to dump some suggested improvements to the shell while I work on something else for a while. All assuming the PR makes it :-)

- [ ] Rename from compiler_gym.bin.manual_env to compiler_gym.shell
- [x] Ensure benchmark is settable from the command line (no effect currently)
- [ ] Allow changing environment at runtime - currently required to be set on commandline and then can't b

[2021-02-17 19:54] JD-ETH opened #76 "__version__ is missing when importing gym"
## 🐛 Bug

When trying to run some scripts in `compiler_gym/bin`, for example random_search.py
[code]

## Additional context

[2021-02-17 20:01] hughleat commented on #76
Ooh, did you do this from inside the git repo? I get this if I call `python -m compiler_gym.bin....` from inside CompilerGym/.
If I move out to some other directory it works.
Can you check if that fixes it for you?

Then, I think you may also need to download a dataset first: python -m compiler_gym.bin.datasets ... or my new favourite python -m compiler_gym.bin.manual_env -env=llvm-v0

Plus, you m

[2021-02-17 20:06] hughleat commented on #76
Then, I think you may also need to download a dataset first: `python -m compiler_gym.bin.datasets ...` or my new favourite `python -m compiler_gym.bin.manual_env -env=llvm-v0`

Plus, you may need `-env=llvm-v0 -reward=IrInstructionCount -benchmark=cBench-v0/adpcm'. or similar.

[2021-02-17 20:13] JD-ETH commented on #76
Yeah it works when I'm outside of the folder, thanks.

the command line interface is pretty cool! 138 actions are scary for a compiler-outsider like me though :D What does the `commandline` option do? Command for executing all steps so far? @hughleat

[2021-02-17 20:19] hughleat commented on #76
:) thanks!

Command line gives approximately what you would ask LLVM to do outside the
gym to Schreiber the same effect.

The action space will get massive some day :)

On Wed, 17 Feb 2021, 20:13 Jiadong Guo, <notifications@github.com> wrote:

[2021-02-17 20:31] ChrisCummins commented on #76
Yes sorry about this. The error message is really unclear. Filing #78, lemme know if that helps clarify.

New error message:

[code]

[2021-02-17 20:41] ChrisCummins opened #79 "Call env.require_dataset() when required"
## 🚀 Feature

If a benchmark is requested that is not installed but belongs to an available dataset, we could just implicitly call `env.require_dataset()` rather than throwing an error.

[2021-02-17 20:54] hughleat commented on #79
I like it.
Are any of the datasets big though? Possibly would be better if the dataset was more fine grained.

[2021-02-17 21:02] ChrisCummins commented on #79
`env.require_dataset("github-v0")` will trigger a 300+mb download. Maybe we don't want to hide that from the user. Definitely seems worth waiting until #45 is merged as that may change this

[2021-02-18 15:29] hughleat commented on #79
Just a small thought... What about shipping cBench by default? That way everyone gets something to start with and there's none of this - "D'oh, another step you're making me take just to play with this thing?"

[2021-02-18 16:32] ChrisCummins commented on #79
Good idea. Please file an issue! :)

[2021-02-18 20:19] #76 closed, assigned to ChrisCummins

[2021-02-18 22:37] hughleat opened #85 "Ship cBench-v0 by default"
## 🚀 Feature

Make cBench-v0 install out of the box.

## Motivation

It is a bit irritating using the gym the first time to discover that you have to download a dataset. Better to have at least a few benchmarks immediately available.

## Pitch

Clearing obstacles out of the path of first time users is bound to be a good idea.

## Alternatives

1. Don't do it.
2. Wait for the Dataset API to be over

[2021-02-19 19:12] #72 closed, assigned to ChrisCummins

[2021-02-22 22:49] phesse001 opened #88 "How to execute the generated bitcode?"
## ❓ Questions and Help

I was wondering if there was a standard api in compiler gym to run executed bitcode?

For example if I have the following environment

`env = gym.make("llvm-autophase-ic-v0")`
`env.require_datasets(['cBench-v0'])`

And go to the directory containing the datasets bitcode files, try to run one with

`lli bitcount.bc`

which seg faults - I tried a few other programs and got u

[2021-02-23 01:33] hughleat opened #89 "Stateless Service"
Making the service stateless would make everyone happy!
This feature req is more a place for thrashing out ideas.

Basic idea is that the service has a set of things, indexed by some hashes.
The client asks for operations to be done to a thing. The service does them and returns the results.

Two commands:
- upload(blob): hash
  This uploads a blob of something to the service. We don't need to know

[2021-02-23 01:34] hughleat commented on #89
Chris, I like your idea about just having it based on hashes :-)

[2021-02-23 11:39] ChrisCummins commented on #88
Hi @phesse001, great question :) Unfortunately there is not yet a standard API for running the bitcodes (though we have plans to add support for this #45). This is because at the moment, we only ship bitcodes, not driver scripts / program inputs etc. We are working on adding execution support for cBench which will be included in the next release. This could be adapted to producing runtimes as rewa

[2021-02-23 11:45] ChrisCummins commented on #89
Thanks for writing this up @hughleat!

One thing I would like to take a quick look at before diving in is to see what the overhead of calculating a hash is on every step. AFAIK the best way of generating a hash for LLVM-IR is [`writeModule()`](https://llvm.org/doxygen/classllvm_1_1BitcodeWriter.html#acedecaa6f87d31e343286c46148e119a), which might be quite expensive for larger programs.

Cheers,
Ch

[2021-02-23 12:55] booski360 opened #90 "commit"
## 📚 Documentation

request approved

[2021-02-23 13:12] hughleat commented on #89
Possibly hashing could be avoided unless explicitly asked for:
- client: apply(h1, compile-to-bc, get-hash)
- server: ok, ok, h2

[2021-02-23 13:17] hughleat commented on #89
BTW, could also possibly do things like:
- client: apply(h1, opt1, insn-count, h1, opt2, insn-count, h1, opt3, insn-count)
Where each h1 resets the current thing to h1. This could be really useful for greedy search, as loads of options can be sent at once. Service at liberty to break it down and hand out bits to different machines:
- service-to-proc1: apply(h1, opt1, insn)
- service-to-proc2: appl

[2021-02-23 13:19] hughleat commented on #89
Actually, upload could just be a command, too:
- client: apply(upload(blob), get-hash, compile-to-bc, ...)

From the service perspective, the client calling `get-hash` suggests that caching that thing for a while might be helpful. Not that it shouldn't cache other things, too, but at least make those things more likely to survive when something has to be evicted from the cache.

[2021-02-23 13:37] hughleat opened #91 "Use env.fork for search in shell"
Make the shell use the new and improved fork.

[2021-02-23 14:12] ChrisCummins commented on #90
Hi there, not sure that I understand :) Is there a particular issue?

Cheers,
Chris

[2021-02-23 14:12] #90 closed

[2021-02-23 14:14] booski360 commented on #90
Sorry I got like 10 million things going on my desktop I'll correct it

[2021-02-23 14:29] ChrisCummins commented on #90
Hehe, not to worry. Please file a new issue when ready.

Cheers,
Chris

[2021-02-23 20:14] phesse001 commented on #88
Thanks @ChrisCummins! The approach you mentioned makes perfect sense, just requires a little more work :). I've actually worked with the [ck](https://github.com/ctuning/ck) framework, where cbench and other benchmarks exist, so I think I may be able to use ck to automate compiling and doing other actions with the bitcode until compiler gym has it's own api.

I will have to compile the programs to

[2021-02-23 21:18] hughleat commented on #89
Possibly allow `get-hash` to create a name that can then be reused.
- client: apply(upload(blob), compile-to-bc, get-hash(h1), opt1, insn-size, h1, opt2, insn-size)
This allows the result from early to be reused and would be great for several searches.

[2021-02-26 11:15] ChrisCummins opened #99 "[validation] Timeout during LLVM environment reset()"
## 🐛 Bug

Running validaiton on the attached results set causes timeout errors during environment reset with an unhelpful error message.

## To Reproduce

Run validation on this dataset: [results.csv.zip](https://github.com/facebookresearch/CompilerGym/files/6049231/results.csv.zip)

[code]

## Expected behavior

Helpful error message and for the validation script to complete.

## Environment

Ple

[2021-02-26 11:22] ChrisCummins commented on #88
hi @phesse001, personally I don't have much experience with ck but it seems like it would be tremendously helpful for providing runnable drivers and datasets. I'd be keen to hear how you get on and if there's a particular set of benchmarks that you would find most useful. Improving our datasets and ability to handle runtime rewards is a big part of our roadmap, contributions are very welcome!

Tha

[2021-02-26 11:59] ChrisCummins commented on #22
I haven't seen this issue in over a month since reporting so closing for now.

Cheers,
Chris

[2021-02-26 11:59] #22 closed, assigned to ChrisCummins

[2021-02-26 19:13] ChrisCummins opened #101 "[validation] cBench-v0/stringsearch validation failure"
## 🐛 Bug

Unexpected validation failure of benchmark found using random search.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Validation succeeds.

## Environment

Please fill in this checklist:

- CompilerGym: 0.1.2
- How you installed CompilerGym (conda, pip, source): source
- OS: Pop OS 20.04
- Python version: 3.8

[2021-02-26 20:56] mtc-jwlee opened #102 "Running CompilerGym on my own program"
## ❓ Questions and Help

Hi,

From the FAQ, https://facebookresearch.github.io/CompilerGym/faq.html#how-do-i-run-this-on-my-own-program
It says I can run CompilerGym on my own program using the following command:

$ bazel run -c opt //compiler_gym/bin:brute_force -- --env=llvm-v0 --program_data=file:///$PWD/myapp.bc

It seems this doesn't work. If this feature is still supported, could you please

[2021-02-27 00:56] ChrisCummins commented on #102
Hi @mtc-jwlee, thanks for the report! That documentation is out of date. The `--program_data` flag has changed to `--benchmark`. Full example:

[code]

Programmatically you can use [env.make_benchmark(...)](https://facebookresearch.github.io/CompilerGym/llvm/api.html#compiler_gym.envs.llvm.make_benchmark) to load your own programs:

[code]

Hope that helps!

Cheers,
Chris

[2021-02-27 01:02] ChrisCummins opened #103 "[validation] -structurizecfg validation failures"
## 🐛 Bug

Unexpected validation failure of episodes that terminate in `-structurizecfg` found using random search. All except the first use the cBench-v0/ghostscript benchmark.

## To Reproduce

### Case 1

[code]

### Case 2

[code]

### Case 3

[code]

### Case 4

[code]

## Expected behavior

Validation succeeds.

## Environment

Please fill in this checklist:

- CompilerGym: 0.1.3
- How you in

[2021-02-27 01:03] ChrisCummins commented on #101
Merged into #103.

[2021-02-27 01:04] #101 closed, assigned to ChrisCummins

[2021-02-27 01:07] ChrisCummins opened #104 "[validation] cBench-v0/ghostscript validation failures"
## 🐛 Bug

In addition to the three failures reported in #103, further validation failures have been discovered using cBench-v0/ghostscript using different random actions.

## To Reproduce

### Case 1, -ipconstprop

[code]

### Case 2, -loop-predication

[code]

### Case 3, -mem2reg

[code]

### Case 4, -slp-vectorizer

[code]

### Case 5, -partially-inline-libcalls

[code]

### Case 6, -cross-dso-

[2021-02-27 01:12] ChrisCummins opened #105 "[validation] cBench-v0/susan validation failures"
## 🐛 Bug

Validation failure in episodes using the cBench-v0/susan benchmark.

## To Reproduce

### Case 1, -mergereturn

[code]

### Case 2, -newgvn

[code]

## Expected behavior

Validation succeeds.

## Environment

Please fill in this checklist:

- CompilerGym: 0.1.3
- How you installed CompilerGym (conda, pip, source): source
- OS: Pop OS 20.04
- Python version: 3.8

[2021-02-27 01:13] ChrisCummins opened #106 "[validation] cBench-v0/stringsearch validation failure"
## 🐛 Bug

Validation failure of a random episode using the cBench-v0/stringsearch benchmark.

## To Reproduce

Steps to reproduce:

[code]

## Expected behavior

Validation succeeds.

## Environment

Please fill in this checklist:

- CompilerGym: 0.1.3
- How you installed CompilerGym (conda, pip, source): source
- OS: Pop OS 20.04
- Python version: 3.8

[2021-03-01 13:03] ChrisCummins opened #109 "[validation] Assert in validate_sha_output() causes infinite hang on failure"
## 🐛 Bug

Failures in the validation script from this assertion cause the script to hang forever. Stack trace:

[code]

## To Reproduce

Write a unit test that mocks a failing SHA output.

## Expected behavior

The error is reported as `not ValidationResult.okay()`, not an assertion.

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.3
- How you installed CompilerGym (conda, pip,

[2021-03-02 10:33] ChrisCummins opened #110 "cBench benchmarks have 'noinline' attribute set"
## 🐛 Bug

The `noinline` attribute is set on the cBench-v0 benchmarks (and possibly others, I have not checked). This prevents future inlining operations on them.

The cause appears to be the result of preparing the LLVM-IRs with `-O0`. The same issue *should* affect `env.make_benchmark()`, but there is currently a typo in the implementation (`-O` instead of `-O0`) which means that `-O1` is used a

[2021-03-02 10:40] ChrisCummins commented on #110
As a demonstration of the issue, let's compare the function attributes that are generated when compiling the same file with `-O0` vs `-O1`.

Generate the `-O0` IR:

[code]

Generate the `-O1` IR:

[code]

Compare the two:

[code]

As we see, the `noinline` attribute is set on the `-O0` IR. If we repeat with `-Oz` we get yet a third set of function attributes:

[code]

Comparing `-O1` with `-Oz` pr

[2021-03-02 16:49] ChrisCummins commented on #106
Minimized the trajectory to four passes:

[code]

[2021-03-02 19:13] ChrisCummins commented on #103
Afer minimizing the above test cases we are left with two unique trajectories, both including `-structurizecfg`:

[code]

Cheers,
Chris

[2021-03-02 19:13] ChrisCummins commented on #106
After minimizing the resulting trajectory is a dupe of #103.

[2021-03-02 19:13] #106 closed, assigned to ChrisCummins

[2021-03-02 19:22] ChrisCummins commented on #105
Minimized:

[code]

Cheers,
Chris

[2021-03-02 20:55] ChrisCummins commented on #104
Every one of these examples minimized to the same `-structurizecfg` example, merging with #103.

[2021-03-02 20:55] #104 closed, assigned to ChrisCummins

[2021-03-03 23:33] #109 closed, assigned to ChrisCummins

[2021-03-04 10:36] #85 closed, assigned to ChrisCummins

[2021-03-04 16:45] ChrisCummins opened #119 "Improve error reporting if CompilerGym service fails to start"
## 🚀 Feature

If `gym.make("...")` fails, there is some obtuse "Failed to connect to service after 10.0 seconds" message but it hides any error messages generated by the service, making debugging difficult.

[2021-03-04 20:13] JD-ETH opened #120 "Environment Connection Issue"
## 🐛 Bug

The port connection breaks after refreshing the environment multiple times.

## To Reproduce

Steps to reproduce the behavior:

1. When executing the environment multiple times in [here](https://github.com/JD-ETH/CompilerGym/blob/feature/tabular-q/examples/tabular_q.py#L7)
2. Enabled debug flag by export COMPILER_GYM_DEBUG=3

Output:
[code]

## Expected behavior

Connection shouldn't cra

[2021-03-05 10:49] ChrisCummins commented on #120
Hi @JD-ETH, thanks for the report! That's a strange error. In these first two lines of output you posted:

[code]

those are logging messages from the service showing that it has correctly launched and is ready to go. However the rest of the output shows that the frontend client was for some reason unable to connect to it.

FWIW, the script runs fine on my machine:

[code]

I think to make progres

[2021-03-05 13:22] ChrisCummins opened #122 "Reduce module import time"
## 🚀 Feature

Importing the python module is quite slow compared to other packages:

[code]

for reference:

[code]

## Motivation

User QoL. Low priority.

## Pitch

Do less work on module import. I expect that file I/O like [this](https://github.com/facebookresearch/CompilerGym/blob/6cccf05e9004a2fff5bb15c95afec1de8b897062/compiler_gym/envs/llvm/llvm_env.py#L44-L54) could be replaced with built-

[2021-03-08 18:41] ChrisCummins commented on #120
Hi @JD-ETH, I have made a change in #121 that enables the error message that is raised by a failed service init to contain logging output. Might be helpful to improve debugging. Feel free to take a look!

Cheers,
Chris

[2021-03-08 22:05] JD-ETH commented on #120
The connection issue magically disappeared and I can't reproduce right now. I will mark this issue closed in this case. Thanks for your help!

[2021-03-08 22:05] #120 closed, assigned to ChrisCummins

[2021-03-09 00:53] #119 closed, assigned to ChrisCummins

[2021-03-10 16:08] ChrisCummins commented on #103
Further benchmarks have been found to fail runtime validation with `-structurizecfg`:

[code]

Cheers,
Chris

[2021-03-15 18:52] ChrisCummins opened #131 "Provide default reward function implementations"
## 🚀 Feature

The majority of use cases for reward functions fall under the same basic categories: e.g. "compute incremental change in some observation", "compute incremental change in some scalar observation and normalize the value", etc. Provide subclasses of [Reward](https://facebookresearch.github.io/CompilerGym/compiler_gym/spaces.html#reward) to implement these common use cases so that users

[2021-03-15 22:14] #103 closed, assigned to ChrisCummins

[2021-03-17 19:01] ChrisCummins commented on #110
`cBench-v1` now added and deprecation warnings added to `cBench-v0`.

[2021-03-17 19:01] #110 closed, assigned to ChrisCummins

[2021-03-17 19:01] ChrisCummins commented on #99
Added retry loop on timeout for `reset()`. Will re-open if able to repro.

[2021-03-17 19:01] #99 closed, assigned to ChrisCummins

[2021-03-17 21:59] ChrisCummins opened #137 "[llvm] github-v0 and linux-v0 contain invalid programs"
## 🐛 Bug

The following benchmarks do not load and should be removed:

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.3
- How you installed CompilerGym (conda, pip, source): source
- OS: Ubuntu 20.04
- Python version: 3.8.5

[2021-03-18 05:57] mtc-jwlee commented on #102
@ChrisCummins Thank you so much, Chris. This works great!!

[2021-03-18 05:59] #102 closed, assigned to ChrisCummins

[2021-03-18 13:24] ChrisCummins commented on #45
# Upgrade Roadmap

I'd like to propose the following roadmap for deprecating the current dataset API and introducing the new one. Given that it's a pretty high priority feature, there is an aggressive roadmap for deprecating the current API:

## v0.1.4

Add deprecation notices to the existing API but leave the functionality unchanged. Specifically:

- [x] Rename `Dataset` to `LegacyDataset`.
- [x]

[2021-03-18 16:30] ChrisCummins commented on #79
Done.

[2021-03-18 16:30] #79 closed, assigned to ChrisCummins

[2021-03-20 18:21] JD-ETH opened #142 "Need eval_policy to operate on environments with observations"
## 🚀 Feature

Add observation type to `eval_policy`.  Add a field in Write-up where submitter has to specify whether and which observation they have used for the algorithm.

## Motivation

Currently the eval_policy has a hard coded environment of `llvm-lc-v0`. For someone who wants to submit to the leaderboard, using any of the provided features this will fail the evaluation process.

## Pitch

Al

[2021-03-20 18:29] JD-ETH commented on #142
I realized you can access observations by calling env.observation["Autophase"].

[2021-03-22 10:50] ChrisCummins opened #143 "[util/minimize_trajectory] Add a binary recursive partition strategy"
## 🚀 Feature

_Originally posted by @hughleat in https://github.com/facebookresearch/CompilerGym/issues/133#issuecomment-802982415_

[code]

[2021-03-22 10:52] ChrisCummins opened #144 "[llvm/cBench-v1] //tests/llvm:benchmark_semantics_validation_test is flaky"
## 🐛 Bug

There are occasional CI failures from the semantics validation tests. Example failure:

[code]

[2021-03-22 16:32] ChrisCummins commented on #142
He @JD-ETH, you're right, you can use `env.observation[...]` to grab an observation at any time, but the most efficient way to do this is actually to set `env.observation_space = ...` on the `env` instance you receive. This isn't clear in the example code so far so I'm re-opening this as a reminder to myself to improve the documentation. :-) Thanks!

[2021-03-22 18:11] ChrisCummins opened #148 "Add support for loading URLs to CompilerEnvStateReader.read_paths()"
## 🚀 Feature

Extend [CompilerEnvStateReader.read_paths()](https://github.com/facebookresearch/CompilerGym/blob/de07d4867e0bb0b47f6fa4bce5e262ea8f014c3e/tests/compiler_env_state_test.py#L212-L335) so that any combination of file path or URL can be loaded.

[2021-03-22 18:15] ChrisCummins opened #149 "[llvm] Add an InstCount observation space"
## 🚀 Feature

Expose the raw instruction counts of [InstCount](https://llvm.org/doxygen/InstCount_8cpp_source.html) as an LLVM observation space.

[2021-03-22 19:21] bwasti opened #150 "--benchmark flag not working as expected"
## 🐛 Bug

--benchmark flag not working correctly.  Results in error: `AssertionError: Must call reset() before step()`

## To Reproduce

Steps to reproduce the behavior:

Pass in a `--benchmark` and then run any action

[code]

## Expected behavior

Same behavior as `set_benchmark`:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: 2623458424faa553df43e63f7b00bf5e45aade3f (Mo

[2021-03-23 09:40] #150 closed, assigned to bwasti

[2021-03-23 09:40] ChrisCummins commented on #150
Great bug report! :-)

[2021-03-23 10:31] ChrisCummins opened #155 "Release v0.1.5 is broken"
## 🐛 Bug

Two clear mistakes:

1. the macOS image contains a linux binary
2. `make install-test` consistently fails due to errors in CompilerGym service startup, but I have been unable to diagnose or repro the error elsewhere yet. Git bisect confirmed that b87ff73f02d1c1ae75bfdfaa82b3ca22238a5a06 is to blame.

I'll patch those two and aim to get a correct v0.1.6 release prepared by end-of-day.

##

[2021-03-23 20:29] ChrisCummins commented on #155
Fixed in v0.1.6.

[2021-03-23 20:29] #155 closed, assigned to ChrisCummins

[2021-03-23 22:13] ChrisCummins opened #158 "Move leaderboard helper code into compiler_gym namespace"
## 🚀 Feature

Move `leaderboard/llvm_codesize/eval_policy.py` into a `compiler_gym.leaderboard.llvm_codesize` module. This would make it easier to use, and allow the documentation to be added to the doc site.

Thanks @JD-at-work for the suggestion.

[2021-03-30 16:46] #149 closed, assigned to ChrisCummins

[2021-03-30 19:55] phesse001 commented on #88
Hello again!

I have been busy recently but have slowly been working on using ck to create datasets to use within compiler gym and thought I'd give an update as well as a follow up question related to creating datasets in compiler gym.

So with ck, each program has its own meta.json file essentially describing all of the dependencies to compile and run the program, as well as compile and run optio

[2021-03-30 21:46] ChrisCummins opened #162 "Add support for Python 3.9"
## 🚀 Feature

Add support for python 3.9. This shouldn't require any code changes, but the dependencies may not updating.

[2021-03-30 22:31] ChrisCummins commented on #88
Hi @phesse001, thanks for the update! This sounds like great progress.

Is the goal to have one benchmark per cBench program? If so, you can pass all of the bitcodes that comprise that program into `env.make_benchmark()` to produce a single benchmark:

[code]

Under the covers, this is equivalent to using [llvm-link](https://llvm.org/docs/CommandGuide/llvm-link.html) to join the bitcodes:

[code]

[2021-03-31 12:34] #162 closed, assigned to ChrisCummins

[2021-03-31 14:36] #158 closed, assigned to ChrisCummins

[2021-04-02 11:49] ChrisCummins opened #166 "Ship all data files as separate downloads"
## 🚀 Feature

Move the following three large files out of the compiler_gym wheel and into a data archive that is download on-demand for the LLVM environment:

[code]

## Motivation

We should keep the wheel small, especially as we plan to add support for multiple compilers. Not every user should have to install large binaries and data files for compiler environments that they will not use.

[2021-04-02 11:56] ChrisCummins opened #167 "CompilerGym v0.1.7 wheel does not install all required package dependencies"
## 🐛 Bug

CompilerGym release v0.1.7 contains references to third-party packages that are not in the `setup.py` requirements list:

- [x] GPUtil>=1.4.0
- [x] psutil>=5.8.0
- [x] py-cpuinfo>=7.0.0
- [x] tqdm>=4.55.0

All references are in the `compiler_gym.leaderboard.llvm_instcount` module, and will be removed for v0.1.8.

### Workaround

Until the next CompilerGym release, please install these re

[2021-04-02 15:31] ChrisCummins commented on #167
Fix merged into `development` in #168, will keep this open until v0.1.8 release.

[2021-04-12 12:21] ChrisCummins commented on #49
Done and shipped in 0.1.7.

[2021-04-12 12:21] #49 closed, assigned to ChrisCummins

[2021-04-12 12:22] ChrisCummins opened #179 "Link to the GitHub roadmap project in documentation"
## 📚 Documentation

The [roadmap](https://facebookresearch.github.io/CompilerGym/about.html#roadmap) section of the documentation should point to the roadmap GitHub project:

https://github.com/facebookresearch/CompilerGym/projects/1

[2021-04-12 15:53] ChrisCummins opened #180 "Add a "Features" section to the Getting Started guide"
## 📚 Documentation

Add a bullet point overview of CompilerGym's features after the "Key concepts" section.

- [x] Update the docsite.
- [x] Update the colab notebook.

[2021-04-17 21:12] JD-ETH opened #182 "Pillow fails to build on Linux"
## 🐛 Bug

Same error appears when building the compiler_gym wheel or compiling from source. Clang misses a compiler flag: `-fno-semantic-interposition`

## To Reproduce

Steps to reproduce the behavior:

1. On Linux, `pip install compiler_gym`
2. Or build from source gives the same error

[code]
The error with `-fno-semantic-interposition` shows up a lot, omitted here.

## Environment

- CompilerG

[2021-04-19 16:15] ChrisCummins commented on #182
Hey @JD-ETH, that's odd! Could you please past the output of the following two commands:

1) `git rev-parse HEAD`
2) `/usr/bin/clang --version`

I did encounter errors with building Pillow when I switched from Python 3.8 to 3.9, but I was able to fix them by updating dependent library versions in #160. The problem you're experience looks new to me.

Cheers,
Chris

[2021-04-19 16:25] JD-ETH commented on #182
The commit hash:
`e6a53d3bc38a5f1a55ccf33bdff3ff1af3d76db8`
clang version:
[code]

@ChrisCummins yeah seems like a versioning issue?

[2021-04-19 17:05] ChrisCummins commented on #182
Hmm. Your environment looks pretty close to the Linux CI runner. The only differences I see are an older ubuntu release (CI runner uses 20.04) and an older compiler (CI runner uses `clang-9`). Would it be possible to try building with a newer system compiler? I'm still not convinced that it is definitely the cause, but could help. I can't repro on any machine I have access to.

Cheers,
Chris

[2021-04-19 18:27] JD-ETH commented on #182
Was able to install once clang++-9 was installed. Will update the Readme to include this. Thanks!

[2021-04-19 18:27] #182 closed, assigned to ChrisCummins

[2021-04-19 18:30] JD-ETH commented on #182
https://github.com/facebookresearch/CompilerGym/pull/183

[2021-04-19 20:33] ChrisCummins commented on #182
Great!

[2021-04-21 13:47] ChrisCummins commented on #55
Polybench has been removed in v0.1.7.

[2021-04-21 13:47] #55 closed, assigned to ChrisCummins

[2021-04-22 08:55] ChrisCummins commented on #142
Documented in https://facebookresearch.github.io/CompilerGym/compiler_gym/leaderboard.html#compiler_gym.leaderboard.llvm_instcount.eval_llvm_instcount_policy

[2021-04-22 08:55] #142 closed, assigned to ChrisCummins

[2021-04-23 17:06] ChrisCummins opened #209 "Use "." name prefix for hidden lockfiles"
## 🚀 Feature

It is a [known limitation](https://github.com/harlowja/fasteners/issues/26) of fasteners that `InterProcessLock` files do not clean up and so will leave the file after use. I don't see any issue with that, but it is a little ugly seeing all of those "*.LOCK" files in the cache directory.

I suggest adopting a naming scheme for lock files that starts with "." so that the files will be

[2021-04-27 11:13] ChrisCummins opened #215 "Add a CompilerEnvState{Reader,Writer} class"
## 🚀 Feature

Serialization of CompilerEnvState instances to CSV is not consistent. The `CompilerEnvState.to_csv()` method produces a header-less string, while the `compiler_gym.leaderboard` helpers produce CSV files with headers. As such there are two conflicting CSV parsers:

* `CompilerEnvState.read_csv_file()` expects header row.
* `CompilerEnvState.from_csv()` expects no header, and requires

[2021-04-27 11:39] ChrisCummins opened #216 "Use pydantic for JSON-serializable data structures."
## 🚀 Feature

Use [pydantic](https://pydantic-docs.helpmanual.io/)'s model hierachy to represent the following data-only classes:

- [x] `CompilerEnvState`
- [x] `ValidationError`
- [x] `ValidationResult`
- [x] `ConnectionOpts`

## Motivation

Currently data classes are implemented by subclassing `NamedTuple` and writing `from_json()` / `to_json()` conversion methods. The parsing and validation lo

[2021-04-27 11:59] ChrisCummins opened #219 "Rename Dataset.hidden to Dataset.deprecated"
## 🚀 Feature

Rename the `hidden` property to `deprecated`, and include a deprecation message.

## Motivation

This removes the need for ad-hoc `install()`-time warnings, see `CBenchLegacyDataset`.

[2021-04-27 22:24] ChrisCummins opened #225 "CompilerEnv.observation_space should be of type 'Space'"
## 🐛 Bug

Currently, `CompilerGym.observation_space` is an `ObservationSpaceSpec`. This is inconsistent with the gym interface. It should be `Space`.

[2021-04-28 11:09] ChrisCummins opened #227 "CompilerGym observation/reward view names conflict with gym wrappers"
## 🐛 Bug

The OpenAI gym interface uses the names `observation()` and `reward()` to implement methods for wrapped observations and rewards, respectively.

https://github.com/openai/gym/blob/master/gym/core.py#L262-L298

We should rename `CompilerEnv.observation` and `CompilerEnv.reward` to avoid this conflict.

[2021-04-28 15:16] #225 closed, assigned to ChrisCummins

[2021-04-28 16:14] ChrisCummins opened #230 "Add semantics validation support for Csmith dataset"
## 🚀 Feature

Programs generated by CSmith are designed to be deterministic and runnable. We could use differential testing for CSmith benchmarks, same as with CBench, enabling support for `env.validate()`.

## Motivation

We want to be able to validate program semantics on a set of programs that aren't used for the codesize leaderboard test set.

## Pitch

Factor out a set of common differential

[2021-04-28 18:50] phesse001 opened #231 "Download error from eval_llvm_instcount_policy function"
Hello,

So I have a dqn model that I used with compiler_gym to apply code transformations to accomplish some objective (in this case instruction count). I was looking to use the `eval_llvm_instcount_policy()` on my model to see how well my model is doing and possibly submit it to the leaderboard.

I looked at a couple of the sample submissions, mainly the [tabular-q](https://github.com/facebookres

[2021-04-28 19:41] ChrisCummins commented on #231
Hi @phesse001, thanks for the report!

This is my fault. I renamed that file and forgot that older releases of CompilerGym will still attempt to download it. If you try again now the download should succeed.

Cheers,
Chris

[2021-04-29 14:49] ChrisCummins commented on #231
Also just a heads up of a release issue with v0.1.7, you will also need to run:

[code]

See #167.

[2021-04-29 19:21] #209 closed, assigned to ChrisCummins

[2021-04-29 19:22] #219 closed, assigned to ChrisCummins

[2021-04-29 19:52] ChrisCummins commented on #166
Closing this as a "wontfix" because for now it is a low priority (the wheel is well below the 100MB limit), and it would add a lot of complexity to manage downloading the right service while also allowing building modified services during development.

[2021-04-29 19:52] #166 closed, assigned to ChrisCummins

[2021-04-29 19:52] ChrisCummins commented on #137
Fixed as of #45.

[2021-04-29 19:52] #137 closed, assigned to ChrisCummins

[2021-04-29 19:53] ChrisCummins commented on #45
This is now done and will ship in v0.1.8.

Cheers,
Chris

[2021-04-29 19:53] #45 closed, assigned to ChrisCummins

[2021-04-29 19:53] ChrisCummins commented on #180
Done.

[2021-04-29 19:53] #180 closed, assigned to ChrisCummins

[2021-04-29 19:53] ChrisCummins commented on #179
Done.

[2021-04-29 19:53] #179 closed, assigned to ChrisCummins

[2021-04-29 19:54] ChrisCummins commented on #144
This has not been replicated in over a month. Closing.

[2021-04-29 19:54] #144 closed, assigned to ChrisCummins

[2021-04-29 19:55] ChrisCummins commented on #227
Note it is still possible to access the observation/reward views using `env.unwrapped.observation`.

[2021-04-30 12:41] #215 closed, assigned to ChrisCummins

[2021-04-30 12:48] #105 closed, assigned to ChrisCummins

[2021-04-30 12:50] #167 closed, assigned to ChrisCummins

[2021-04-30 12:55] ChrisCummins commented on #231
Closing this as I was able to verify the fix on colab. Please reopen if the problem persists :)

Cheers,
Chris

[2021-04-30 12:55] #231 closed, assigned to ChrisCummins

[2021-04-30 12:55] ChrisCummins commented on #216
Done.

[2021-04-30 12:55] #216 closed, assigned to ChrisCummins

[2021-04-30 14:48] ChrisCummins opened #239 "Split the FAQ into sections"
## 📚 Documentation

E.g. "General", "Development", "LLVM", etc.

[2021-04-30 17:14] ChrisCummins opened #240 "Add a random_benchmark() method"
## 🚀 Feature

The v0.1.8 release removed the random benchmark selection from CompilerGym environments when no benchmark was specified. If the user wishes for random benchmark selection, they must now roll their own implementation. For users who want to select benchmarks randomly, we should provide a simple `Dataset.random_benchmark()` option.

## Motivation

Randomly sampling from `env.dataset.ben

[2021-05-01 01:20] ChrisCummins opened #243 "Use round-robin ordering for leaderboard experiment execution"
## 🚀 Feature

Don't repeat all `--n` runs of each benchmark in order, perform 1 run of each benchmark, then proceed to the 2nd run, etc, until all `n` runs have been completed.

[2021-05-04 20:44] #240 closed, assigned to ChrisCummins

[2021-05-05 10:53] ChrisCummins opened #252 "Add multiprocessing support to compiler_gym.leaderboard helpers"
## 🚀 Feature

Currently the LLVM leaderboard helper method takes a callback function and evaluates it in a loop over all programs in the test set. For single-threaded agents, it would be useful if this could be parallelized to maximize throughput.

[2021-05-10 16:06] ChrisCummins opened #254 "Separate the implementation of RPC service and compilation session"
## 🚀 Feature

Make it easier for users to add support for new compilers by providing base classes that allow users to "fill in the blanks" for interacting with their compiler, without having to implement all of the other RPC interface boilerplate.

## Motivation

Top add support for a new compiler, a user must write a compiler service that performs two key functions:

1. **RPC Server:** Implements

[2021-05-10 17:07] bwasti commented on #254
looks good, definitely cleans up a lot of boilerplate

I'm not sure I understand the need for `List[ActionSpaces]` + `actionSpaceIndex` on init as opposed to just creating multiple `CompilationSessions` that have unique `ActionSpace`s.

[2021-05-10 17:20] ChrisCummins commented on #254
Ah, that's a good point. The idea was to allow you to cheaply define different subsets of action spaces, like:

[code]

but tbh I'm not sure if that is a common use case, or even if it wouldn't just be better suited by creating different `CompilationSession`s as you suggested.

So V2 could be:

[code]

[2021-05-10 22:17] hughleat commented on #254
I like it a lot!

With the C++ session, can the out params be references instead of pointers?

In the C++ API, if the action space did change, how do you know to which one it changed?

Is taking `action_index` future proof? What happens if/when there are non categorical types in the action spaces (I think that can already happen in the AI Gym interface, right?)?

`setObservation` in C++ API -> `ge

[2021-05-11 09:29] ChrisCummins commented on #254
Yep, good idea.

Ah, good point. In my little demo implementation I added a `getActionSpace()` method that I forgot to include above. I *think* its possible to

[code]

Hm, not really. I have an open issue, #52 to add support for non-categorical action spaces, but no concrete plans to work on it. I suppose I could wrap the current integer-only action in an `Action` protobuf so that future changes

[2021-05-11 14:30] ChrisCummins commented on #254
Filed #258 to future-proof the action argument to `apply_action()`

[2021-05-11 15:15] hughleat commented on #254
Ah, I see. Fair enough.
It would be good if the user didn't have to care about the communication types that the Gym uses. If I were a user, I'd prefer to have a type hierarchy I can extend and let you package things up into transmittable classes. At least as much as possible. So:
[code]
That way I don't have to manually dispatch, you can do it for me after you've found the right one of my observat

[2021-05-12 00:24] ChrisCummins commented on #254
I agree, though I'm not sure what that type hierarchy would look like. The `ObservationSpace` example you posted neatly solves the dispatching problem, but I think it might introduce a new problem of figuring out where to keep the compiler "state". What would `IRCount::operator()` use to figure out the IR count? Does the parent `CompilationSession` object have the instructions, and the observation

[2021-05-12 23:33] hughleat commented on #254
Aye, I think so. Although, you don't have to provide that. Users of the class can do whatever they need to do. Like maybe their compiler isn't thread safe and so they can only support one session per process and everything is global. They can make a back pointer as they see fit when they create their `ObservationSpace`.

Why return T?

T not defined here.

I'm less sure about this. I have a naggin

[2021-05-13 15:05] ChrisCummins commented on #254
Ah I see, that makes sense. I wonder how much of a boilerplate tradeoff that is - now users will need to make public / add accessors to the internal state of `CompilationSession` so that their backlinked observation spaces can get at what they need to.

Woops, that's a mistake. Fixed.

I like this!

I'll merge the original design into development but I won't cut a public release until we're happy

[2021-05-16 04:08] venkateshtata commented on #148
Hey @ChrisCummins , can I take up this issue and work on it ?

[2021-05-16 09:29] ChrisCummins commented on #148
Hi @venkateshtata, yes, I would be very happy for you to take a look at this! Feel free to ask questions/discuss here.

Cheers,
Chris

[2021-05-16 14:26] venkateshtata commented on #148
Hi @ChrisCummins, I am not able to find the function `read_csv_file` defined within the `compiler_env_state.py` file under `development` branch in order to edit the function. Do I have to fork a specific branch to get it ? could you please let me know where to start. Thank you.

[2021-05-16 19:21] ChrisCummins commented on #148
Ah, good catch, sorry! The function was renamed in v0.1.8 to [CompilerEnvStateReader.read_paths()](https://github.com/facebookresearch/CompilerGym/blob/de07d4867e0bb0b47f6fa4bce5e262ea8f014c3e/tests/compiler_env_state_test.py#L212-L335). As you can see it takes a list of string arguments - you would be extending this to support handling http(s)-type URLs.

Tests for that class can be found [here](

[2021-05-17 21:25] ChrisCummins opened #278 "[ci] Split expensive tests into a separate job"
## 🚀 Feature

The CI tests take ~1hr to complete. This decreases developer productivity by creating a slow edit/push/review cycle.

## Motivation

Faster checks on PRs encourages devs to rely on them and not "cheat" by merging without a green light.

## Pitch

Divide the test suite into multiple shards that can be executed concurrently by different runner jobs. They can probably share a common bui

[2021-05-20 13:10] ChrisCummins opened #283 "Add support for granular timeouts"
## 🚀 Feature

The compiler environment uses timeouts on all operations. These timeouts are controlled by a [`ConnectionOpts`](https://github.com/facebookresearch/CompilerGym/blob/641e8cf6e3199b1bb7202415e02e78bf9e654f93/compiler_gym/service/connection.py#L46-L83) class, which is default-constructed by the constructor. This feature request proposes adding the ability for user code to override these

[2021-06-03 10:12] ChrisCummins commented on #254
Closing this as all of the PRs are now merged, but will keep the discussion going about better ways to structure the action space.

[2021-06-03 10:12] #254 closed, assigned to ChrisCummins

[2021-06-03 14:59] ChrisCummins commented on #227
Closing this as a non-issue given the simple `env.unwrapped` workaround.

[2021-06-03 14:59] #227 closed, assigned to ChrisCummins

[2021-06-03 14:59] ChrisCummins commented on #239
Done.

[2021-06-03 14:59] #239 closed, assigned to ChrisCummins

[2021-06-03 15:47] ChrisCummins commented on #148
Hi @venkateshtata, just following up :-) Did you make any progress on this?

Cheers,
Chris

[2021-06-04 20:09] ChrisCummins opened #290 "Add a validation callback to the RLlib example"
## 🚀 Feature

In the [RLlib example notebook](https://colab.research.google.com/github/facebookresearch/CompilerGym/blob/development/examples/rllib.ipynb), it would be nice if there was an `on_checkpoint()` callback that ran an evaluation run on the validation set, so that we can select the best checkpoint from the max average reward.

[2021-06-09 20:20] ChrisCummins commented on #4
Done and landed in ba182a47a2adf26c31d33f504babb0f55a4bcf2f.

[2021-06-09 20:20] #4 closed

[2021-06-14 13:23] ChrisCummins opened #291 "env.fork() is not compatible with wrapped environments"
## 🐛 Bug

When calling [fork()](https://facebookresearch.github.io/CompilerGym/compiler_gym/envs.html#compiler_gym.envs.CompilerEnv.fork) on a wrapped environment, the attributes of the environment wrappers are not copied.

## To Reproduce

[code]

## Expected behavior

[code]

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.9
- How you installed CompilerGym (conda, pip, source

[2021-06-23 09:32] ChrisCummins opened #300 "CompilerGym cache directory defaults don't doesn't play nicely with shared access machines"
## 🐛 Bug

The default locations of the CompilerGym caches are in shared folders. On multi-user machines this can cause permission errors as the directory may be created by one user without write permissions to other users. I propose switching to user-specific defaults like so:

- [x] `COMPILER_GYM_CACHE` -> `/tmp/compiler_gym-$user`
- [x] `COMPILER_YM_TRANSIENT_CACHE` -> `/dev/shm/compiler_gym-$us

[2021-06-25 13:07] ChrisCummins opened #303 "TypeError on len(dataset) if dataset is infinite size"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

We need to come up with a new way of communicating an infinite-length dataset.

## Environment

Please fill in this checklist:

- CompilerGym: 0.1.9
- How you installed CompilerGym (conda, pip, source): pip
- OS: n/a
- Python version: 3.8.5

[2021-06-25 19:01] phesse001 opened #304 "Problem registering environment with RLlib that use wrapper functions with cbench dataset"
## 🐛 Bug

Hello,

I am having trouble using the cbench dataset within RLlib. I went through the example you provide for using RLlib with compiler gym and got no errors. However, when I switch the training dataset from npb to cbench, I get a `TypeError: cannot pickle '_thread.lock' object`. This seems to be a result of passing it through the wrapper function as the evironment works with cbench if I

[2021-06-25 19:05] phesse001 commented on #304
Right after I created this I noticed there was a PR to make datasets compatible with picke - I'm guessing this would fix my problem. If so, please close this issue. Thanks!

[2021-06-27 04:23] KKimj opened #305 "[typo] ```pythom -m compiler_gym ... ```"
## 📚 Documentation

Hello,

There is a minor typo in your [document FAQ](https://facebookresearch.github.io/CompilerGym/faq.html).

    https://facebookresearch.github.io/CompilerGym/faq.html

Thanks
Have a nice day!

![image](https://user-images.githubusercontent.com/40026920/123532702-68c19180-d74a-11eb-9b8b-b4144b14c107.png)

[2021-06-28 14:57] ChrisCummins commented on #305
Hi @KKimj, good catch, thank you for reporting!

Cheers,
Chris

[2021-06-28 17:00] #305 closed, assigned to ChrisCummins

[2021-06-28 17:14] ChrisCummins commented on #304
Hi @phesse001, thanks for the report! You are indeed right. Some of the benchmark instances were not pickle compatible, which would break rllib. #302 was specifically to fix this problem, so it should not affect the `development` branch. If you are using an older CompilerGym version, you can work around the problem by changing the line:

[code]

to be:

[code]

that will use strings instead of [Be

[2021-07-01 01:24] #300 closed, assigned to ChrisCummins

[2021-07-06 15:22] #291 closed, assigned to ChrisCummins

[2021-07-08 11:46] ChrisCummins opened #312 "Add a mechanism for sending arbitrary data payloads to the backend"
## 🚀 Feature

This feature request is to add a mechanism to the CompilerGym client/service architecture so that the client can send arbitrary data messages to the service, which can then generate a response. This can be used by particular client/service implementations to provide a "back door" for talking to the service in a way that doesn't conform to the normal RL environment communication patte

[2021-07-08 14:47] hughleat commented on #312
LGTM.

Would also be good to have an easy way to send things from the env:
result = env.send_session_param("benchmarks.set_max_cache_size_mb", 50)

I agree, not sure about best naming. "Session param" feels odd. But I don't have any better suggestion :-)

[2021-07-08 19:11] ChrisCummins commented on #312
Good point, I've added a step 4 to add an API to the env.

Cheers,
Chris

[2021-07-14 00:10] ChrisCummins opened #318 "Make it easier to debug logic errors in CompilationSession implementations"
## 🚀 Feature

## Motivation

Presently, debugging logic errors is quite difficult in CompilerGym:

1. The compiler runs in a separate process so attaching a debugger is non-trivial.
2. Compiler service logs are swallowed by default.
3. Many CompilerEnv operations have retry loops to attempt to recover from errors, which can obscure the root cause.

## Pitch

Add a `compiler_gym.bin.service --start

[2021-07-14 01:44] #312 closed, assigned to ChrisCummins

[2021-07-19 11:37] ChrisCummins opened #321 ""unary operator expected" in Makefile fetch stage"
## 🐛 Bug

If the `bazel fetch` stage of the build fails, a shell syntax error is raised.

## To Reproduce

Steps to reproduce the behavior:

[code]

[2021-07-19 14:15] #321 closed, assigned to ChrisCummins

[2021-07-19 14:31] sahirgomez1 opened #323 "Undo Action"
Undo a step and update state representation from frontend.

[2021-07-20 12:01] ChrisCummins opened #325 "Extend RPC interface to support multi-file benchmarks"
## 🚀 Feature

Add support for benchmarks which comprise multiple files.

## Motivation

Presently the `Benchmark` protobuf requires that each benchmark is a single file (called the "program"):

[code]

In the LLVM environment, we presently support multi-file benchmarks by linking all of the source files into a single LLVM module to construct a benchmark. This means that we can't support benchmarks

[2021-07-20 12:02] ChrisCummins commented on #325
Thanks @hughleat for the discussion on this.

[2021-07-20 12:03] ChrisCummins commented on #52
cc @hughleat  @bwasti we may want to revisit this to better support GCC / loop_tool.

[2021-07-20 12:05] ChrisCummins commented on #252
@yuandong-tian looked into this but it turns out to be harder than expected given the current implementation. Closing a "wont fix" for now.

[2021-07-20 12:05] #252 closed, assigned to ChrisCummins

[2021-07-20 12:27] ChrisCummins opened #326 "Ungraceful shutdown of python script can leave orphan processes"
## 🐛 Bug

CompilerGym uses a client/service architecture. Every time a `CompilerEnv` object is created, a CompilerService subprocess is started. The lifetime of the subprocess is managed by the `CompilerEnv`. Calling `CompilerEnv.close()` terminates the service:

![CompilerGym](https://user-images.githubusercontent.com/1636663/126324298-a3e2d2ea-eb43-487a-80fd-480ea55a6d2e.png)

If for some reason

[2021-07-20 12:33] ChrisCummins commented on #326
cc @hughleat

[2021-07-20 15:51] sahirgomez1 opened #328 "Make a table to display state representation"

[2021-07-20 17:01] sahirgomez1 opened #329 "Sorted and curated actions set for frontend"
The API is currently pulling the actions sorted alphabetically, is this correct? if not it would be better to have the most used actions set sorted coming from the API.

[2021-07-20 17:01] sahirgomez1 opened #330 "Reset API endpoint"
Undo all actions through a reset call. Required?

[2021-07-20 17:12] sahirgomez1 opened #331 "Area chart to display Reward & Accumulated Reward"
Make a chart below the search tree to display reward behavior.

[2021-07-22 12:01] MohamedAlmaki opened #338 "Strange behavior in IrInstructionCountOz reward"
## ❓ Questions and Help
Can the Oz flag produce a module that has more instructions than the original module?

## Additional Context
To reproduce the strange behavior:
I took the commandline of `benchmark://cbench-v1/bitcount ` in [results_p125_t10800.csv](https://github.com/facebookresearch/CompilerGym/blob/development/leaderboard/llvm_instcount/random_search/results_p125_t10800.csv) and split it

[2021-07-23 12:07] ChrisCummins opened #340 "[llvm] chstone-v0 dataset is missing from documentation"
## 📚 Documentation

The [datasets table](https://facebookresearch.github.io/CompilerGym/llvm/index.html#datasets) is missing an entry for the new `chstone-v0` dataset.

[2021-07-26 01:05] #328 closed, assigned to sahirgomez1

[2021-07-26 01:05] #323 closed, assigned to sahirgomez1

[2021-07-26 11:07] ChrisCummins commented on #338
Hi @MohamedAlmaki,

Great question!

Yes. The goal of `-Oz` is to produce small binaries, without any guarantees.

This is intentional, though perhaps not well explained in the documentation. The scaling factor for `IrInstructionCountOz` is determined at [Benchmark construction time](https://github.com/facebookresearch/CompilerGym/blob/a5341616712f6395eeb88d10b3657625e33ca9e1/compiler_gym/envs/llv

[2021-07-26 18:41] MohamedAlmaki commented on #338
Okay.

Yes, I can but the same problem happens here. I was thinking of a way to combine the reward of the two environments. Maybe,  moving the reward object from one environment to another. But the problem is that you can't set the reward object, you can only access it using the reward view. Or I can just calculate the final result manually outside the environments.

Thanks for your response.

Reg

[2021-07-26 19:52] ChrisCummins commented on #338
Hi @MohamedAlmaki,

Yes, it is unfortunately not possible to change the `-Oz` scale factor on an ad-hoc basis. What I'm suggesting is to ignore the reward value entirely and compute your own values:

[code]

[2021-07-26 20:16] MohamedAlmaki commented on #338
Yes, this is the way I'm doing it right now. Thanks for your response.
I will close this now.

[2021-07-26 20:16] #338 closed, assigned to ChrisCummins

[2021-07-29 02:04] #331 closed, assigned to ChrisCummins

[2021-07-29 02:14] sahirgomez1 opened #343 "Get steps from URL parameters."
Land on an specific path (command line) through URL parameters.

[2021-07-30 09:08] ChrisCummins opened #345 "[llvm] `generator://csmith-v0` dataset does not work in Google Colab environment"
## 🐛 Bug

The Csmith generator is compiled locally on the user's machine from source. This fails on GitHub colab environments.

## To Reproduce

Steps to reproduce the behavior:

[code]
![image](https://user-images.githubusercontent.com/1636663/127629532-861053e0-304b-4e81-9d41-ae3011be65d3.png)

## Environment

- CompilerGym: v0.1.9
- How you installed CompilerGym (conda, pip, source): pip
- OS:

[2021-07-30 09:10] ChrisCummins commented on #330
IMO, this can achieved through:

1. end current session
2. start new session with the same benchmark/reward

[2021-07-30 10:37] #340 closed, assigned to ChrisCummins

[2021-07-30 12:03] #303 closed, assigned to ChrisCummins

[2021-07-30 13:21] sahirgomez1 commented on #330
Correct, I'm going to close this issue.

[2021-07-30 13:21] #330 closed, assigned to ChrisCummins

[2021-08-03 10:19] #345 closed, assigned to ChrisCummins

[2021-08-04 16:05] ChrisCummins opened #351 "Either explicitly prevent copy operators on environments, or add support for them"
## 🚀 Feature

As of v0.1.9, the shallow copy operator works on `CompilerEnv` instances but the deep copy operator fails:

[code]

## Pitch

Either cause both `copy()` and `deepcopy()` to raise an error, or use `env.fork()` to add support for them.

[2021-08-10 19:28] sahirgomez1 opened #353 "Find node from historical reward chart."
Find position in tree when clicking on a data point in the reward historical values chart.

[2021-08-11 06:51] Angerla opened #354 "How to use our own data make env and save the environment states"
## ❓ Questions and Help

I want to use our own data to make the env and save the environment states but meet the problems:
[code]
## Additional Context
The version I used is 0.1.8 and here is the code:
[code]

[2021-08-11 11:42] ChrisCummins commented on #354
Hi @Angerla, thanks for the question.

The name of the benchmark suite must contain a version tag such as "-v0". Try this:

[code]

Let me know if that works. I'll take a look at making that error message more descriptive :)

Cheers,
Chris

[2021-08-11 21:01] #343 closed, assigned to ChrisCummins

[2021-08-13 01:20] Angerla commented on #354
Thanks, it helped.

[2021-08-13 01:24] #354 closed, assigned to ChrisCummins

[2021-08-13 12:19] ChrisCummins opened #356 "Enable browser "back" button support"
When the URL params change, the browser does not register it as a new page, so the back button does not work as an "undo". It would be great if it did :-)

[2021-08-13 13:25] ChrisCummins opened #357 "Provide a more helpful error message on invalid benchmark name"
## 🚀 Feature

When a user provides a custom URI for a benchmark that doesn't conform to the regex, we should provide a more helpful error message than just a pydantic "regex not matched" error. See #354.

[2021-08-20 12:56] ChrisCummins opened #360 "[llvm] FileNotFoundError if C++ compiler is not installed"
## 🐛 Bug

When the LLVM environment is instantiated without a working C++ compiler on the system, a `FileNotFoundError` is raised.

## To Reproduce

Steps to reproduce the behavior using Docker:

1. Create a `Dockerfile`:
[code]
2. Build and run it to trigger the error:
[code]

## Expected behavior

The LLVM environment should still be usable without a system compiler. Perhaps just generate a warn

[2021-08-24 12:30] hughleat opened #362 "`with` syntax for `env.fork()`"
## 🚀 Feature

Add `__enter__` and `__exit__` to environments.

## Motivation

This would allow using `with` syntax:
[code]

## Alternative
[code]

[2021-08-25 15:06] ChrisCummins opened #365 "Required license headers missing"
## 🐛 Bug

[code]

[2021-08-25 15:07] ChrisCummins opened #366 "Make the API stateless"

[2021-08-25 16:51] #365 closed, assigned to ChrisCummins

[2021-08-26 13:01] #353 closed, assigned to sahirgomez1

[2021-08-26 13:01] #356 closed, assigned to sahirgomez1

[2021-09-02 23:55] ChrisCummins opened #370 "[llvm] Add support for optimizing for runtime"
## 🚀 Feature

This is a tracking issue for work related to adding support for optimizing the LLVM environments for minimizing runtime.

## Progress

- [x] Initial proof-of-concept for `benchmark://cbench-v0` and `generator://csmith-v0` datasets ([#307](https://github.com/facebookresearch/CompilerGym/pull/307)).
- [x] Document the new observation spaces ([#373](https://github.com/facebookresearch/C

[2021-09-07 12:19] #304 closed, assigned to ChrisCummins

[2021-09-07 19:54] ChrisCummins opened #371 "Pytest scripts cannot share basenames"
## 🐛 Bug

If two pytest test files have the same base name, pytest collection will fail.

## To Reproduce

Steps to reproduce the behavior:

1. Create files `tests/foo.py` and `tests/subdir/foo.py`
1. Run `make install-test` and observe pytest collection failure.

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.9
- How you installed CompilerGym (conda, pip, source): source

[2021-09-07 21:53] #371 closed, assigned to ChrisCummins

[2021-09-08 08:58] #360 closed, assigned to ChrisCummins

[2021-09-08 14:58] ChrisCummins opened #381 "Rename Reward.id to Reward.name"
## 🚀 Feature

The `Reward` class is unusual in that its name attribute is called `id`. We should rename this to `name` to be consistent with all of the other space classes.

## Motivation

To be consistent.

[2021-09-08 15:57] PuneetDabral commented on #381
sir can i do my first contribution here ...but i need your support

[2021-09-09 09:33] ChrisCummins opened #383 "Add support for optimizing GCC command line flags"
This issue tracks progress on merging @hughleat's new GCC environment into CompilerGym.

### Progress

- [x] Merge initial implementation (#314).
- [x] Add a "GCC Environment Reference" document to the [docs](https://facebookresearch.github.io/CompilerGym/).
- [ ] Complete the new action space schema (#369).
- [ ] Extend the [microbenchmark suite](https://github.com/facebookresearch/CompilerGym/bl

[2021-09-09 09:37] ChrisCummins commented on #381
Hi @PuneetDabral, great! I can help you.

The first thing to do would be to follow the [install instructions](https://github.com/facebookresearch/CompilerGym/blob/development/INSTALL.md#building-from-source) to build CompilerGym from source on your local machine.

The Reward class can be found in `compiler_gym/spaces/reward.py`. The job of this task is to rename the [Reward.id](https://github.com/

[2021-09-09 14:25] ChrisCummins opened #385 "Improve the CI efficiency"
## 🚀 Feature

CI quality has been slowly degrading. There are three main issues:

1. **Some of the tests are flaky.** Often times its just a case of re-running the job to "fix" a broken test, but the GitHub UI requires that *all* jobs be re-run which is very wasteful.
2. **Testing is inefficient.** There is no shared work between jobs. Every job builds its own CompilerGym version from scratch. Thi

[2021-09-09 23:47] PuneetDabral commented on #381
sir i changed self.id=name now what i can do?? can you please guide me

[2021-09-10 02:32] phesse001 opened #389 "Gym wrappers don't work with CompilerGym version 0.1.10"
When I upgraded to version 0.1.10 of CompilerGym, the compiler gym environment no longer worked with the gym wrappers.

## To Reproduce

Steps to reproduce the behavior:

1.) upgrade to compiler_gym version 0.1.10
2.) wrap compiler gym env with any gym wrapper
The gym wrapper I to implement the patience logic is here:
https://github.com/phesse001/compiler-rl/blob/0ca535a2797b98d5a7027aa4e7cab2c02d

[2021-09-10 10:07] ChrisCummins commented on #389
Hi Patrick,

Thanks for reporting this! The issue is that the [compiler_gym.CompilerEnv.step()](https://facebookresearch.github.io/CompilerGym/compiler_gym/envs.html#compiler_gym.envs.CompilerEnv.step) accepts two optional kwargs that `gym.Env.step()` does not. This means that a wrapper class must also accept those kwargs:

[code]

There are other slight differences between `Env` and `CompilerEnv`

[2021-09-10 13:57] phesse001 commented on #389
Ahhhh - makes sense, thanks Chris! I guess I probably saw that compiler gym had it's own wrappers but never made the connection as to why. Were these two kwargs not part of 0.1.9?

Thanks for the PR as well, much appreciated!

Patrick

[2021-09-10 22:04] aymanizz opened #393 "Taking Runtime observation repeatedly gets slower over time"
## 🐛 Bug

After creating an environment, taking the runtime observation from the same environment progressively takes more time to compute.

Log from the MRE below:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Create an environment.
2. Repeatedly take the runtime observation.

[code]

## Expected behavior

Taking the runtime observation repeatedly shouldn't get slower progressivel

[2021-09-11 01:20] ChrisCummins commented on #393
Hi @aymanizz, thanks for the report, and for the minimal repro script! I was able to successfully reproduce the problem on my end. Let me take a look a look at this next week and get back to you.

Cheers,
Chris

[2021-09-11 10:02] ChrisCummins opened #394 "Documentation for compiler_gym.wrappers is incomplete"
## 📚 Documentation

The module docstring for `compiler_gym/wrappers/__init__.py` simply reads:

👎

[2021-09-11 10:02] ChrisCummins commented on #389
Yeah, exactly that. The 0.1.9 release had a bug which meant that those kwargs would be silently ignored. In fixing that bug, I broke compatibility with "regular" gym wrappers.

I'm closing this issue but have made a note to improve the documentation for CompilerGym's wrappers to make this more clear (#394). Thanks again for reporting the issue.

Cheers,
Chris

[2021-09-11 10:02] #389 closed, assigned to ChrisCummins

[2021-09-13 11:32] ChrisCummins commented on #278
Relevant: #385.

[2021-09-13 14:12] ChrisCummins opened #396 "Enable action spaces to be self-documenting"
## 📚 Documentation

The environment reference documentation contains a description of the action space, and what each choice does. For example, see the [LLVM Environment Reference](https://facebookresearch.github.io/CompilerGym/llvm/index.html#action-space). It would be great if this documentation could be available programatically.

A possible approach to achieving this would be:

- Add a new `He

[2021-09-13 14:13] ChrisCummins commented on #396
For bonus points, this could be extended to enable observation spaces, reward spaces, benchmarks, datasets, and even the environments themselves to be self-documenting.

[2021-09-13 23:31] ChrisCummins commented on #393
Just a quick update on this: I have traced the source of the problem to the `subprocess:Popen()` library command that I am using to execute compiled binaries. When called many thousands of times in a tight loop its runtime slows down with each successive call.

I have a patch that fixes the issue by replacing `subprocess:Popen()` with `boost::process`. After a couple more days of testing and refin

[2021-09-14 12:53] aymanizz commented on #393
Thanks, Chris. That's great!

We've also noticed a gradual RAM usage increase (although slow) using the same code snippet above, not sure if this is an issue though. Can you try that on your end?

[2021-09-16 08:56] thecoblack commented on #243
Hey! I was checking this repo and I was wondering if you would like some help :P. I am a bit new contributing to open source so lmk if I can help.

[2021-09-16 15:56] ChrisCummins opened #399 "Fix timeout support for compiler_gym::util::wait_for() on macOS"
## 🐛 Bug

Some of the callsites to `boost::process:wait_for()` introduced in #398 will hang forever on macOS.

## To Reproduce

TODO: Create minimal repro C++ source.

## Expected behavior

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.10
- How you installed CompilerGym (conda, pip, source): source
- OS: macOS
- Python version: 3.8
- Build command you used (if compiling from

[2021-09-16 17:11] ChrisCummins opened #401 "[ci] Test coverage reports are no longer working"
## 🐛 Bug

Presumably a regression introduced in #392.

[2021-09-17 08:35] ChrisCummins opened #403 "Flaky GCC test failure on CI"
## 🐛 Bug

[code]

[Full run](https://github.com/facebookresearch/CompilerGym/runs/3627713357?check_suite_focus=true).

See also #385.

[2021-09-17 08:53] ChrisCummins commented on #393
Thanks for the report @aymanizz. I have checked the RAM usage and run time of my fix for this and everything seems stable, with RAM usage fixed at 32MB:

[code]

I am applying some finishing touches before merging #398, then will let you know when its safe to pull the latest development branch.

Cheers,
Chris

[2021-09-17 09:40] #403 closed, assigned to ChrisCummins

[2021-09-17 12:34] #393 closed, assigned to ChrisCummins

[2021-09-17 12:34] ChrisCummins commented on #393
#398 has been merged into development. Please update and let me know if you are able to reproduce the problem.

Cheers,
Chris

[2021-09-20 10:47] ChrisCummins commented on #243
Hi @thecoblack, great, thanks for offering to help!

Are you new to development in general or just new to open source? This particular issue may be more advanced then some of the others. I would suggest #148 might be a more suitable starting point.

Cheers,
Chris

[2021-09-20 14:49] ChrisCummins opened #407 "CI test failure: test_running_environment_in_background_process"
## 🐛 Bug

Test failure in [test-llvm-env-macos](https://github.com/facebookresearch/CompilerGym/runs/3650623731?check_suite_focus=true) job of CI workflow:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.10
- How you installed CompilerGym (conda, pip, source): source
- OS: macOS
- Python version: 3.9

[2021-09-20 14:52] ChrisCummins opened #408 "ASAN test failures on CI"
## 🐛 Bug

Failing test reports:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: v0.1.10
- How you installed CompilerGym (conda, pip, source): source
- OS: Linux
- Python version: 3.9

[2021-09-21 10:40] thecoblack commented on #243
I'm just new to open source. Regarding the issue, I've already checked this issue and I might have a solution, but i will check the other one too :).

Thanks!

[2021-09-21 13:15] ChrisCummins commented on #401
Fixed in #406.

[2021-09-21 13:15] #401 closed, assigned to ChrisCummins

[2021-09-21 14:56] ChrisCummins opened #412 "Make the "example compiler gym service" work without bazel"
## 🚀 Feature

The example of how to add a new compiler service in `examples/example_compiler_gym_service` requires bazel to run. It would nice if it could instead be run standalone, as bazel isn't familiar to everyone and can be confusing to debug when it fails.

Also the the README.md file is out of date.

Thanks to @mostafaelhoushi for the report.

[2021-09-21 15:31] mostafaelhoushi commented on #412
I first read the title as:

[2021-09-22 07:40] ChrisCummins commented on #407
Another failure on the `test-llvm-env-asan-linux` job:

[code]

[2021-09-22 08:45] #243 closed, assigned to ChrisCummins

[2021-09-22 10:37] #407 closed, assigned to ChrisCummins

[2021-09-22 12:49] ChrisCummins commented on #399
FWIW I tried a hand-rolled implementation and still encountered the timeout issues:

[code]

[2021-09-22 13:02] hughleat opened #422 "Possible error in how to generate unbiased benchmarks"
## 📚 Documentation
(Possible error, possibly me doing it wrong)
https://facebookresearch.github.io/CompilerGym/compiler_gym/datasets.html

The code for `random_benchmark` says:

[code]

But, I think that if you call `len` on a generator, it will fail with error:
`TypeError: 'float' object cannot be interpreted as an integer`

Suggest changing it to:
`d.size != math.inf`

[2021-09-22 15:56] ChrisCummins commented on #422
Thanks for the report @hughleat! `len()` can't return a float, and `math.inf` is a float. I filed a bug for this back in #303 but missed the example doc you have reported. It can be simplified to something like:

[code]

Cheers,
Chris

[2021-09-23 14:34] hughleat opened #426 "Observation 'Bitcode' without going through a temporary file."
## 🚀 Feature

Have an observation which just returns the bytes of the bitcode, rather than the file. Going through a temporary file is a (tiny) bit annoying.

[code]
## Motivation

I'm passing bitcode to LLVM tools. They will accept bitcode on stdin and emit it to stdout. No need for a temporary file.

## Pitch

Don't use a file when a `bytes` will do?

## Alternatives

Keep using a file.

[2021-09-23 14:39] ChrisCummins commented on #426
Yep, this is a good idea. Happy to take this if you want, will only take a few min.

Cheers,
Chris

[2021-09-23 20:55] hughleat opened #427 "Distinguish if uris refer to datasets or benchmarks"
## 🚀 Feature

Add functions to `env` to check if a uri belongs to dataset or to a benchmark

[code]

## Motivation

To enable people to understand the meaning of those uri strings.

[2021-09-24 11:01] ChrisCummins opened #429 "[ci] GCC tests hitting Docker Hub rate limit"
## 🐛 Bug

The GCC tests are hitting Docker's [API rate limit](https://www.docker.com/increase-rate-limits?utm_source=docker&utm_medium=web%20referral&utm_campaign=increase%20rate%20limit&utm_budget=), causing them to fail.

[2021-09-27 09:55] ChrisCummins commented on #429
Unable to reproduce, and according this comment, the rate limit shouldn't affect github actions: https://github.com/actions/virtual-environments/issues/1445#issuecomment-713861495

[2021-09-27 12:28] ChrisCummins opened #431 "Support optionally running Python compiler services in-process"
## 🚀 Feature

## Motivation

The goal is to make it easier for developers to debug new compiler services by removing the inter-process comms layer that can obfuscate stack traces and make it harder to trace the cause of bugs. See #318.

## Pitch

Extend the CompilerGym [class constructor](https://github.com/facebookresearch/CompilerGym/blob/9e7dfac1a269055343ae65dbcd9660f98e956b17/compiler_gym/env

[2021-09-29 15:30] ChrisCummins opened #437 "[www] Syntax error while compiling frontend"
## 🐛 Bug

I am unable to build the web frontend as of befa6fbbc84842714fa959ff4a57a780e59e0fc1 due to syntax errors during npm's build:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. git checkout development && git pull
1. make www

This is using a Homebrew npm install:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: 0.1.10
- How you installed CompilerGym (c

[2021-09-29 16:34] ChrisCummins commented on #429
Re-opening as I hit this error again: https://github.com/facebookresearch/CompilerGym/pull/436/checks?check_run_id=3746431321

[code]

[2021-09-29 16:43] #408 closed, assigned to ChrisCummins

[2021-09-29 18:44] ChrisCummins commented on #366
Done

[2021-09-29 18:44] #366 closed, assigned to ChrisCummins

[2021-09-29 20:59] ChrisCummins opened #445 "Use more verbose logging when performing one-time downloading / unpacking of datasets"
## 🚀 Feature

There are several operations in CompilerGym that can cause expensive downloading / unpacking operations, such as accessing a new dataset, using a new environment, etc. CompilerGym environments should be more verbose in logging when these situations occur as otherwise the user is left wondering why their app has "frozen" on an otherwise benign looking operation like `env.reset()` of `

[2021-09-29 21:00] ChrisCummins commented on #278
Done.

[2021-09-29 21:00] #278 closed, assigned to ChrisCummins

[2021-09-30 07:46] #426 closed, assigned to hughleat

[2021-10-03 03:04] mostafaelhoushi opened #448 "More Accurate Runtime Measurement"
## 🚀 Feature

Make `Timer` measure time in a more accurate way

## Motivation

I have noticed that the [`Timer` class](https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/util/timer.py) that is used to measure runtime uses Python's `time` function to measure the time before and after running the executable, and this is an inaccurate method to measure time.

## Pitch

We c

[2021-10-03 13:22] hughleat opened #449 "Add IR2Vec observation space"
## 🚀 Feature

New program representation:
https://github.com/IITH-Compilers/IR2Vec

## Motivation

The CompilerGym is a one stop shop for all things ML in C?

[2021-10-05 11:10] ChrisCummins commented on #437
Mitigated by #447, and there is now a CI job to catch these errors at commit time.

[2021-10-05 11:10] #437 closed, assigned to sahirgomez1

[2021-10-05 13:52] ChrisCummins opened #450 "Automate testing of example Jupyter notebooks"
## 🚀 Feature

This repo contains Jupyter notebooks to demonstrate CompilerGym's features. These notebooks are not currently tested as part of a CI job so they can easily bitrot.

## Motivation

I <3 regression testing.

## Pitch

Use [pytest + nbmake](https://semaphoreci.com/blog/test-jupyter-notebooks-with-pytest-and-nbmake) to test Jupyter notebooks and integrate that into the `make test` and `m

[2021-10-05 13:54] ChrisCummins commented on #448
Thanks for the report @mostafaelhoushi! Yes, `compiler_gym.util.timer.Timer` is just meant for logging / debugging and not for taking accurate runtime measurements. If you could provide a pointer to where that is used in the codebase that would be helpful.

Cheers,
Chris

[2021-10-05 13:58] ChrisCummins commented on #449
Thanks for the feature request @hughleat. Looks good to me. I wonder if its backwards compatible to LLVM 10 (readme says 12 only). Other than that, the only challenge should be jumping through the hoops to integrate their cmake into our bazel build. We could maybe ship a IR2Vec binary to make that easier.

Let me know if you'd like this prioritized.

Cheers,
Chris

[2021-10-05 14:32] mostafaelhoushi commented on #448
My understanding that it is being used here by Cbench to measure execution time. Is there another class/function in CompilerGym to measure time more accurately?
https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/envs/llvm/datasets/cbench.py#L182-L227

[2021-10-05 15:43] ChrisCummins commented on #448
Ah I see! That code is a little misleading (its leftover from before the new Runtime implementation). The wall time returned by that `_compile_and_run_bitcode_file()` function is never actually used anywhere. The Runtime observation for LLVM environments is measured [in the C++ backend](https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/envs/llvm/service/Benchmark.cc#L23

[2021-10-05 15:48] mostafaelhoushi commented on #448
OK. I see. And it is probably running multiple times and taking the average.
OK. Will close the issue then.

[2021-10-05 15:48] #448 closed, assigned to ChrisCummins

[2021-10-05 16:25] ChrisCummins commented on #448
The `Runtime` observation space runs the command for a user-specifiable *n* times (and does *m* warmup runs) and returns an array of measurements:

[code]

We don't currently support using `Runtime` as a reward, only as an observation space, so we have no opinion on how to aggregate the numbers. When we do add support (#370) we should provide plenty of options. I like your suggestion of averaging

[2021-10-06 10:34] ChrisCummins opened #451 "Add `reward` and `observation` arguments to env.reset()"
## 🚀 Feature

The [CompilerEnv constructor](https://facebookresearch.github.io/CompilerGym/compiler_gym/envs.html#compiler_gym.envs.CompilerEnv) accepts a pair of arguments `reward_space` and `observation_space`. We should add those to `env.reset()`, same as specifying the benchmark.

## Motivation

Because this feels like a clumsy API:

[code]

## Pitch

Allow:

[code]

[2021-10-06 12:11] #422 closed, assigned to hughleat

[2021-10-06 13:49] #362 closed, assigned to ChrisCummins

[2021-10-07 16:54] ChrisCummins opened #456 "Multiple regressions introduced in gym 0.21"
## 🐛 Bug

Failing [CI job](https://github.com/facebookresearch/CompilerGym/pull/454/checks?check_run_id=3829750198):

[code]

[2021-10-07 17:00] ChrisCummins commented on #456
Digging into this, the problem seems to arise with `gym==0.21`, but not earlier version `gym==0.20`. Not sure if this is a bug in gym.

[2021-10-11 16:00] ChrisCummins commented on #456
This is a high priority bug as it is currently breaking all CI signals.

[2021-10-11 17:18] #456 closed, assigned to ChrisCummins, bwasti

[2021-10-11 17:36] ChrisCummins opened #459 "Test regressions introduced in #453"
## 🐛 Bug

This issue tracks progress towards addressing the errors of the type:

[code]

that were introduced in #453.

[2021-10-11 21:15] #445 closed, assigned to ChrisCummins

[2021-10-11 22:13] ChrisCummins opened #461 "Derived observation spaces are unusable during construction time"
## 🐛 Bug

Observation spaces that are registered using `add_derived_observation_space()` are unusable during construction time.

## To Reproduce

Steps to reproduce the behavior:

[code]

The workaround is to first construct the environment and then assign the observation space:

[code]

## Expected behavior

[code]

## Environment

Please fill in this checklist:

- CompilerGym: v0.2.0
- How you i

[2021-10-12 13:07] #461 closed, assigned to ChrisCummins

[2021-10-12 15:00] ChrisCummins opened #465 "[llvm] "./a.out: Permission denied" error for runtime observations in Google Colaboratory"
## 🐛 Bug

I'm not sure if this is a security feature of colab (preventing execution of arbitrary binaries) or a problem that we can fix in CompilerGym.

## To Reproduce

[code]

[Demo notebook](https://colab.research.google.com/drive/1m-W3Qy0swiD8P4YvpfX6SP6UYSFWVhnH?usp=sharing).

## Environment

Please fill in this checklist:

- CompilerGym: v0.2.0
- How you installed CompilerGym (conda, pip, so

[2021-10-13 08:46] Angerla opened #466 "How to run the Example CompilerGym Service"
## ❓ Questions and Help

I want to run the Example CompilerGym Service, but I'm not clear how to do it. I download the source of the example, the main working directory is as follows::
[code]
I tried this command `bazel run -c opt //examples/example_compiler_gym_service/service -- --port=8080 --working_dir=/tmp` in the root directory "CompilerGym", but get the error:
[code]
I also tried the comman

[2021-10-13 09:23] ChrisCummins commented on #466
Hi @Angerla, thanks for the questions! I'll answer them in reverse order since the build error needs fixing first:

## Build error "invalid types ..."

This is likely because the version of GCC you are using is too old to build CompilerGym. CompilerGym needs a GCC >= 9. You can check your version using:

[code]

On Linux we recommend building using clang >= 6. You can force bazel to use a differen

[2021-10-13 14:22] Angerla commented on #466
I have changed the version of GCC and run the example C++ service but meet this compiler error:
[code]

**The version of GCC is 11.2, the version of Clang is 10, and the version of Bazel is 4.0.**

[2021-10-13 14:26] ChrisCummins commented on #466
You will need to clear the bazel cache whenever switching compiler.

[code]

Then repeat your `bazel run -c opt //examples/example_compiler_gym_service/service_cc:compiler_gym-example-service-cc -- --port=8080 -alsologtostderr -v=3` command.

Cheers,
Chris

[2021-10-14 01:47] Angerla commented on #466
I meet this compiler problem after I clean the bazel cache:
[code]
Thanks.

[2021-10-14 09:10] ChrisCummins commented on #466
I'm not sure about this. It still looks like a problem with the version of gcc you are using. Can you report the output of:

[code]

Cheers,
Chris

[2021-10-14 09:15] ChrisCummins commented on #466
BTW you may find it easier to use the our docker linux image as a build environment. This is the image that we use to build the Linux binary releases. From the root of the repository, run:

[code]

that will drop you into the bash prompt of a linux enviornment with all of the required build dependencies. You can build binaries in the `/CompilerGym` directory of the container which is shared with t

[2021-10-14 09:42] Angerla commented on #466
The version of GCC is 11.2:
[code]
Thanks, I may try the docker linux image.

[2021-10-14 09:54] ChrisCummins commented on #466
Thanks for reporting back your GCC version. I haven't tested that specific version but it should be fine! Given that the build error is in compiling one of the third party dependencies (the boringssl package), I'm not sure how to fix the problem. The only thing I would suggest would be to use the docker image, or switch to a clang toolchain and start a clean build to see if that addresses the prob

[2021-10-14 09:55] ChrisCummins commented on #466
BTW I have [updated the documentation](https://github.com/facebookresearch/CompilerGym/tree/development/examples/example_compiler_gym_service) for the example service so I'm closing this issue, but feel free to continue commenting here while we resolve your build problems.

Cheers,
Chris

[2021-10-14 09:55] #466 closed, assigned to ChrisCummins

[2021-10-18 10:41] ChrisCummins opened #469 "Proposal: env.step() and env.reset() should never throw exceptions"
## 🚀 Feature

There are many things that can go wrong during environment initialization / step. Things like:

1. A logic error in the service could cause it to segfault and crash.
2. A logic error in the service could cause it to enter an infinite loop.
3. An overloaded machine could cause the service to get killed due to OOM.

The `CompilerEnv` is a little inconsistent in how such errors are hand

[2021-10-26 15:06] ChrisCummins opened #474 "Binding a socket to all network interfaces in tests"
## 🐛 Bug

Bug to track progress on the CodeQL `py/bind-socket-all-network-interfaces` rule which has correctly flagged some code in one of the unit tests for binding a socket to all addresses:

https://github.com/facebookresearch/CompilerGym/security/code-scanning/2?query=ref%3Arefs%2Fheads%2Fdevelopment

[2021-11-02 10:47] #474 closed, assigned to ChrisCummins

[2021-11-10 12:02] ChrisCummins opened #480 "[loop_tool] "Abandoning orphan service" when closing an active CUDA environment"
## 🐛 Bug

The loop tool environment appears to hang during shutdown after taking a minimum of one step using a CUDA benchmark.

## To Reproduce

Steps to reproduce the behavior:

1. Create a file `test.py`:
[code]
2. Run the test script with verbose logging, and note that the length pause after the "EndSession()" logging printout, followed by "Abandoning orphan service" message:
[code]
3. Note tha

[2021-11-10 13:42] ImanHosseini opened #481 "Following the installation instructions does not work"
## 🐛 Bug

Following the instructions here: https://github.com/facebookresearch/CompilerGym/blob/development/INSTALL.md
I get:
[code]
"CompilerGym requires Python >= 3.6. The binary works on macOS and Linux (on Ubuntu 18.04, Fedora 28, Debian 10 or newer equivalents)." -> I am on Python 3.8 and Ubuntu 20.04 (WSL2).

[2021-11-10 14:19] ChrisCummins commented on #481
Hi @ImanHosseini, thanks for the report. That's odd. Can you confirm what command you run to produce this error?

@bwasti, do you know of any issue with dependency resolution for loop-tool-py on WSL2 / py3.8?

Cheers,
Chris

[2021-11-10 14:36] ChrisCummins commented on #427
I believe the functionality you want here is already covered by `re.match()` on the two regexes defined by CompilerGym for matching benchmark and dataset URIs:

[code]

Cheers,
Chris

[2021-11-10 14:36] #427 closed, assigned to hughleat, ChrisCummins

[2021-11-10 15:16] ImanHosseini commented on #481
I tried: "pip install -U compiler_gym" and "python3 -m pip install -U compiler_gym"

[2021-11-11 12:59] ChrisCummins commented on #481
I can't repo on my local machine or [in colab](https://colab.research.google.com/drive/1HRwdCxucQA5MzonvqRaGWAOHokW3XXbi?usp=sharing). Any chance you could try a clean conda environment? Else there is a docker image available.

Cheers,
Chris

[2021-11-11 17:51] ImanHosseini commented on #481
hmm, I had 0.0.6 installed and it was using some cache, not picking up 0.0.7. I manually got the .whl to installed it and works now! Thanks.

[2021-11-11 17:51] #481 closed, assigned to bwasti

[2021-11-11 18:35] ChrisCummins commented on #481
That's great to hear, thanks for following up with what worked for you!

Cheers,
Chris

[2021-11-12 22:22] dejangrubisic opened #483 "demo_without_bazel example: cannot import name 'ChoiceSpace' from 'compiler_gym.service.proto"
## 🐛 Bug

Hi there, I was able to build CompilerGym following your instructions and everything seems to work except running demo_without_bazel. When I run:

[code]

I am getting:

[code]

If I noticed that 'ChoiceSpace' is missing from
/home/dx4/tools/miniconda3/envs/compiler_gym/lib/python3.8/site-packages/compiler_gym/service/proto/__init__.py
and a few more keywords too. Check the Additional co

[2021-11-15 13:12] ChrisCummins commented on #483
Hi @dejangrubisic, thanks for the excellent bug report! I believe this should fix your problem:

[code]

The problem is that installing CompilerGym using `make install` does not replace any version installed previously using `pip install`. This can lead to the wrong version being used when you import the CompilerGym library. The `example_compiler_gym_service/demo_without_bazel.py` depends on new A

[2021-11-17 01:31] ChrisCummins commented on #52
Done.

[2021-11-17 01:31] #52 closed, assigned to ChrisCummins

[2021-11-17 13:27] ChrisCummins opened #487 "[examples] llvm_rl/tests/training_integration_test.py hangs on CI"
## 🐛 Bug

The call to `model.test()` hangs before failing with a TimeoutError.

[2021-11-17 13:38] sogartar opened #488 "Circular dependency in the built of the compiler_gym python package"
Hi @ChrisCummins,
While porting the build to CMake I encountered a circular dependency problem that I don't know why it does not manifest when running the Bazel build.
There is the following dependency chain.
* `//compiler_gym:compiler_gym`
* `//compiler_gym/envs:envs`
* `//compiler_gym/envs/llvm:llvm`
* `//compiler_gym/envs/llvm:specs`
* `//compiler_gym/envs/llvm/service:compiler_gym-llvm-service

[2021-11-17 14:58] dejangrubisic commented on #483
Thanks, @ChrisCummins that fixed it :)

[2021-11-17 15:14] ChrisCummins commented on #488
Hi @sogartar, great detective work!

It wouldn't do any harm to move the auto-generation scripts, but there is also no benefit. As you found out, `compiler_gym/envs/llvm/service/passes/*.py` are not included in the final `compiler_gym` package build. Their only job is to generate some C++ headers/sources that are used to compile the LLVM component (see [rule](https://github.com/facebookresearch/Co

[2021-11-17 15:17] ChrisCummins commented on #483
Brilliant, glad to hear!

[2021-11-17 15:17] #483 closed, assigned to ChrisCummins

[2021-11-17 20:43] sogartar commented on #488
@ChrisCummins, [make_specs.py](https://github.com/facebookresearch/CompilerGym/blob/6eac3c1b2a5355bb4ed55f243fb834ccfcdd9fcb/compiler_gym/envs/llvm/make_specs.py) seems much harder to fix in this manner because it imports a lot of stuff from the `compiler_gym` package.
I am curious how is this resolved in Bazel and does not manifest there.

[2021-11-18 13:21] #385 closed, assigned to ChrisCummins

[2021-11-18 13:49] ChrisCummins commented on #488
The CompilerGym package depends on `make_specs.py` (or rather, the `specs.py` file that it generates), not the other way around:

![deps](https://user-images.githubusercontent.com/1636663/142426854-097a6741-9437-497d-8c90-94ff2ed10d33.png)
[code]

The fact that `make_specs.py` imports a couple of modules from CompilerGym means that it shares a subset of the dependencies of the main package:

https

[2021-11-18 15:59] sogartar commented on #488
The current approach in CMake is populating one directory structure, when going through the targets. It is not sandboxed. This may cause a failure for example if `compiler_gym::compiler_gym` has passed successfully in a previous build, but then `version.py` gets deleted. It may not be generated before `make_specs.py` runs, causing a failure. I will probably add such a "core" target and `specs` wou

[2021-11-18 17:53] ChrisCummins commented on #488
Sounds like the way to go :)

Cheers,
Chris

[2021-11-29 14:47] ChrisCummins opened #494 "protoc segfaults on macOS 12.0.1"
## 🐛 Bug

The version of protoc used by the CompilerGym build segfaults on macOS 12.0.1:

[code]

Thanks @mostafaelhoushi for discovering this!

## To Reproduce

Steps to reproduce the behavior:

1. Update to macOS 12.0.1.
1. Start from a clean build: `make distclean`.
1. Attempt to build CompilerGym:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: 0.2.1
- How you installed

[2021-12-01 03:36] ChrisCummins commented on #465
I was able to reproduce a similar issue in a docker container, and it turned out the problem was that executables in `/dev/shm` are not executable. It would be worth setting a different transient cache and seeing if the problem still holds in colab.

Cheers,
Chris

[2021-12-03 17:58] KyleHerndon opened #501 "CompilerGym/requirements.txt is invalid"
## 🐛 Bug
CompilerGym/requirements.txt is an invalid requirements specification:
- `CompilerGym/requirements.txt` recursively includes `CompilerGyms/compiler_gym/requirements.txt` and `CompilerGyms/examples/requirements.txt`
- `CompilerGyms/compiler_gym/requirements.txt` specifies numpy>=1.19.3
- `CompilerGyms/compiler_gym/requirements.txt` specifies numpy~=1.19.2

## To Reproduce

`python -m pip i

[2021-12-03 23:41] ChrisCummins commented on #501
Thanks for the report @KyleHerndon! I agree, specifying `numpy` dependency in both `compiler_gym/requirements.txt` and `examples/requirements.txt` looks redundant to me. I would suggest extending the range of acceptable numpys in `compiler_gym/requirements.txt` to `numpy>=1.19.0` and removing the dep from `examples/requirements.txt`.

FWIW I am unable to reproduce the error locally on the followin

[2021-12-04 00:06] KyleHerndon commented on #501
Yeah, I discovered that apparently this issue doesn't occur on updated versions of pip. My bad for not including my pip version in my report.

That said, I agree with the changes you propose.

[2021-12-04 00:08] ChrisCummins commented on #501
Perfect, patches welcome! 🙂

Cheers,
Chris

[2021-12-05 03:03] yqtian-se opened #502 "The meaning of stateful policy in eval_llvm_instcount_policy"
## ❓ Questions and Help

I'd like to know how the `eval_llvm_instcount_policy()` work for the stateful policy.
Specifically, in the following code, will all env in the benchmark use the same instance of MyPolicy?
Or it will create a unique instance for each env in the benchmark?

[code]
Thanks.

[2021-12-06 11:21] ChrisCummins commented on #502
Hi @yqtianust, good question. The same `MyPolicy` instance will be called for each environment in turn, one at a time. The implementation is [here](https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/leaderboard/llvm_instcount.py#L114-L117).

For example, if we define a policy that logs the benchmarks to file:

[code]

Running this script produces the following output:

[

[2021-12-06 11:21] #502 closed, assigned to ChrisCummins

[2021-12-08 17:56] yqtian-se opened #505 "[llbm] miBench dataset has optnone function attribute set"
## 🐛 Bug

I am not sure whether it is a bug, or perhaps it is due to the dataset?

I run the e-greedy algorithm https://github.com/facebookresearch/CompilerGym/blob/development/leaderboard/llvm_instcount/e_greedy/e_greedy.py on  mibench. The results seems does not make sense at all: all rewards are 0 in terms of instruction count.

I don't think it is due the implementation of e_greedy.py. Actuall

[2021-12-09 11:56] ChrisCummins opened #506 "Add support for building CompilerGym using CMake"
## 🚀 Feature

This is a tracking issue for the progress that @KyleHerndon and @sogartar have made on adding support for building CompilerGym using CMake.

The initial discussions and plan were outlined in the comments of this PR #478.

Progress:

- [x] Support for building the CompilerGym wheel on Linux (#498)
- [ ] Support for building the CompilerGym wheel on macOS
- [ ] Support for building `ex

[2021-12-09 17:59] ChrisCummins commented on #505
Hi @yqtianust, thanks for the report!

This is indeed a bug. All mibench programs have the same size when optimized by -Oz. Test script:

[code]

Produces output:

[code]

The problem is that mibench bitcodes have been prepared without the right flags, causing the `optnone` function attribute on all bitcodes:

[code]

For more context, see [here](https://github.com/facebookresearch/CompilerGym/blo

[2021-12-09 21:33] ChrisCummins commented on #488
Closing as I believe @sogartar has worked around the issue in #498, and now superseded by #506.

Cheers,
Chris

[2021-12-09 21:33] #488 closed, assigned to ChrisCummins

[2021-12-09 22:59] ChrisCummins opened #509 "[examples] "explicit qualification in declaration" while building loop_unroller example"
## 🐛 Bug

Strange error while building the loop unroller example pass:

[code]

The problem appears to be with the `llvm::` namespace.

## To Reproduce

[code]

## Environment

Please fill in this checklist:

- CompilerGym: 0.2.1
- How you installed CompilerGym (conda, pip, source): source
- OS: Ubuntu 20.10
- Python version: 3.8
- Build command you used (if compiling from source): `make test`
- G

[2021-12-09 23:07] #412 closed, assigned to ChrisCummins

[2021-12-10 01:28] yqtian-se commented on #505
Thanks for the detailed feedback. Good to know it is a bug.

[2021-12-10 01:41] #465 closed, assigned to ChrisCummins

[2021-12-10 02:29] ChrisCummins commented on #505
Hi @yqtianust,

I have made a new `mibench-v1` dataset which contains the same files with the `optnone` attribute stripped so that the compiler can improve them:

[code]

The dataset will be available in the next CompilerGym release, or as soon as #511 is merged if you are building from the development branch.

Cheers,
Chris

[2021-12-10 03:04] yqtian-se commented on #505
Thanks. I will have a try. Do I need to manually remove the cache of the old version mibench?

[2021-12-10 03:30] ChrisCummins commented on #505
No, just update references from mibench-v0 to mibench-v1.

Cheers,
Chris

[2021-12-10 15:54] #505 closed, assigned to ChrisCummins

[2021-12-10 21:33] sogartar opened #514 "Assert fails in llvm::BitcodeWriter::~BitcodeWriter() during some tests"
## 🐛 Bug

When running some of the tests and LLVM is built in debug, an assert in fails `llvm::BitcodeWriter::~BitcodeWriter()`.

I encountered this when doing the [CMake build PR](https://github.com/facebookresearch/CompilerGym/pull/498). There LLVM could be built in debug, wheres it seems the Bazel build uses a prebuilt release version, so the assert is suppressed.
It appears in tests related to

[2021-12-13 12:23] #494 closed, assigned to ChrisCummins

[2021-12-13 17:56] ChrisCummins commented on #514
Hi @sogartar, thanks for the report!

Without being familiar with the code, I had a bit of a hard time understanding why this assert is thrown given the lack of comments: https://github.com/llvm/llvm-project/blob/d32170dbd5b0d54436537b6b75beaf44324e0c28/llvm/lib/Bitcode/Writer/BitcodeWriter.cpp#L4370

However it seems like the problem will go away if I just swap one API call for another. I'm going

[2021-12-13 22:05] sogartar commented on #514
I just ran the failing tests against the PR. Here is the log  [LastTest.log](https://github.com/facebookresearch/CompilerGym/files/7706114/LastTest.log).

I noticed that this assert does not fail. The `tests/llvm/llvm_env_test` test now passes.

The other tests are still failing. Namely,
* `tests/fuzzing/llvm_stress_fuzz_test`
* `tests/llvm/fresh_environment_observation_reward_test`
* `tests/llvm/

[2021-12-14 15:48] #514 closed, assigned to ChrisCummins

[2021-12-15 18:39] sogartar commented on #459
I also encountered this on my Ubuntu 20.04 environment.
Here is my tests log [log-build-2021-12-15T01-06-01Z-failed-tests.txt](https://github.com/facebookresearch/CompilerGym/files/7721870/log-build-2021-12-15T01-06-01Z-failed-tests.txt).

I think it is caused due to difference in pip dependencies.
Here is the list of my pip packages [pip-pakcages.txt](https://github.com/facebookresearch/CompilerG

[2021-12-15 20:30] ChrisCummins commented on #459
Yep, that looks like the same kind of errors. Thanks for sharing your logs and package lists.

I think that's right. I first noticed the error after bumping my pytest version.

That's what I thought too, but I haven't been find the time to audit all of the uses of sockets in the codebase to narrow down the cause. As a result I've just been marking failing tests as `xfail` (which is terrible form,

[2021-12-15 20:40] ChrisCummins commented on #318
This is implemented:

[code]

[2021-12-15 20:40] #318 closed, assigned to ChrisCummins

[2021-12-15 20:44] ChrisCummins commented on #459
BTW I wasn't able to narrow down whether the unclosed resource is from a subprocess (#326), or an open logfile / other resource.

[2021-12-15 23:05] sogartar commented on #459
One strategy to debug this is to log the stack and file descriptor when file descriptors are opened. Then you would know which file descriptor is left open.
This implies adding this logging to all places in the code that create sockets.

[2021-12-16 11:23] ChrisCummins commented on #459
That's a good idea :) I'll try and carve out some time in mid January to take a look.

Cheers,
Chris

[2021-12-20 02:49] #501 closed, assigned to ChrisCummins

[2021-12-21 11:53] ChrisCummins opened #524 "Switch benchmark URI parser to urllib.parse()"
## 🚀 Feature

Python already has a [great parser](https://docs.python.org/3/library/urllib.parse.html) for URIs. Use it instead of these ad-hoc regexes:

https://github.com/facebookresearch/CompilerGym/blob/398b39f4cda06f43ee119c9b488aaf7b45266f79/compiler_gym/datasets/uri.py#L8-L22

## Motivation

The goal is to lay the groundwork to support more flexible benchmark URIs, such as those with query

[2021-12-21 18:52] sogartar opened #526 "Nested spaces in gRPC"
## ❓ Questions and Help

It looks like that the proto definitions of [action space](https://github.com/facebookresearch/CompilerGym/blob/398b39f4cda06f43ee119c9b488aaf7b45266f79/compiler_gym/service/proto/compiler_gym_service.proto#L129), [action](https://github.com/facebookresearch/CompilerGym/blob/398b39f4cda06f43ee119c9b488aaf7b45266f79/compiler_gym/service/proto/compiler_gym_service.proto#L139

[2021-12-23 01:17] 13301338176 opened #527 "what is e2e process from compiler_gym LLVM to specific platform (for example ARM, Hexagon) ?"
## ❓ Questions and Help

what is e2e process from compiler_gym LLVM  to specific  platform (for example ARM, Hexagon) ?

compiler_gym LLVM only generate "LLVM IR"  and it is responsibility for "ARM/Hexagon Backend" to generate machine code ?

[2021-12-23 01:42] ChrisCummins commented on #527
Hi @13301338176, yep, CompilerGym's LLVM environment takes LLVM IR as input and produces LLVM IR as output. To get your code *in*, you can use [env.make_benchmark()](https://compilergym.com/llvm/api.html#compiler_gym.envs.llvm.make_benchmark). To get the IR *out*, you can use the [env.write_bitcode()](https://compilergym.com/compiler_gym/envs.html#compiler_gym.envs.LlvmEnv.write_bitcode) method or

[2021-12-23 01:49] ChrisCummins commented on #526
Hi @sogartar,

Interesting suggestion! Possibly 🙂 I can see the value of nested action and observation spaces, but I don't know of any immediate use cases so I haven't prioritized it. The closest we have in the current version would be something like the JSON data structure returned by some of the LLVM environment's observations, but in that case I just send it over as raw bytes data and deseriali

[2021-12-23 01:50] #509 closed, assigned to ChrisCummins

[2021-12-23 17:49] sogartar commented on #526
Currently the structure for the action spaces is

[code]

I could extend the protocol by adding to the `ChoiceSpace`. Another option is to restructure it. I was thinking to make it closer to what is available in python.
Something like shown below.
[code]

I don't know how open you are to breaking changes at this stage.

[2021-12-24 05:27] 13301338176 commented on #527
@Chris,  Thanks you .  good &flexible  design for CompilerGym to  decouple  IR optimization  from native machine code.   I love it.   Beside "phase order optimization" ,  is there any other option do for LLVM IR optimization ?  or any roadmap for deep learning OPs optimization  ?  or  any interface/API   users can use to extend/custom other use case (like DNN Ops)?

[2021-12-24 05:38] 13301338176 commented on #527
I found :   benchmark = make_benchmark('my_app.c') ,   env = gym.make("llvm-v0"),  env.reset(benchmark=benchmark)
Seems  input is "C" source code ,  are you sure we can use "LLVM IR" as input ?
if Yes,  what is APIs?  still like    benchmark = make_benchmark('xxx.bc')  ?

[2021-12-24 11:49] ChrisCummins opened #528 "Add a table of accepted file types to llvm.make_benchmark()"
## 📚 Documentation

Be more clear about the accepted file types.

https://compilergym.com/llvm/api.html#compiler_gym.envs.llvm.make_benchmark

[2021-12-24 11:50] ChrisCummins commented on #527
Not at present, though we are working on a new LLVM environment dedicated to loop optimizations for LLVM, and I know of some third party researchers who are working on a superoptimization environment for LLVM. At the moment, it would be possible to integrate your own IR optimization into the phase ordering environment by dumping the bitcode of the environment, applying your ad-hoc transformation,

[2021-12-24 12:21] ChrisCummins commented on #526
I am open to breaking changes. The proto interface is described as [somewhat stable](https://compilergym.com/about.html#feature-stability) 😉 . For reference, the last breaking change was in September (#369). It's not too hard to update the in-tree environment implementations and won't affect any user-facing APIs.

Some initial thoughts on your proposed schema:

* I would split the union type `Scal

[2021-12-26 21:54] 13301338176 commented on #527
Thank you for explanation , Happy holidays!.

[2021-12-27 21:22] sogartar commented on #526
I will make a PR that introduces the new message structure and refactor the existing compiler environments. First I will propose the change to the protobuf message descriptions. Once the details are settled, I will refactor the environments.

I thought of putting them in a separate package like it is with the spaces interface in CompilerGym and OpenAI Gym. For example  `compiler_gym.service.proto.

[2021-12-28 03:43] sogartar commented on #526
When doing the refactoring of the protobuf messages I thought more about it and it seems that there could always be the need to extend the messages. Normal protobuf messages are statically typed, so extensions would always require a modification in CompilerGym. I saw this [article](https://blog.envoyproxy.io/dynamic-extensibility-and-protocol-buffers-dcd0bf0b8801) that deals with this problem. Bas

[2021-12-29 12:45] ChrisCummins commented on #526
I agree, but just a small clarification: the aim of the proto schema is to provide a flexible enough set of messages that you can **embed** new data types into, not **extend** the schema to add new types. You shouldn't have to modify the proto schema to add support for a new data type.

There is already a mechanism to do this in CompilerGym, albeit only for observations, not actions. The Observati

[2021-12-30 00:23] sogartar commented on #526
`Any` is more wire efficient for larger messages. It is a serialized protobuf message + type URL. `Struct` is like JSON, so it will embed field names on the wire. In the [article](https://blog.envoyproxy.io/dynamic-extensibility-and-protocol-buffers-dcd0bf0b8801) that I linked previously, it says

I don't know if that is still the case as this article is from a few years back.

`Any` will be conve

[2022-01-01 20:34] mostafaelhoushi opened #532 "Create Example Repo that Extends Compiler Gym"
## 🚀 Feature

Create a standalone repo that `import compiler_gym` and extends it by defining a new environment

## Motivation

We want CompilerGym to be a tool for everyone to create their own environments. Currently we have examples within the repo that may require modifying the build of CompilerGym. Ideally we want to show how users can create their own environments "out-of-tree".

## Pitch

We

[2022-01-06 17:51] sogartar commented on #526
@ChrisCummins, the Python API is considered stable, but [compiler_gym.spaces.Sequence](https://github.com/facebookresearch/CompilerGym/blob/9d7977c91f2f200f7b03dc51c825570ca757bb7e/compiler_gym/spaces/sequence.py#L94) has the problem of `str` and `bytes` dtype.
Solving the bytes problem is easy as a byte is just `int8`.
The string case is a bit more complex because Python does not have character d

[2022-01-07 05:11] phesse001 opened #534 "Benchmark 'benchmark://cbench-v1/lame' returning None"
## ❓ Questions and Help

Hello,

I just tried running the training code that I wrote for a DQN a while back that uses compiler gym, and a couple iterations will run and then I get:

Traceback (most recent call last):
  File "train.py", line 31, in <module>
    train(agent, env)
  File "/home/phesse/compiler-rl/dqn/dqn.py", line 252, in train
    action = agent.choose_action(observation)
  File "/h

[2022-01-10 16:06] ChrisCummins commented on #526
Hi @sogartar, yes the inconsistency is that `Sequence.dtype` should be equivalent to the scalar element type (e.g. `type(x[0])`), but for bytes sequences it is the type of the entire sequence. Instead it should be the second value below:

[code]

Now that I'm looking into it, the string sequence dtype is fine, since Python doesn't distinguish between string / character types, so they can just be s

[2022-01-10 16:16] ChrisCummins commented on #532
I ❤️ this idea. I would suggest keeping the scope of the standalone repo fairly constrained to just demoing a new environment and calling it `CompilerGymEnvironmentExample` or something.

If we were to move everything from `examples/` into a separate repo (which would *almost* be possible after #428 except for a couple of bits that need to be built with cmake/bazel) then I imagine that the CI conf

[2022-01-10 17:53] ChrisCummins opened #536 "Improve examples documentation to make it clear that they are standalone"
## 🚀 Feature

Tangentially to #532, I think it would be good to add a "Usage" section to examples/README.md that makes it clear that these example scripts can be used through pip-installed CompilerGym, and possibly split the examples rules out of the top level makefile into an examples/Makefile file for standalone usage.

## Motivation

It is not clear whether the included examples require buildin

[2022-01-10 17:56] ChrisCummins opened #537 "Conflicting requirements.txt"
## 🐛 Bug

Found when running a clean install setup on macOS. Possible related to #501.

## To Reproduce

Steps to reproduce the behavior:

1. Follow the INSTALL instructions for buidling from source on macOS as far as: `make init`
2. Run `make init`:

[code]

## Environment

Please fill in this checklist:

- CompilerGym: v0.2.1
- How you installed CompilerGym (conda, pip, source): source
- OS: mac

[2022-01-10 17:57] ChrisCummins commented on #537
After updating to pip 21.3.1:

[code]

[2022-01-10 18:11] ChrisCummins commented on #534
Hi @phesse001,

Sorry for the slow response!

You are using the environment `llvm-ic-v0`, which has no observation space set, so reset() returns nothing.

This is equivalent to:
[code]

Instead, you want something like:

[code]

Cheers,
Chris

[2022-01-10 18:12] #527 closed, assigned to ChrisCummins

[2022-01-10 18:55] ChrisCummins commented on #526
Why not both? :-)

[code]

Then dispatch to any user-registered deserializer off the `type_id` value, falling back to the default deserializers.

That means that implementations can use the `Any` type if appropriate, or they could implement their own custom deserializer using one of the existing field types, e.g. `type_id="adjacency_matrix"` which could read an adjacency matrix from a list of ints

[2022-01-10 18:56] ChrisCummins commented on #526
BTW thanks for your patience, I'm back from vacation now so will be more responsive.

Cheers,
Chris

[2022-01-10 20:47] phesse001 commented on #534
Sorry I left out some details, I have a train function which takes in the environment as a parameter and then I call ```env.observation_space = "InstCountNorm" ```. I then call ``` test_benchmarks = env.datasets["benchmark://cbench-v1"] ``` and then try to pull a random benchmark from my dataset using ``` benchmark  = test_benchmarks.random_benchmark()``` and call ``` observation = env.reset(bench

[2022-01-11 03:50] ChrisCummins commented on #534
Thanks for the further details. Could you please paste a minimal working script to reproduce the problem?

Cheers,
Chris

[2022-01-11 17:50] mostafaelhoushi commented on #532
Yes, I agree we shouldn't move the examples. I was thinking of keeping the examples directory as is and perhaps add to the README.md file in the examples a directory a link to a single external repo for now, and hopefully as time goes on more members of the community will create their own extensions that we may add their links as well.

[2022-01-11 21:25] phesse001 commented on #534
I figured out the issue - I was using a custom wrapper to implement 'patience' logic, but I was inheriting from gym.wrappers rather than compiler_gym.wrappers.CompilerEnvWrapper. After simply changing that inheritence my environment no longer returns None for the observation. Sorry about that - closing the issue!

[2022-01-11 21:25] #534 closed, assigned to ChrisCummins

[2022-01-11 21:28] ChrisCummins commented on #534
Ah cool, glad to hear you figured it out! Having to inherit from CompilerEnvWrapper rather than the builtin wrapper base is a bit of a pain but unfortunately it's required for our API extensions.

Cheers,
Chris

[2022-01-12 12:08] ChrisCummins commented on #514
Hi @sogartar, I'm just going back over some issues. Was this one fixed? I'm not sure why I closed it :)

[2022-01-12 12:20] ChrisCummins commented on #532
Sounds good! Do you want to take the lead on this?

Cheers,
Chris

[2022-01-12 15:56] sogartar commented on #514
This is fixed.

[2022-01-12 15:59] ChrisCummins commented on #514
Ok thanks!

[2022-01-12 16:39] sogartar commented on #526
@ChrisCummins, using `dtype=str` in the `Sequence` space to denote a string will be ambiguous with a sequence of strings. Same holds for `bytes`. Is it a **bytes** sequence or a *byte* sequence?
For a byte sequence it is easy to fix because you can use `numpy.int8`.
Using `int` dtype for strings will be wasteful. Then to be correct the implementation would have to handle strings and int collection

[2022-01-12 16:54] sogartar commented on #526
OK, I will add the `type_id`.

[2022-01-12 17:04] sogartar commented on #526
My idea was that if someone wants to have some type like an adjacency matrix they would have in protobuf
[code]
Then use the `any_value` to transmit the data. `Any` already carries type information.

[2022-01-12 19:22] mostafaelhoushi commented on #532
Sure. I just assigned it to myself.

[2022-01-12 19:30] ChrisCummins commented on #532
Brill, thanks!

[2022-01-19 09:03] #537 closed, assigned to ChrisCummins

[2022-01-19 09:53] ChrisCummins opened #543 "Python import error in `make livedocs`"
## 🐛 Bug

The `make livedocs` implementation attempts to import CompilerGym from the root of the project source tree, which causes an import error. As a result, the entire python documentation is missing from the generated HTML.

## To Reproduce

Steps to reproduce the behavior:

1. `make livedocs`

## Environment

Please fill in this checklist:

- CompilerGym: 0.2.1
- How you installed CompilerGy

[2022-01-19 12:36] #543 closed, assigned to ChrisCummins

[2022-01-19 13:00] #370 closed, assigned to ChrisCummins

[2022-01-19 13:00] #524 closed, assigned to ChrisCummins

[2022-01-19 14:05] #528 closed, assigned to ChrisCummins

[2022-01-19 14:07] ChrisCummins commented on #357
Fixed by #525.

[2022-01-19 14:07] #357 closed, assigned to ChrisCummins

[2022-01-19 14:34] #394 closed, assigned to ChrisCummins

[2022-01-19 14:35] ChrisCummins commented on #506
General question for @sogartar and @KyleHerndon, is it on your roadmap to add macOS support to the CMake build?

Cheers,
Chris

[2022-01-19 18:15] sogartar commented on #506
@ChrisCummins, we are planing to add it after we add the MLIR env. So it will be in a few weeks.
There is also the examples and benchmarks that are not yet buildable with CMake that we have to address.

[2022-01-19 18:27] #351 closed, assigned to ChrisCummins

[2022-01-20 14:59] ChrisCummins commented on #506
Awesome, thanks! I'll add a progress list to this task. I don't think the examples or benchmarks directories will be too challenging as they don't have a lot of compiled code

Cheers,
Chris

[2022-01-27 14:24] mostafaelhoushi opened #553 "Add DocTest to CI"
## 🚀 Feature

Ensure that code examples in our documentation are covered by CI.

## Motivation

To ensure that no user tries a code example in our documentation and gets surprised by wrong results or an error message.

## Pitch

Start here:
Doctest at docs.python.org -https://docs.python.org/3/library/doctest.html

Other content:
Doctest at sphinx-doc.org - https://www.sphinx-doc.org/en/master/usa

[2022-01-27 23:58] uduse opened #556 "Running `random_search.py` keep printing debug level logs. How do I silent these prints?"
## ❓ Questions and Help

It seems these prints are `DEBUG` level but I couldn't find the correct command line flags to turn these off. Any ideas? 😕

[code]

[2022-01-28 02:47] uduse commented on #451
I prefer `env.reset()` doesn't take anything at all. If the user wants to change benchmark, just do an extra line of assignment.

Quote _Zen of Python_:

It's already unclear to me if these two are strictly equivalent:

[code]

vs

[code]

Make `env.reset()` takes nothing but handle potential benchmark changes would yield a simpler and cleaner API. 🤔

[2022-02-01 13:11] gloaming2dawn opened #558 "[llvm] Add support for the new pass manager API"
## 🚀 Feature

## Motivation

The new pass manager (now the default pass manager for the optimization pipeline in LLVM 13) leads to better compile times and benefits runtime of many programs. It requires explicit pass nesting. For example, to run a function pass, then a module pass, we need to wrap the function pass in a module adaptor:
$ opt -passes='function(no-op-function),no-op-module' /tmp/a.l

[2022-02-01 14:05] ChrisCummins commented on #558
Hi @gloaming2dawn, thanks for the feature request! I agree this would be nice. I haven't used the new pass manager API, but from what I understand it is supported in LLVM 10, so I would happily take a patch to port the current LLVM environment to the new pass manager API.

Here is the code which uses the legacy pass manager:

https://github.com/facebookresearch/CompilerGym/blob/97341035cad391521c3

[2022-02-01 14:33] gloaming2dawn commented on #558
Thank you for your quick reply. Here are some supplements from https://llvm.org/docs/NewPassManager.html. The following code

_ModulePassManager MPM;
MPM.addPass(createModuleToFunctionPassAdaptor(FunctionPass1()));
MPM.addPass(createModuleToFunctionPassAdaptor(FunctionPass2()));
MPM.run();_

will **run FunctionPass1 on each function in a module, then run FunctionPass2 on each function in the modul

[2022-02-01 22:39] ChrisCummins commented on #556
Hey @uduse! Sorry for the slow reply. I looked into this and the bug is in the logging setup code in `compiler_gym/leaderboard/llvm_instcount.py`:

https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/leaderboard/llvm_instcount.py#L238-L242

Changing the line:

[code]

Prevented those debugging logs from being printed to stdout. Of course, it also prevents the logging outp

[2022-02-01 22:50] ChrisCummins commented on #451
Tbh I think that the solution may be to remove the `env.benchmark` setter entirely and roll everything into `reset()`. The reason is that using the setter without immediately calling `reset()` can cause unexpected behavior as nothing actually gets changed until `reset()` is called:

[code]

Another problem with the setters is that they make it harder to debug subtle typos in your code:

[code]

wh

[2022-02-02 21:41] uduse commented on #451
Yes, I actually agree with removing setters for `env.benchmark`, `env.reward_space`, `env.action_space`, and `env.observation_space` entirely. This way there are only three ways left to mutate the state (as in memory state of an object) of the environment: `env.reset`, `env.apply`, and `env.step` (I assume `env.raw_step` is not user API). Seems cleaner to me.

Additionally we want to better differ

[2022-02-02 21:43] uduse commented on #556
Thanks for the reply. I have no idea how I missed that line. I looked at that file at least ten times. Need to eat more 🐟  and 🫐  🤣

Also do you have any plan to change `llvm_instcount.py` in the near future?

[2022-02-02 21:43] #556 closed, assigned to ChrisCummins

[2022-02-03 10:45] ChrisCummins commented on #451
👍

That's a very good point! I think it may be worth defining a custom type specifically for this purpose to denote "use whatever value is already set". That would make the default values easier to understand than `None`, and could allow users to be explicit about it, something like:

[code]

Cheers,
Chris

[2022-02-03 10:51] ChrisCummins commented on #556
Hah, no worries! I'll keep this open for now as it is definitely a bug and might be an easy fix for someone looking to contribute.

We have discussed that, but tbh I don't think its on anyone's near term roadmap. There's a few things that it could do better, like parallel evaluation for single-threaded searches, better support for logging agent progress, etc. Why do you ask?

Cheers,
Chris

[2022-02-03 23:44] sogartar opened #561 "Some tests timeout non-deterministically"
## 🐛 Bug

On my machine often tests would hang and timeout.

## To Reproduce

Steps to reproduce the behavior:

1. `bazel test --cache_test_results=no //...`

## Expected behavior

All tests pass without timeout.

## Environment

Please fill in this checklist:

- CompilerGym:
- How you installed CompilerGym (conda, pip, source): source
- OS: Ubuntu 20.04.3 LTS (x86_64)
- Python version: 3.8.12
- B

[2022-02-04 12:05] ChrisCummins commented on #561
Hi @sogartar, I can reproduce the issue on my end, though not as severely as for you (judging by the attached timeout list). I think it's a combination of two things: (1) flaky timeout on an overloaded system, such as when running a bunch of tests in parallel, and (2) resource leaks preventing test scripts from shutting down. You can see this by checking the test logs to see if 100% of the tests c

[2022-02-04 16:27] ChrisCummins commented on #558
Interesting! I think this could be exposed pretty neatly by creating a new action space that takes a list of passes, that are applied in a single step. Something like:

[code]

What do you think?

Cheers,
Chris

[2022-02-04 17:07] #526 closed, assigned to ChrisCummins

[2022-02-04 22:01] uduse commented on #556
I'm working a better evaluation script for my research. If you don't have a plan for now, maybe I'll do a PR later. No promise at all though 🤪

[2022-02-04 22:24] uduse commented on #451
This seems good to me. Alternatively, we could use python's ellipsis `...` as this special placeholder, or just the string `"same"`. Personally I prefer just `"same"` because it's simple, explicit, easy to understand, and immutable which makes it a good choice as the default value.

[2022-02-04 23:38] ChrisCummins commented on #556
Oh nice! I look forward to it if/when 🙂

Cheers,
Chris

[2022-02-05 03:49] uduse opened #562 "`statistics.py` wrong parameter name"
## 🐛 Bug

The functions [here](https://github.com/facebookresearch/CompilerGym/blob/e248330d2475fbcdf473cc3df951f25b5eaf4945/compiler_gym/util/statistics.py#L8) says they take `iterable` as inputs. However, `np.asarray` actually take `array_like`.

[Quote:
](https://numpy.org/doc/stable/reference/generated/numpy.asarray.html)

e.g.
[code]
This will fail because though it's an `iterable`, it's not

[2022-02-06 13:39] harshraj22 opened #564 "Error Initializing the environment"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

Run the above code

## Expected behavior

## Environment
![image](https://user-images.githubusercontent.com/46635452/152683494-f5635752-05be-4285-a7e0-2e2bd25476bb.png)

Please fill in this checklist:

- CompilerGym: 0.1.10
- How you installed CompilerGym (conda, pip, source): pip
- OS: Ubuntu
- Python version: 3.9.7
- Build comm

[2022-02-06 14:32] ChrisCummins commented on #564
Hi @harshraj22, you are using Ubuntu 16.04, and unfortunately the CompilerGym pip wheel does not support any version before 18.04. You could try [building from source](https://github.com/facebookresearch/CompilerGym/blob/development/INSTALL.md#linux), but I cannot guarantee that it would work.

Personally, I would recommend using docker to get an Ubuntu 18.04 environment, if upgrading is not viabl

[2022-02-06 14:32] #564 closed, assigned to ChrisCummins

[2022-02-07 11:14] #562 closed, assigned to ChrisCummins

[2022-02-07 17:33] #381 closed, assigned to ChrisCummins

[2022-02-07 21:00] uduse commented on #326
I noticed this problem when I implemented an algorithm that `env.fork()` a lot and sometimes I forgot to `env.close()` or the program is interrupted. What I really want to address this problem (indirectly) is to have a context manager for compiler environment class.

e.g.,
[code]

`contextlib.closing` can partly do this job already, but it would be nice to have native support. If we have such supp

[2022-02-08 10:23] ChrisCummins commented on #526
Hi @sogartar, I was browsing through the gym sources today and noticed [an interesting use of singledispatch](https://github.com/openai/gym/blob/2b6ec51580c620a8f1259d81532baf20d79cd97c/gym/vector/utils/spaces.py#L12-L49) to write a function for working with various different types. Might this be useful for the proto -> python deserializers? Maybe users could register their custom types using a me

[2022-02-08 12:39] ChrisCummins commented on #506
@sogartar, is it possible to configure the CMake build to use a local copy of LLVM? Let's say I have a fork of LLVM and have arranged it with the following directory:

[code]

From looking through the CMake configs it looks like the only control I have over the LLVM version used is `-DCOMPILER_GYM_LLVM_PROVIDER=external`, though even then it downloads and uses the v10.0.0 sources, and I'm not sure

[2022-02-08 12:49] ChrisCummins commented on #506
The use cases I would like to support with this are:

- The user has a local fork of LLVM that they want to build the CompilerGym environment against. The user should be able to pass the path of their local source and install directories and CompilerGym will build against it.
- The user wants to download and build against LLVM's binary and source release archives. This is equivalent to how the Baz

[2022-02-08 16:06] ChrisCummins opened #566 "CMake build gets stuck on ProGraML bazel step"
## 🐛 Bug

I have encountered a strange error where the CMake build appears to get "stuck" after the bazel build step of ProGraML. The build appears to hang indefinitely. Cancelling and re-running the CMake build works fine.

## To Reproduce

Steps to reproduce the behavior:

[code]

Cancel, re-run CMake and the build proceeds as normal:

[code]

## Environment

Please fill in this checklist:

- Co

[2022-02-08 16:07] ChrisCummins commented on #566
cc @sogartar have you run into this before?

[2022-02-08 17:58] sogartar commented on #526
We can use this. It would be more straight forward for someone coming from outside and exploring the code base.
One shortcoming of this approach would be that the dispatch is global and not context dependent. Different environments may have different desires how to translate the data.

[2022-02-08 19:17] sogartar commented on #506
The `DCOMPILER_GYM_LLVM_PROVIDER=external` option is not tested yet, but it is supposed to only find a preinstalled LLVM without building it. If it is not installed in a default location like `/usr/local` then the path should be provided according to the specifics of [find_package(...)](https://cmake.org/cmake/help/latest/command/find_package.html) for LLVM. Usually you can do that by specifying [

[2022-02-08 19:39] ChrisCummins commented on #526
Oh that's a good point. Can different environment class instances bind to a unique dispatcher?

[2022-02-08 19:42] sogartar commented on #566
@ChrisCummins, I have noticed that sometimes if CMake need to do a reconfiguration before doing the build in the same execution it may get suck after the configuration. When you run the build again it would do only the build step, which points to that the config step has completed successfully. I have not figured out why this happens.

The strange thing here is that in your case it got stuck durin

[2022-02-08 20:16] sogartar commented on #526
For observations I think it is already possible to do that by overriding [_observation_view_type](https://github.com/facebookresearch/CompilerGym/blob/22ac8444ae7e0d589f6d2cee3a84159132b2adf7/compiler_gym/envs/compiler_env.py#L1119). It is a bit convoluted though.

In the PR we are preparing for the MLIR environment I added customization of the action and action space conversion to `CompilerEnv`.

[2022-02-08 20:23] sogartar commented on #526
The default would be to instantiate the default converters from `py_converters`, which also support customization by adding additional types and dispatching based on [type_id](https://github.com/facebookresearch/CompilerGym/blob/22ac8444ae7e0d589f6d2cee3a84159132b2adf7/compiler_gym/service/proto/compiler_gym_service.proto#L309).
Or they could be entirely overridden.

[2022-02-09 13:58] ChrisCummins opened #568 "Add support for building LLVM environment against different versions of LLVM"
## 🚀 Feature

The CompilerGym LLVM environment is deeply integrated with the LLVM sources and is currently built against version 10.0.0. We would like to add support for more versions of LLVM.

## Motivation

There are two main categories of users that we want to address:

- *Support for folks who use a newer/older version of LLVM:* Not everyone uses LLVM 10.0.0.
- *Support for folks who use a mod

[2022-02-09 14:00] ChrisCummins commented on #568
cc @sogartar, @KyleHerndon, some of this may be relevant to the work that you folks are doing. I have a branch, [feature/llvm-13](https://github.com/ChrisCummins/CompilerGym/tree/feature/llvm-13), which contains quick-and-dirty workarounds to the above problems for *only* LLVM 13. If you are working on similar things then let me know so we can coordinate :)

Cheers,
Chris

[2022-02-10 11:31] ChrisCummins commented on #506
Thanks for the details. I have tried:

[code]

But I found that `LLVM_DIR` was still set to `build/external/...`. I'll dig into this a bit and let you know what I find.

The LLVM sources are only needed by the scripts in [this dir](https://github.com/facebookresearch/CompilerGym/tree/development/compiler_gym/envs/llvm/service/passes) to extract the list of passes and generate a couple of .h/.py fi

[2022-02-10 11:36] ChrisCummins commented on #566
Thanks for the debugging tips! It is definitely getting stuck during the configuration stage. It's not a particularly large problem for now, and may be a total non-issue if we end up porting ProGraML's build to CMake to achieve #568.

Cheers,
Chris

[2022-02-10 22:02] sogartar commented on #568
@ChrisCummins, on the MLIR env that we are working the handling of the multiple LLVM versions is not ideal. In it only one of the MLIR or LLVM envs can be enabled and by extension only one LLVM version exists at a time.
The problem with having multiple version of LLVM in one CMake configuration is the collision of targets. I don't know if there is any way to give custom prefix of targets with `fin

[2022-02-10 22:09] sogartar commented on #506
According to https://llvm.org/docs/CMake.html `LLVM_CMAKE_DIR` is the variable to use.

[2022-02-10 22:12] sogartar commented on #506
There may be some other problem but according to https://llvm.org/docs/CMake.html `LLVM_DIR` is the variable to use.

[2022-02-10 22:22] sogartar commented on #506
In [build_external_cmake_project](https://github.com/facebookresearch/CompilerGym/blob/11784d436fc9bd4c3d9a1588508a970649ac5ed3/build_tools/cmake/build_external_cmake_project.cmake#L51) the install dir is added to `CMAKE_PREFIX_PATH`. Although I doubt it, but it may take precedence over `LLVM_DIR`.

[2022-02-11 09:25] ChrisCummins commented on #506
Thanks. I was able to fix this by replacing [this](https://github.com/facebookresearch/CompilerGym/blob/development/external/external.cmake#L113-L122) with just:

[code]

I'm working on a conditional if/else block depending on COMPILER_GYM_LLVM_PROVIDER like [here](https://github.com/facebookresearch/CompilerGym/blob/development/external/external.cmake#L103) but am still figuring out how cmake wor

[2022-02-11 09:33] ChrisCummins commented on #568
Ah I see, that's a shame, that kind of thing is totally trivial in Bazel with workspace scopes. Okay, let's not worry about for now :) To begin with, we focus on supporting a single version of LLVM at a time. Use v10.0.0 for the public release, and devs can build from source against a different LLVM should they wish.

Cheers,
Chris

[2022-02-11 16:00] sogartar commented on #568
[This answer](https://stackoverflow.com/a/58336217/324204) hints of a solution, but cache variables may be a problem. The cache is shared.
Non-cache variables are fine because CMake has dynamic function scoping. Also targets defined in `find_package` usually have local source directory scope. `add_subdirectory` creates a new directory scope.

[2022-02-11 23:57] ChrisCummins commented on #326
Hi @uduse, I believe what you want is already implemented in the [base gym API](https://github.com/openai/gym/blob/master/gym/core.py#L188-L196). CompilerGym environments created by `make()` and `fork()` *should* be used in context managers. Adapting your example:

[code]

Produces output:
[code]

See [this colab notebook](https://colab.research.google.com/drive/1QrJFALtFcFejU483PIGTDQ4gdeXZR21P?u

[2022-02-14 22:52] uduse commented on #326
@ChrisCummins Oh thanks for letting me know! I checked the source code and didn't find `__enter__` and totally ignored the possibility that it's defined it gym's base class 😛 Guess I should use `dir(var)` to check if an implementation exists.

[2022-02-15 16:04] ChrisCummins opened #571 "Move the LLVM paths API into the LlvmEnv environment"
## 🚀 Feature

Replace the functions in `compiler_gym.third_party.llvm` for resolving LLVM paths with a set of instance properties on the LlvmEnv class.

## Motivation

This will enable different LLVM environments to use different versions of LLVM, needed by #568.

## Pitch

Instead of:

https://github.com/facebookresearch/CompilerGym/blob/11784d436fc9bd4c3d9a1588508a970649ac5ed3/compiler_gym/third

[2022-02-16 10:43] uduse opened #572 "E0216 from backup_poller.cc or ev_epollex_linux.cc"
## 🐛 Bug

This happens when I spawn multiple compiler gym sessions in parallel. The error comes in two forms but I think they similar:

either:
[code]
or:
[code]

## To Reproduce

Steps to reproduce the behavior:

I managed to create this example to consistently recreates this behavior:

[code]

example output from the above script:
[code]

Sometimes the script above leave orphan processes behind

[2022-02-16 11:46] ChrisCummins commented on #572
Hi Zeyi,

Thanks for the detailed bug report. It sure looks like a race condition in environment startup (or shutdown) that is causing the gRPC services to get confused. Unfortunately I haven't been able to reproduce the problem on a similar 24-core Linux machine. How many CPU cores do you have? (`$ nproc`)

Does the error reproduce if you only create the environments without interacting with them

[2022-02-16 17:08] ChrisCummins opened #573 "[llvm] Compute the pass initialization logic programmatically"
## 🚀 Feature

The `initLlvm()` function contains a hardcoded list of passes to initialize:

https://github.com/facebookresearch/CompilerGym/blob/8a3f9635a6175f699c85d9013842eaafbd8efaa5/compiler_gym/envs/llvm/service/RunService.cc#L23-L55

This pass list changes frequently from version to version. We should compute this programatically.

## Motivation

This is needed for #568.

## Pitch

Make the

[2022-02-16 19:49] uduse commented on #572
In my case, `nproc==72`. The script could fail without `env.step()`, but much unlikely. My "fix" was to limit the number of parallel instances. This means with less environment created in parallel, this problem also happens much less likely. As a result, I wouldn't be surprised if it's hard to reproduce with `nproc==24`. I tried your workaround and it seems to work, but yes it drastically slows do

[2022-02-16 22:23] uduse commented on #572
Moreover, one difficulty of dealing with this problem is that no exception is thrown to my Python process. If I could catch and process that error, I would happily throw away ~3 problematic environments out of 5000 to retain the ability to create environments in parallel. Similarly, the environment could report this in the return value of `env.step()` for the Python process to handle. Currently it

[2022-02-16 22:44] ChrisCummins commented on #572
Okay, 72 isn't crazy, there's no reason we should expect CompilerGym not to be able to support that. My hunch is that there is a data race in the gRPC service startup that can cause more than one environment service to be bound to the same port when the system is launching a bunch of services in parallel. We let the host operating system pick an unused port to launch a new service on, I would star

[2022-02-16 22:49] ChrisCummins commented on #572
Possible relevant: https://github.com/grpc/grpc/issues/10755

[2022-02-17 08:03] uduse commented on #572
The sleeping slows down things but don't solve the problem. My program spawns environments in multiple places repeatedly, and there's still a chance of clashing too many requests at the same time. In terms of the symptoms, most of the time the program treats this as a warning and proceed normally (not sure if the bug changes the correctness of future environments or something), occasionally it han

[2022-02-17 13:20] ChrisCummins opened #576 "Add a "deterministic" field to the Command protocol buffer"
## 🚀 Feature

The `Command` protocol buffer is used to describe build commands, execution commands, etc. Adding a property to indicate that a command is deterministic would be useful for things like enabling build artifacts to be cached, and automatically detecting that a benchmark can be used for differential testing.

[2022-02-17 17:58] ChrisCummins commented on #572
I've started looking into this, I'll let you know how I get on.

In the meantime, another possible workaround I was thinking about. If the problem is that there is a race condition in free port assignment, you could allocate a single port value to each process so that there shouldn't be any conflicts. This is still a total hack but might help you get unblocked:

[code]

Also, do you need to keep c

[2022-02-21 12:34] ChrisCummins opened #581 "Add a CI job to validate leaderboard results"
## 🚀 Feature

Add a continuous integration job that replays the results of [leaderboard](https://github.com/facebookresearch/CompilerGym#leaderboards) entries and run it on PRs.

## Motivation

Catch changes in environment dynamics that would prevent a result from being repeatable.

[2022-02-21 17:50] ChrisCummins commented on #572
Hi @uduse, can you please let me know what version of gRPC you have?

[code]

I'm seeing some more logging errors from gRPC 1.44 and think this may be relevant https://github.com/ray-project/ray/issues/22518

Cheers,
Chris

[2022-02-21 20:25] vuoristo opened #582 "Is running CompilerGym intended to leave cache directories behind?"
## ❓ Questions and Help

Not sure if this is a bug or not, so submitting as a question. Running a CompilerGym experiment leaves behind many cache directories. When running a large experiment, this can create problems through the sheer number of directories in `COMPILER_GYM_CACHE`. I expected the `COMPILER_GYM_CACHE` to not have anything after the experiment exited cleanly.

Is there a way to avoid

[2022-02-22 10:50] ChrisCummins commented on #582
Hi @vuoristo,

Thanks for the report, google question!

This sounds like something is wrong.

There are three locations where CompilerGym creates files at runtime. The first is `~/.local/share/compiler_gym`, which is used to store data files downloaded from the net. When you use a new environment or new dataset, CompilerGym may need to download some data and it will be cached here. After running y

[2022-02-22 13:47] vuoristo commented on #582
Hi Chris, thanks for the quick response!

I'm seeing many lingering directories specifically in the `$COMPILER_GYM_CACHE` path, which I have set through an environment variable. The directories are named `benchmark-scratch-0030-0ce2`, `benchmark-scratch-0035-3536`, etc. There does not appear to be anything in the directories. The number of these directories grows each time I run the script.

[code

[2022-02-23 03:05] uduse commented on #572
I got
[code]

[2022-02-23 19:26] ChrisCummins commented on #582
Thanks for the extra details.

Yep, your code looks good. The problem is in CompilerGym, specifically, [here](https://github.com/facebookresearch/CompilerGym/blob/d70408f82599a7ef727de5caa87b41e5f12e9693/compiler_gym/envs/llvm/service/Benchmark.cc#L182-L186). Either that code is not being called, or it is failing. Given that I can't repro the problem locally, it might take a bit more work to track

[2022-02-25 02:48] uduse commented on #572
I couldn't reproduce the bug with `multiprocessing`. I think it might be a bug in `ray` or some weird interaction between `ray` and `compiler_gym` since both of them use gRPC.

[2022-02-25 09:48] KyleHerndon opened #584 "[PTAL] [WIP] Questions regarding MLIR Environment for CompilerGym"
Hi Chris,

I've uploaded @sogartar and my latest changes to my [local fork](https://github.com/KyleHerndon/CompilerGym/tree/mlir). I don't think it's quite ready for a pull request because at the moment. In particular, I've made breaking changes to the LLVM envrionment to get it working for now (I'm aware of your [branch working on this](https://github.com/ChrisCummins/CompilerGym/tree/feature/llv

[2022-02-25 17:41] vuoristo commented on #582
Right, some problem with `Benchmark::Close` not getting called looks like a probable cause.

I ran
[code]
With `make_env` and `env_config` as defined above. The number of cache directories is increasing, confirming this is not related to ray. The error details are consistently `None`. I also tried dataset `generator://llvm-stress-v0` with the same results.

[2022-02-25 21:59] uduse opened #585 "RPC communication failed with message: Cannot invoke RPC on closed channel!"
## ❓ Questions and Help

Some part of my code has this:
[code]
and even though the assertion passes, the `env.fork()` fails, reporting `compiler_gym.service.connection.ServiceIsClosed: RPC communication failed with message: Cannot invoke RPC on closed channel!`

I'm asking because I assume that if `env.in_episode == True` then the `env` must be available for a `env.fork()`, is that right?

[2022-03-01 16:46] ChrisCummins commented on #585
Yes, that's right. The error message "Cannot invoke RPC on closed channel" could be cause by a few things but the most likely explanation is the backend service crashing during the call to `fork()`.

Could you please post a complete minimal code sample so that I can repro? It may would also be helpful if you could include the verbose logging output when run on your machine. To enable this, set env

[2022-03-01 19:00] ChrisCummins commented on #572
Oo interesting, thanks for following up! I have been working on a big update to `gym.make()` that uses an object pool for caching environments, enabling gRPC services to be re-used across environments. It's not ready for merging just yet but it should help with the issue you're seeing, and also speeds up environment construction >100x...

Cheers,
Chris

[2022-03-01 22:09] uduse commented on #572
🤣 I just implemented this pool for caching in my own project, called `EnvSupervisor` and I kept thinking it would be nice to have it handled on the `compiler_gym`'s side.

To be more specific, my class:
  1. Put aside no-longer-needed environments, and resets them when a new environment is needed.
  2. Keep track of all spawned environment instances, so the user could close all of them with one fu

[2022-03-01 22:14] ChrisCummins commented on #572
This sounds great. The change that I am working on caches only the service connections (the `env.service` object), not the entire environment, but otherwise sounds similar.

Glad its working out for you :)

[2022-03-01 22:37] uduse opened #587 "`env.spec.make` makes a different benchmark"
## 🐛 Bug

[code]

This raises `AssertionError`.

Honestly I feel like this is more of a design problem: `env.spec` doesn't actually specify specification because things like `env.reset` can mutate specification. They could mutate specification because that's the only way for users to recycle backend services. However, users shouldn't be worry about managing services life-times. In other words, if

[2022-03-01 22:40] xiaomengy opened #588 "Follow the new interface of OpenAI Gym 0.22.0"
## 🚀 Feature

OpenAI Gym recently released v0.22.0 which contains many interface updates. We'd better also follow the changes.

https://github.com/openai/gym/releases/tag/0.22.0

[2022-03-01 22:58] ChrisCummins commented on #587
Yep, this is a bug. The `EnvSpec._kwargs` dict needs to be updated by the setters for benchmark, observation space, and reward space. Thanks for the report @uduse!

Interestingly, as of [head](https://github.com/openai/gym/blob/master/gym/envs/registration.py#L104), `EnvSpec.kwargs` is now public, see #588.

Cheers,
Chris

[2022-03-01 23:13] ChrisCummins commented on #582
Thanks so much for following up @vuoristo. One last thing, could you please prepend the following to your script above and attaching the full output that running it generates?

[code]

Cheers,
Chris

[2022-03-01 23:55] ChrisCummins commented on #584
Hi Kyle and Boian,

Sorry for the slow response, just catching up on emails after a few days off. There's a lot to unpack here, but I'll make a start :)

Is the issue that the version of LLVM you need for the MLIR environment is different from the version used in the LLVM environment? Ideally we want the MLIR and LLVM environments to build independently against their own version of LLVM. Is the pr

[2022-03-02 12:58] vuoristo commented on #582
Of course.

Here's the output for otherwise the same script, except it's running for only 40 steps total and the timelimit is set to 10. The same problem persists.

[code]

[2022-03-02 14:50] ChrisCummins opened #590 "[High priority] Building from source + all CI jobs failing, csmith archive checksum invalid"
## 🐛 Bug

*ALL* CI tests are currently in the red. The problem is that the csmith checksum has changed from ba871c1e5a05a71ecd1af514fedba30561b16ee80b8dd5ba8f884eaded47009f to 86d08c19a1f123054ed9350b7962edaad7d46612de0e07c10b73e578911156fd. This is blocking all CI tests and building from source!!

[code]

![](https://c.tenor.com/eEs1jRy5UXgAAAAC/house-explosion.gif)

[2022-03-02 15:02] ChrisCummins commented on #582
Thanks! I see that you're different benchmarks, what does your `make_env()` function do?

Here's my repro script:

[code]

Which produces:

[code]

Cheers,
Chris

[2022-03-02 15:04] vuoristo commented on #582
Here's the whole script

[code]

[2022-03-02 15:08] vuoristo commented on #582
I also ran your script and on a quick inspection it looks to be producing similar results.

Hmm, it also looks like your script hangs on my machine after the last line of output. My script doesn't.

[code]

[2022-03-02 15:22] ChrisCummins commented on #582
This is because you are not closing `env.close()`. You must always call `env.close()` to ensure that temporary directories are tidied up and subprocesses are killed. You can either do this:

[code]

or you can use a `with` statement so you don't have to remember to call `close()`:

[code]

Cheers,
Chris

[2022-03-02 15:41] vuoristo commented on #582
Ah gotcha, I missed that. Running your latest script on my machine still leaves cache directories behind though. So calling `env.close` does not seem to be enough to fix that.

[2022-03-02 16:23] ChrisCummins commented on #582
I think I have tracked down the problem! 🙂

The LLVM backend has a singleton [BenchmarkFactory](https://github.com/facebookresearch/CompilerGym/blob/f2ca6c2b6befc394bacdaebe1d620fb24b1794fb/compiler_gym/envs/llvm/service/BenchmarkFactory.h#L48-L63) that is an in-memory cache of parsed bitcodes. It is this the `close()` method of this class that is responsibly for making sure that all of the benchm

[2022-03-02 16:44] ChrisCummins opened #591 "[service] Enable intra-session mutable state"
## 🚀 Feature

## Motivation

The `CompilationSession` interface allows mutable state only for the duration of a single compilation session, but there are cases where we may want to have mutable state that outlives a single session and is shared between sessions over the lifetime of a service. For example, the LLM service implements a `BenchmarkFactory` class which is an in-memory cache of parsed b

[2022-03-02 16:51] ChrisCummins commented on #582
I've written a patch for this in #592. If you're building from source, you can try that branch out. Otherwise it'll be merged in the 0.2.3 release.

Cheers,
Chris

[2022-03-02 18:03] mostafaelhoushi commented on #590
![image](https://user-images.githubusercontent.com/1451293/156421322-13e1067e-75b0-41e1-8ab8-2ff41fd23b9f.png)

[2022-03-03 09:10] #590 closed, assigned to ChrisCummins

[2022-03-03 09:28] ChrisCummins commented on #584
I realized I didn't answer this:

I don't know if that will be a problem, as you can just delay reward until you have an executable. Pseudo-code:

[code]

Cheers,
Chris

[2022-03-03 09:35] vuoristo commented on #582
That makes sense. Do you also know why this seems to differ between the systems?

Thanks for the help! Feel free to close this issue.

[2022-03-03 10:17] ChrisCummins commented on #582
That's a good question. To be honest, I don't know. In the logs you posted, it looks like the shutdown routine is running on your system, which leads me to believe it's likely a race condition. This would also explain the randomness.

Cheers,
Chris

[2022-03-03 10:18] ChrisCummins commented on #582
Thanks for reporting the issue @vuoristo, it was a fun bug to hunt 🙂

Cheers,
Chris

[2022-03-03 15:18] #582 closed, assigned to ChrisCummins

[2022-03-03 22:48] mostafaelhoushi opened #595 "Speedup CMake Configuration"
## 🚀 Feature

Speedup CMake Configuration Step

## Motivation

Everytime we update a CMakeLists.txt file, cmake build/configuration takes a really long time. Probably, it has to re-run the entire configuration, and that means rebuilding LLVM and a bunch of stuff from source.

## Pitch

N/A

## Alternatives

N/A

## Additional context

Some projects have rolled their own ad-hoc way to prevent rebui

[2022-03-04 06:39] KyleHerndon commented on #584
Chris,

Thank you for the insightful comments, it's not a problem that you can't get to the details, but I'm glad you did look to the extend you did. We're working on preparing some PRs for you now :)

For 1/2, we'll do the least invasive options. For 3, that's really very helpful. For 4, I'm not sure what we'll want to do yet, but noted.

I actually wasn't trying to get an answer for this, as the

[2022-03-04 09:06] ChrisCummins commented on #595
Thanks for filing this.

I think the goal here will be to either:

1. build less stuff from source, by using system-wide deps or depending on binary releases
2. figure out how to smartly prevent rebuilding deps when the config changes

The (1) option would be useful for the CI as well, as atm the `build-linux-cmake` step takes **5 hours**, which is a productivity drain. The real time-sink is build

[2022-03-04 09:09] ChrisCummins commented on #506
@sogartar, @kylescotshank, @mostafaelhoushi, I've created a [new project](https://github.com/facebookresearch/CompilerGym/projects/3) to track the various tasks needed to fully migrate from Bazel to CMake. I'll split the list of tasks here into individual issues that can be tracked and discussed separately.

Closing this in favor of tracking progress on the project page.

Cheers,
Chris

[2022-03-04 09:09] #506 closed, assigned to ChrisCummins

[2022-03-04 09:13] ChrisCummins opened #596 "Remove the Bazel CI steps"
## 🚀 Feature

Once ready to migrate fully from Bazel to CMake, remove the Bazel build steps from the CI jobs, replacing with their equivalent CMake versions.

[2022-03-04 09:14] ChrisCummins opened #597 "Add support for macOS to CompilerGym CMake build"
## 🚀 Feature

CMake does not yet support building on macOS.

[2022-03-04 09:15] ChrisCummins opened #598 "Replace Bazel build with CMake in Makefile and Documentation"
## 🚀 Feature

Once ready to complete the migration from Bazel to CMake, replace the `Makefile` bazel steps with equivalent CMake invocations, and remove Bazel from the `INSTALL.md` instructions.

[2022-03-04 09:16] ChrisCummins opened #599 "Add support for building examples/ and benchmarks/ using CMake"
## 🚀 Feature

These are not yet covered by the CMake build config.

[2022-03-04 09:24] ChrisCummins opened #600 "Split the build-time code out of compiler_gym package."
In bazel, build-time and package code can be mixed freely. For CMake, this build-time code needs to be split into a separate package to prevent headaches and workarounds such as:

https://github.com/facebookresearch/CompilerGym/blob/f8a51178e56cdcd28637aaacdd8592b812ff764d/compiler_gym/envs/llvm/make_specs.py#L17-L22

There are a couple of places that this needs updating, identified by `TODO(githu

[2022-03-04 09:27] ChrisCummins opened #601 "Rewrite the CMakeLists files to use more idiomatic CMake style"
The CMakeList files rely heavily on custom macros to "look" like Bazel BUILD files. The advantage of that is that it is easier to maintain parallel Bazel and CMake builds, as patches can be easily ported between the two build systems.

However, as we progress on the migration from Bazel to CMake it would be good to rewrite these to have the look and feel of idiomatic CMake. Examples are replacing

[2022-03-04 10:25] ChrisCummins commented on #584
Awesome! Looking forward to it.

Sounds good, what is that? My concern at this point is that we will need the `compiler_gym/envs/llvm` and `compiler_gym/envs/mlir` environments to build against their own versions of LLVM (possibly different versions, possibly the same, it shouldn't matter). Is this on your roadmap? Are there any steps we should add to the [migration tracker](https://github.com/fac

[2022-03-04 15:19] mostafaelhoushi opened #603 "Fix `runfiles_path` in Linux for Loop Opt Service"
Possible Solution:

Another problem may be that the file does not get where it should be. This means that something is wrong with the dependencies and the target that makes the files is not triggered. There may be a bug in `cg_add_data_dependencies(...)`.
Another problem may come from `cg_genrule` resolving to the wrong command, but this should generate an error when executed.
@mostafaelhoushi, yo

[2022-03-04 18:03] ChrisCummins commented on #603
I can try and take a look at this if you want? How do I repro?

[2022-03-04 18:25] sogartar commented on #584
@ChrisCummins, could I split the PR in 2?
1. First PR to be changes to the core of CompilerGym.
2. Second PR is adding the MLIR env.

The core changes are not logically connected much except they are needed for the MLIR env. One of them is a breaking change. It is the type of the action argument in `step(...)`. An action has to be able to be a list. This is also consistent with OpenAI gym. This me

[2022-03-04 19:07] ChrisCummins commented on #584
I think (1) might need splitting up. Certainly this one:

Yes, I shouldn't have added that "list of actions" behavior, that was shortsighted. Before we break this, I'll need to cut a release that adds a deprecation warning on the existing behavior, as I know there is out-of-tree user code that relies on `env.step([1, 2, 3])`. Maybe even add a dedicated type to allow the old list-of-actions behavio

[2022-03-06 19:09] mostafaelhoushi commented on #603
Thanks @ChrisCummins !
To reproduce , in
https://github.com/facebookresearch/CompilerGym/blob/development/examples/loop_optimizations_service/service_py/loops_opt_service.py#L217 simply replace:
[code]

with:

[code]

[2022-03-06 19:10] mostafaelhoushi commented on #603
Please note that in this PR #608  to fix other errors in Linux CMake, I had to change 2 further `runfiles_path(...)` to `os.path.join(os.path.direname(__file__), ...)`

[2022-03-06 19:23] mostafaelhoushi commented on #603
I would like to clarify that CMake does actually build `opt_loops` and you will find it at `<build directory>/examples/loop_optimizations_service/opt_loops/opt_loops`.  And CMake also build `loops_opt_service.py` as an executable file at `<build directory>/examples/loop_optimizations_service/service_py.`

However, it seems that `runfiles_path` doesn't look at the build directory. It instead looks

[2022-03-06 21:11] mostafaelhoushi commented on #595
Also I am wondering, if a quick temporary speedup of the LLVM build would be to add `-j32` to its build command.

[2022-03-06 22:49] ChrisCummins opened #610 "Deprecate passing a sequence of actions to `env.step()`"
## 🚀 Feature

`env.step()` currently accepts two types for the "action" argument: a scalar action, or an iterable of actions. This kind of type overloading does not work for list types. We need to deprecate `env.step([1, 2, 3])` behavior in favor of a new API.

[2022-03-07 04:37] mostafaelhoushi commented on #532
I suggest to create an examples repo like PyTorch https://github.com/pytorch/examples, and it could have its own CI that will test using `pip install compiler_gym` rather than having to build the development branch of CompilerGym.

Basically, CompilerGym repo CI shouldn't run the examples repo's CI. We only run the examples repo CI when we want to create a new release.

[2022-03-07 13:52] ChrisCummins commented on #532
I like the sound of that!

It's not super clear how to do that. One way (I think) of achieving this would be to add a manual trigger to the examples CI workflow, where you can enter in flags to append to the `pip install compiler_gym` setup step. That way we can upload a pre-release wheel of CompilerGym to pypi's testing repository, and run the examples CI against that, before releasing proper.

C

[2022-03-07 18:21] sogartar opened #613 "Branch for MLIR environment"
@ChrisCummins, is it possible to have a branch for the MLIR env? It looks like that its merging will take a while due to its size and the `step(...)` breaking changes. We want to collaborate on it with other developers.
The branch can be called `mlir`. For the time being I would like for me and @KyleHerndon to have push access to it. Later others will join.

[2022-03-07 21:30] uduse opened #614 "Is it possible for a baseline policy to yield a non-positive reward?"
## ❓ Questions and Help

The [reward design here](https://compilergym.com/llvm/index.html#reward-spaces) includes a normalization based on the result of a baseline policy. However, is it possible for a baseline policy to have no improvements at all? For example, a benchmark generator generates an IR so simple that's impossible to reduce in code size.

[2022-03-08 10:03] ChrisCummins commented on #595
As far as I understand, the LLVM build is hardcoded to use Ninja, so should already be achieving high levels of parallelism:
https://github.com/facebookresearch/CompilerGym/blob/development/external/llvm/CMakeLists.txt#L43-L44

[2022-03-08 10:12] ChrisCummins opened #616 "Remove bazel workarounds from `runfiles_path()`"
The `compiler_gym.util.runfiles_path()` function contains different behavior depending on whether CompilerGym is running within bazel's sandbox. Once we complete the migration to cmake we can use something simpler like [importlib.resources.path](https://docs.python.org/3.8/library/importlib.html?highlight=importlib#importlib.resources.path) instead.

[2022-03-08 10:12] ChrisCummins commented on #603
Ahhh, I see now, sorry this took me so long to figure out! 🙂

So, the problem is that `runfiles_path()` will only work for files that installed as part of the core `compiler_gym` package.  Since the `examples/` directory is not installed anywhere, `runfiles_path()` can't be used.

This is working "as expected", but it means that you need an alternate way to locate runtime dependencies for example

[2022-03-08 10:22] ChrisCummins commented on #614
Yes. It even happens that the baseline policy makes things worse, `env.observation.IrInstructionOz() > env.observation.IrInstructionCountO0()`.

To prevent scaling by zero/negative value we clamp scaling factor to a minimum value of 1:

https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/envs/llvm/llvm_rewards.py#L113

The documentation is wrong as it doesn't reflect this

[2022-03-08 10:33] ChrisCummins commented on #613
In general I try not to have long-running staging branches but I think in this case it makes total sense.

Feel free to work on `mlir` however you want and just add me to PRs when you have things you want to merge into `development`. It would be worth periodically syncing with the `development` branch as there will be the occasional breaking change that you might find useful (e.g. #591).

I've giv

[2022-03-08 10:33] #613 closed, assigned to ChrisCummins

[2022-03-09 23:23] uduse opened #619 "Tips to reduce memory usage of compiler gym services?"
## ❓ Questions and Help

In my use case I frequently stumble upon this problem of compiler gym services using too much memory.

For example:
[code]

Are there general tips to reduce memory usage of compiler gym services? I have a couple ideas but I'm not sure they are correct:

  1. close compiler gym environment instances when they are no longer needed
  2. avoid unnecessarily long episodes (appl

[2022-03-10 08:24] KyleHerndon commented on #584
I think we want to pursue this. My immediate thoughts would be to make a File proto with a name and contents field, and put repeated of those in a Benchmark. Is there a reason to make it more complicated than that?

Regards,
Kyle

[2022-03-10 16:31] #600 closed, assigned to ChrisCummins

[2022-03-10 17:50] ChrisCummins commented on #619
Woah, that's a lot of memory consumption! I would be surprised if that level of memory consumption can be reached organically. My guess if a leak, either in CompilerGym's code or LLVMs.

Yes, that's always a good idea.

Per-step overhead is negligible, so episode length shouldn't matter. Memory usage should scale pretty linearly with the number of currently-active episodes.

Could you put together

[2022-03-10 19:27] ChrisCummins commented on #584
Great!

Possibly. 🙂

I think we will want want a way of naming the sources using a `map<string, File>`, then probably an extra field to specify the key of the "main" source. So a `Benchmark` could look like:

[code]

I think that would cover the use case need for the GCC environment.

What do you think?

Cheers,
Chris

[2022-03-10 20:55] ChrisCummins opened #621 "CMake formatter gersemi can't format all files"
## 🐛 Bug

Some files yield error:

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

[2022-03-10 21:27] KyleHerndon commented on #584
I think this would be okay, but the specifying of main file seems unnecessary to me, There's almost no significance to one of the files being the main, as far as I can tell. All files are necessary for the benchmark to run, so what's the purpose in identifying the main? The primary concern of the Benchmark proto seems to me to be directly passing data around and managing it in the environments. I

[2022-03-10 22:42] uduse commented on #619
@ChrisCummins Thank you for the reply. My current use case is a lot of forks. I'm trying to do tree search and the tree could have up to 10K nodes each one with a compiler gym service connected. I'll try to creates a simplified version of my scenario next week.

[2022-03-11 18:39] ChrisCummins commented on #619
Okay that's interesting. The way fork works is that it re-uses the same `./compiler_gym-llvm-service` process for the original and forked `gym.Env`. I suppose a single service supporting 10k forks could reach those levels of memory consumption organically. That's honestly not a use case I've considered. I look forward to debugging your repro script!

Cheers,
Chris

[2022-03-11 18:42] BlankSpruce commented on #621
I'm the author of gersemi. This particular issue is fixed with 0.8.0 so consider upgrading pre-commit hook.

Another thing is that you should consider putting `.gersemirc` file in the root of the project to enable smart formatting of non-native CMake commands. If I'm correct for this project it would be this minimal configuration:
[code]

[2022-03-11 19:07] ChrisCummins commented on #621
Hi @BlankSpruce, thanks for letting me know about the update and for the usage tip! I was going to file an issue for you with a minimal repro, but looks like you beat me to it 🙂

Cheers,
Chris

[2022-03-14 15:30] sogartar opened #622 "Suggestion about not using CMAKE_BINARY_DIR and CMAKE_SOURCE_DIR"
It is generally not good to use `CMAKE_BINARY_DIR` and `CMAKE_SOURCE_DIR` to describe a path that should be really relative to the current CMakeLists.txt. This will prevent the project to be included in another CMake project via `add_subdirectory(...)` because then the  top CMakeLists.txt would not be CompilerGym.
In such cases `CMAKE_CURRENT_SOURCE_DIR` and `CMAKE_CURRENT_BINARY_DIR` should be us

[2022-03-14 15:44] sogartar opened #623 "make test fails with missing BUILD file in compiler_gym/third_party/programl"
## 🐛 Bug

running `make test` on 549497a6f831efd125cff87485dea6e087198d23 fails with
[code]

Either there is a build file missing or the example is not supposed to be built with Bazel.

[2022-03-14 16:04] ChrisCummins commented on #623
cc @mostafaelhoushi

[2022-03-14 20:46] uduse commented on #619
[code]

This is a mini version of my use case. However, though this script consumes a lot of memory (100+G), it does not have the problem I described above. One possible reason is the `env.step()` and `env.fork()` never fail in this script, and potentially that's when llvm or compiler gym leaks memeory.

[2022-03-17 19:58] #623 closed, assigned to mostafaelhoushi

[2022-03-17 23:43] #536 closed, assigned to ChrisCummins

[2022-03-17 23:44] #610 closed, assigned to ChrisCummins

[2022-03-18 15:35] sogartar opened #631 "examples/loop_optimizations_service/env_tests.py::test_default_autophase_dict_observation fails"
## 🐛 Bug

On my machine the test `examples/loop_optimizations_service/env_tests.py::test_default_autophase_dict_observation` is failing with
[code]
This happens on commit d22fd363845b9f1958d7904b911516470f8d1b55.
I am not sure why it does not fail on the CI, does it even run there?

## To Reproduce

Run in source directory
[code]

## Environment

- CompilerGym:
- How you installed CompilerGym (con

[2022-03-19 08:19] Hrittik20 commented on #283
Hi @ChrisCummins, I would like to help fix this issue. Is this only applicable for "llvm_env_test.py" or other files as well?

[2022-03-20 15:54] Liu-SD opened #634 "How to keep forked env alive when the main env crashed?"
## ❓ Questions and Help

When an env crashed, its forked counterpart is also dead. How to keep the forked env alive?

for example:
[code]

[2022-03-21 09:26] ChrisCummins commented on #634
Hi @Liu-SD, good question. Unfortunately, this is not possible. The way that `fork()` works is that the two environments share the same backend ("service"), so a crash will affect both. You will need to call `reset()` once that happens. If you need the two environments to be independent, you must use `make()`:

[code]

I'll clarify the docstring for `CompilerEnv.fork` to make this clear.

Cheers,

[2022-03-21 09:26] #634 closed, assigned to ChrisCummins

[2022-03-21 13:24] ChrisCummins commented on #283
Hi @Hrittik20, great, thanks for your interest!

This task will require updating a number of methods. I've updated the "Pitch" section to list the main ones, which you will find in `compiler_gym/envs/compiler_eny.py`, but there are also subclasses and wrappers elsewhere that would need updating.

Cheers,
Chris

[2022-03-22 18:11] vladaindjic opened #635 "An Example How to Implement Fork Inside CompilationSession"
## ❓ Questions and Help

Right now, I am trying to apply a greedy search from [llvm_autotuners packages](https://github.com/facebookresearch/CompilerGym/tree/development/examples/llvm_autotuning) over a `CompilationSession` [defined by myself](https://github.com/Compiler2/compiler2/blob/master/hpctoolkit_service/service_py/example_service.py). However, I couldn't find any good example of how to im

[2022-03-22 18:32] ChrisCummins commented on #635
Hi @vladaindjic, good question. We don't have an implementation in Python. The LLVM environment's fork operator is implemented here:

https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/envs/llvm/service/LlvmSession.cc#L101-L105

For python, you should okay by just implementing this method:

https://github.com/facebookresearch/CompilerGym/blob/development/compiler_gym/ser

[2022-03-22 22:43] vladaindjic commented on #635
Hi, @ChrisCummins ,

Thank you very much for your response. Sorry for the wrong link, the repo is private indeed, but I didn't know until now.

I am not entirely sure what the `init` function does, but as I could understand, it doesn't create a new instance of the CompilationSession?

I tried to implement the fork function you reference in the following naive way (`deepcopy` the current one):
[cod

[2022-03-23 05:54] KyleHerndon commented on #584
@ChrisCummins Do you have any opinions on my proposed alternative?

Thanks,
Kyle

[2022-03-23 16:00] ChrisCummins commented on #584
Hey @KyleHerndon, sorry! This slipped through the cracks. Thanks for the ping 🙂

Okay, `main` isn't the right name. My thought was it would be useful for environments where you are only optimizing a single file, though there may be multiple files needed to compile/run an executable. Maybe this is a bit too specific to the LLVM use case.

As a workaround, how about a general `map<string, string> fe

[2022-03-23 16:16] mostafaelhoushi commented on #631
You are right... I don't think we currently run the environment tests in CI. We need to add it.

Regarding the error, I think the keys are correct but they are not in the same order. I think it can be fixed by changing:
[code]

to

[code]

[2022-03-23 16:46] ChrisCummins commented on #631
The bug is subtle. Any file with the suffix `_test.py` is matched for testing. Your file (and a couple of others) use the plural `_tests.py`, so is ignored.

Cheers,
Chris

[2022-03-23 18:06] KyleHerndon commented on #584
This new suggestion makes a lot more sense to me, and I would be fine with it as stated. It does occur to me that it may be preferable, depending on if you what you want to optimize for, to make `features` a `map<string, google.protobuf.Any>`. This would give you type safety (only at nested levels, though, not at the top level, unless you count explicitly checking the Any's type) at the expense of

[2022-03-23 22:54] ChrisCummins commented on #635
Hi @vladaindjic,

For Python, the `__init__` method is responsible for creating a new session and setting everything up. For C++, we move the heavy lifting out of the constructor and into `init()`. The idea is this enables `init()` to return an error status if it fails.

Hmm. Could you try constructing the `new_env` object and then copying over any mutable state? Hard to debug without a full code

[2022-03-23 22:57] ChrisCummins commented on #584
Cool. Can a `google.protobuf.Any` be set from the python API without having to compile any new protobufs? E.g. can you pack a string in there?

[2022-03-24 01:26] KyleHerndon commented on #584
The implementation of Any is basically just `{uri: "protobuf", bytes: ...}` with some syntax sugar in some languages (mainly the json). In python, it works out to basically just knowing what protobuf you expect to be in a particular feature field (do runtime checks on the uri/type, if you want) and then something looking sort of like ```myData = ProtobufClass.unpack(Any.bytes())```. Therefore, you

[2022-03-24 07:12] hughleat commented on #584
Aye up,

Yep, I think these seem like great proposals.
A small thing is to allow the file names to be paths in case things come from a benchmark with a dir structure. (Alternatively, just take a single archive and decompress command?)

Most of my thoughts are about supporting deployment on larger projects. E.g. suppose you want to use CompilerGym to optimise GCC or some proprietary large software

[2022-03-24 11:56] ChrisCummins commented on #584
@KyleHerndon, I see. 🙂  How about we use the `Event` message type that @sogartar introduced then, so we can repurpose our existing mechanism for transferring arbitrary payloads (including `google.protobuf.Any`)? I could imagine a util module to simplify the proto wrangling, like:

[code]

So this would make the schema:

[code]

We could even consider deprecating `dynamic_config` as that could be p

[2022-03-24 14:58] vladaindjic commented on #635
Hi @ChrisCummins

Thanks for the explanation. I was wondering what `init` in C++ does over the `__init__` in Python and you answered it.

I'll try this and provide the link to the implementation.

Hm, maybe this wasn't about the `reset` and the `step`, but I found a weird behaviour when trying [llvm_autotuners](https://github.com/facebookresearch/CompilerGym/tree/development/examples/llvm_autotuni

[2022-03-24 16:51] sogartar opened #636 "Dependencies of custom commands on custom targets in CMake do not trigger a remake"
## 🐛 Bug

From the documentation of CMake's [add_custom_command](https://cmake.org/cmake/help/latest/command/add_custom_command.html):

This is a legacy problem where custom targets are always considered dirty and rebuilt. There is only a guarantee for the order that the custom command would run after the custom target. But the custom command would not rerun if the custom target changes because th

[2022-03-24 21:01] KyleHerndon commented on #584
Regarding BenchmarkDynamicConfig, I agree. Regarding `Event` instead of `Any`, I don't. An `Event` has semantic meaning that does not correspond to a `feature` in the `Benchmark` message type, but more importantly is less legible to someone reading the code for the first time. [Any](https://developers.google.com/protocol-buffers/docs/proto3#any) is a standard format that individuals familiar with

[2022-03-25 04:05] MohamedAlmaki opened #637 "Compiler Gym results reproduction"
## ❓ Questions and Help
I was unable to reproduce the same results in Table VI in [compiler gym paper](https://arxiv.org/abs/2109.08267) using the [reproduction code example](https://github.com/facebookresearch/CompilerGym/tree/development/examples/llvm_rl). The command used to run the experiment:
[code]
I used the latest compiler gym version (0.2.3) on the latest development branch to run this ex

[2022-03-27 10:18] ChrisCummins commented on #637
Hey @MohamedAlmaki, okay, will look into this! I took a quick scan through your tensorboard logs and don't notice anything unusual.

Not sure I follow. Are both of the sets of results you report computed using the same reward? Why not use the one from the paper?

Cheers,
Chris

[2022-03-27 10:30] ChrisCummins commented on #584
I'm not so sure. An "Event", in the context of an `Action` is a catch-all for any type of action. In the context of an `Observation`, it is a catch-all for any type of features. Could we not just use the same catch-all for benchmark features?

You could retrain `Any` behavior using the `any_value` event type:

[code]

Ooh okay this sounds interesting, how does it work?

BTW, aside from splitting h

[2022-03-27 10:43] ChrisCummins commented on #635
Oh wow, please submit that as a patch! Looks like a bug to me 🙂

`env.reset()` ends the current `CompilationSession` and creates a new one. The forked one is unaffecte:

[code]

Cheers,
Chris

[2022-03-27 12:02] MohamedAlmaki commented on #637
Hey @ChrisCummins,

Thanks for your feedback.

Yeah, we used the one from the paper. But it was just unclear that the code reproduces the same results and uses another reward than the one in the paper.

Regards,
Mohammed Almakki

[2022-03-28 00:45] dejangrubisic opened #638 "Inheritance of action spaces and their subsets"
## 🚀 Feature

Is it possible to inherit LLVM action space and it's subset for a custom environment?

## Motivation

Currently, we are doing this by copying flags from LLVM action space:

llvm_env = gym.make("llvm-v0")

    action_spaces = [
        ActionSpace(
            name="llvm-hpctoolkit",
            space=Space(
                    named_discrete=NamedDiscreteSpace(
                    na

[2022-03-28 02:42] dejangrubisic opened #639 "Running rllib example with custom environment"
## ❓ Questions and Help

I am trying to run custom environment with rllib example. I have registered my Dataset, and environment, and everything works well until training part with **ray**

`tune.register_env("compiler_gym", make_training_env)`

The error is:
`(RolloutWorker pid=509716) gym.error.UnregisteredEnv: No registered env with id: perf-v0`

https://github.com/Compiler2/compiler2/blob/rlli

[2022-03-28 17:37] KyleHerndon commented on #584
I think my argument regarding JSON is stronger, but for completeness, **regarding semantics**:
Maybe I'm misunderstanding something. Lets say humanity discovers something along the lines of an RL algorithm that performs amazingly and assumes the data is formatted in a very restricted way (maybe Google publishes an algorithm that takes in any proto definition without string fields) and we want to b

[2022-03-29 19:22] ChrisCummins commented on #584
Hah, I like this argument. I think you make a good point 🙂 `Any` works for me!

Cheers,
Chris

[2022-03-29 19:25] ChrisCummins commented on #639
Hi @dejangrubisic,

I am seeing error `/lib64/libtinfo.so.5: no version information available (required by ./compiler_gym-llvm-service)` in your output. This might be a problem.

Does calling `make_env()` directly work for you?

BTW, we are running a tutorial at CGO 22 this Saturday. We'll be around live if you wanna hang out and ask questions there. Everyone welcome! 🙂

https://conf.researchr.org

[2022-03-29 19:28] ChrisCummins commented on #638
Hmm, interesting suggestion, will have to look into this. Would a `ConstrainedNamedDiscrete` solve your problem?

Cheers,
Chris

[2022-03-29 19:30] ChrisCummins commented on #637
Okay. I haven't looked at the training scripts since I open sourced them. I could try running them locally and seeing if that produces the same results as you're seeing

Cheers,
Chris

[2022-03-29 22:54] dejangrubisic commented on #639
Thanks @ChrisCummins, looking forward to your workshop on Saturday!

[code]
Returns
`Action space: NamedDiscrete([-add-discriminators, -adce, -aggressive-instcombine, -alignment-from-assumptions, -always-inline, -argpromotion, -attributor, -barrier, -bdce, -break-crit-edges, ...])
Observation space: int8_list<>[0,9223372036854775807])
Reward space: perf`

[code]
Also works and builds benchmarks

*

[2022-03-30 18:36] dejangrubisic commented on #638
Yes, as long as we are able to say:
**example_service.py**
[code]
and to use ConstrainedCommandline to constrain it.

**training_script.py**
[code]
Cheers,
Dejan

[2022-03-31 20:14] SoumyajitKarmakar commented on #451
Hi @ChrisCummins,
I would like to take a shot at fixing this problem.
I have a question and a trivial solution which might be very silly, but if this

already works, then why not just add a new argument in the function and put the first line in the function body ? Something like,

and then copy the rest of the function below it, and let it run its normal course of actions.

[2022-04-01 17:38] ChrisCummins commented on #451
Hi @SoumyajitKarmakar,

Great, thanks!

Yes, your suggestion should work. A few other things to consider though:

1. The `reset()` method of all wrappers / subclasses need to be extended to support the new arguments.
2. The new args need to be documented + tested
3. The "setter" properties should be marked as deprecated, though can be done in a follow-up PR.

Cheers,
Chris

[2022-04-01 17:47] ChrisCummins commented on #451
I'm also not sure I like the default being the string `"same"`, as it doesn't feel particularly self-documenting, and prevents the (unlikely) use of the name "same" with observation/reward spaces.

I would suggest adding a new enum to compiler_gym/util/gym_type_hints.py

[code]

The `OptionalArgumentValue.UNCHANGED` could be used as the default value and checked for using:

[code]

Cheers,
Chris

[2022-04-01 20:30] ChrisCummins commented on #638
Okay, I have a busy couple of weeks ahead but will try and carve out some time to take a look at this after.

Ping me after a while if there's no update 🙂

Cheers,
Chris

[2022-04-01 21:04] dejangrubisic commented on #638
No problem, we come up with a workaround so it is not blocking us.

See you tomorrow :)

[2022-04-01 21:12] ChrisCummins commented on #639
Okay yeah, sounds like something interesting and strange going on 🙂

Cheers,
Chris

[2022-04-02 16:49] ChrisCummins opened #646 "[🔥 Urgent] CI pre-commit job is currently failing"
## 🐛 Bug

![](https://media3.giphy.com/media/YTJXDIivNMPuNSMgc0/giphy.gif?cid=ecf05e47coh02b48nd3wunajvftotunklo0d3db5iepm7p4n&rid=giphy.gif&ct=g)

[2022-04-03 21:59] JD-ETH opened #648 "Logical Failure when combing TimeLimit Wrapper with IterateOverBenchmarks"
## 🐛 Bug

If an environment is first wrapper with TimeLimit before IterateOverBenchmarks, it will not return "done" as True.

## To Reproduce

Steps to reproduce the behavior:

[code]
This will not finish. However, if the TimeLimit happens after the Cycle, it has normal behavior.

## Additional context

Assign it to me, I will fix it when I got time.

[2022-04-04 18:32] sogartar opened #649 "Add guide on how to customize conversion to/from gRPC's Space and Event classes"
When we settle on an apporach we should have a short guide on how to customize the default conversion to/from gRPC's `Space` and `Event`.

[2022-04-06 21:30] ChrisCummins commented on #648
Good catch @JD-ETH and thanks for volunteering to patch this! 🙂

Cheers,
Chris

[2022-04-06 21:32] #646 closed, assigned to ChrisCummins

[2022-04-12 17:51] uduse opened #651 "Cache path inconsistency in cc and python?"
I noticed that theses two files are using different conventions for creating cache paths. The cc file says the python file should align with the cc file, but they are still different. Is this intended?

https://github.com/facebookresearch/CompilerGym/blob/61f460fadee2454ff8fca3bbd5a5d338854cc4a2/compiler_gym/util/runfiles_path.py#L101-L105

https://github.com/facebookresearch/CompilerGym/blob/1596

[2022-04-13 22:08] ChrisCummins commented on #651
Hi @uduse, that is a bug! Please patch the .py file. They should both be `~/.local/cache/compiler_gym`.

Thanks for the report, good catch!

Cheers,
Chris

[2022-04-14 14:54] dejangrubisic opened #653 "Seeking step without adding action to env.actions"
## 🚀 Feature

Adding some flag to the step that would enable user to execute the step, without adding action to env.actions

## Motivation

This would enable users to see what would observation and reward be if the action would be applied. This is useful when the agent gets the best action from the heuristic, and applies action, but the action is ineffective. In that case, we want to remove the ac

[2022-04-15 17:09] ChrisCummins commented on #653
Hmm, I'm actually not convinced this should be part of the core API. I think `env.actions` should be oblivious to whether the actions had any effect. If you want to "forget" actions that have no effect, this can be done using a wrapper:

[code]

(disclaimer: untested code). Usage:

[code]

Would this do what you want?

Cheers,
Chris

[2022-04-15 18:16] dejangrubisic commented on #653
You are the boss, you decide.

One use-case that DontTrackActionsWithNoEffect wouldn't cover is if you have a greedy search and you want to try say 10 actions before you take 1. Some of them will actually have an effect and you would append it to the env.actions even though this is not the one you decided to take.

I know this could probably do such a thing with a fork, but I haven't tried that ye

[2022-04-16 16:27] qibinc opened #654 "Bug in llvm_rl benchmark when setting a max_benchmarks"
https://github.com/facebookresearch/CompilerGym/blob/b803856257aa663b20a26e49125d5d603f84a9b9/examples/llvm_rl/model/benchmarks.py#L96-L98

should be

`n = min(self.max_benchmarks, n)`

[2022-04-17 04:58] ChrisCummins commented on #654
Good catch, please submit a PR!

Cheers,
Chris

[2022-04-19 20:17] ChrisCummins opened #657 "🔥 Flaky CI tests: SSL "wrong version" error"
[code]

... and similar errors

[2022-04-19 22:06] ChrisCummins commented on #653
Not sure I follow, could you post a code snippet?

Yes, if you need to "backtrack", `env.fork()` is the way to go. Something like:

[code]

Cheers,
Chris

[2022-04-20 10:18] davidmezzetti commented on #657
This sporadic but recurring issue seems to be widespread.

https://github.com/facebookresearch/detectron2/issues/4165
https://github.com/facebookresearch/demucs/issues/321
https://github.com/facebookresearch/fastText/issues/1269
https://github.com/facebookresearch/dino/issues/192

No response on any of them in terms of a resolution.

[2022-04-20 16:17] ChrisCummins commented on #657
Hi @davidmezzetti, thanks for that! Really useful context. I'll see what I can find out about this.

[2022-04-20 16:41] davidmezzetti commented on #657
Thank you! It seems like things are working as of now but it's been on and off this week.

[2022-04-20 16:41] #651 closed, assigned to ChrisCummins

[2022-04-20 17:44] dejangrubisic commented on #653
I see, thanks this will do it.

Cheers,
Dejan

[2022-04-20 17:44] #653 closed, assigned to ChrisCummins

[2022-04-20 17:53] calebho commented on #657
I'm in the midst of migrating some stuff on the backend and it seems I misconfigured something. This misconfiguration should be fixed since yesterday. Apologies for the inconvenience

[2022-04-20 17:57] ChrisCummins commented on #657
Thanks @calebho!

I'm closing this for now. I'll reopen if the issue reoccurs.

Cheers,
Chris

[2022-04-20 17:57] #657 closed, assigned to ChrisCummins

[2022-04-21 16:25] Game4Move78 opened #660 "compiler_gym.make("loop_tool-v0") produces a ServiceError in Collab"
## 🐛 Bug

Copying the [GettingStarted example](https://colab.research.google.com/github/facebookresearch/CompilerGym/blob/stable/examples/getting-started.ipynb#scrollTo=hINZesIARAXT), there is a ServiceErorr.

## To Reproduce

Steps to reproduce the behavior:

Here is a [Collab example](https://colab.research.google.com/drive/1FwL0rLnnPx52zI6eXqD81T7OV-xdx0Ss?usp=sharing). `gym.make("loop_tool-v0"

[2022-04-21 20:21] ChrisCummins commented on #660
Thanks for reporting! I confirm I can repro the problem. This also applies to the `gcc-v0` environment. I will look into this.

https://colab.research.google.com/drive/1QXO_CPkaguCqwg_SXDlczP022lEGWizD?usp=sharing

Cheers,
Chris

[2022-04-21 21:11] ChrisCummins commented on #660
Okay so there's a couple of problems going on here. The first is that the default colab runtime has CUDA, but does not have a GPU. This causes cuda initialization to fail. We can see this by running the loop_tool service binary directly in colab:

[code]

If we add a GPU to the colab runtime (Runtime >> Change runtime type >> Hardware acceleartor >> GPU), the service runs properly:

[code]

Thanks

[2022-04-26 13:02] sezgin1947 commented on #481
Hi I came across to exact same problem with same Python and same Ubuntu version.

I have solved the problem by doing following:

- Removing the the python3-debian package via sudo apt-get remove --auto-remove python3-debian and trying to install CompilerGym with python3 -m pip install compiler_gym==0.2.3

Here is the original source for the solution
https://stackoverflow.com/questions/70570309/pkg

[2022-04-26 16:53] ChrisCummins commented on #481
Hi @sezgin1947, interesting, thanks for providing your fix 🙂

Cheers,
Chris

[2022-04-27 16:22] ChrisCummins commented on #325
@KyleHerndon, are you still interested in implementing this as per the discussions in #584?

Cheers,
Chris

[2022-04-27 22:46] uduse opened #667 "Is it safe to remove everything under COMPILER_GYM_CACHE?"
## ❓ Questions and Help

In our experiments Compiler Gym always leave "benchmark-scratch-*" directories under COMPILER_GYM_CACHE, either empty or non-empty. There could be tens of thousands of such directories and sometimes takes up TBs of diskspace.

It seems that other parts of compiler gym also uses COMPILER_GYM_CACHE for other purposes. Is it safe to remove everything under COMPILER_GYM_CACHE